<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bankerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,371},{18,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>btnCall1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,745},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnCall1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,675},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnCall2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,669},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnCall2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,678},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnCall3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,648},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnCall3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,608},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnCall4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,578},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnCall4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,538},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnContinue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,605},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnContinue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,535},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnExit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,740},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnExit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,578},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnNotOut_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,740},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnNotOut_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,578},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnOut_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,508},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnOut_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,468},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnShow0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,465},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnShow0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,465},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnShow1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,465},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnShow1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,832},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnShow2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,670},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnShow2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,508},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnShow3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,832},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnShow3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,670},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnSure_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,508},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnSure_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnTips_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnTips_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnYaobuqi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,398},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnYaobuqi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,328},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>callSpr_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,625},{82,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,42}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>callSpr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,621},{82,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,42}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>callSpr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,341},{126,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,44}}</string>
                <key>sourceSize</key>
                <string>{126,44}</string>
            </dict>
            <key>callSpr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,581},{82,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,42}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>chunIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,387},{119,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{119,120}</string>
            </dict>
            <key>gend1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{308,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,72}}</string>
                <key>sourceSize</key>
                <string>{308,72}</string>
            </dict>
            <key>gend2.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,748},{61,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{61,66}</string>
            </dict>
            <key>gend3.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,391},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>gend4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{703,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{703,461}}</string>
                <key>sourceSize</key>
                <string>{703,461}</string>
            </dict>
            <key>gend5.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,76},{215,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,95}}</string>
                <key>sourceSize</key>
                <string>{215,95}</string>
            </dict>
            <key>gend6.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,208},{203,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,83}}</string>
                <key>sourceSize</key>
                <string>{203,83}</string>
            </dict>
            <key>laizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,748},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>linebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,252},{100,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,41}}</string>
                <key>sourceSize</key>
                <string>{100,41}</string>
            </dict>
            <key>linebg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,344},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,328},{22,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{22,11}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>outSpr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,535},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,295},{22,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>rankSpr0.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,295},{86,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,44}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>rankSpr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,168},{86,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,44}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>rankSpr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,122},{86,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,44}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>rankSpr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,76},{86,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,44}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>redFlower.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,320},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>singleWinPosition_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,535},{85,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,44}}</string>
                <key>sourceSize</key>
                <string>{85,44}</string>
            </dict>
            <key>singleWinPosition_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,902},{85,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,44}}</string>
                <key>sourceSize</key>
                <string>{85,44}</string>
            </dict>
            <key>tips_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,293},{203,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,33}}</string>
                <key>sourceSize</key>
                <string>{203,33}</string>
            </dict>
            <key>tips_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,173},{210,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,33}}</string>
                <key>sourceSize</key>
                <string>{210,33}</string>
            </dict>
            <key>typeName_danzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,901},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>typeName_duizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,748},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>typeName_feiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,831},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>typeName_liandui.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,718},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>typeName_sandaier.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,718},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>typeName_sandaiyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,948},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>typeName_sandaiyidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,878},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>typeName_sange.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,901},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>typeName_shunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,748},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>typeName_sidaier.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,815},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>typeName_sidailiangdui.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,831},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>typeName_wangzha.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,901},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>typeName_zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,831},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>warn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,426},{32,26}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{32,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>warn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,468},{36,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{36,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>winFlag_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,902},{115,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,65}}</string>
                <key>sourceSize</key>
                <string>{115,65}</string>
            </dict>
            <key>winFlag_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,902},{115,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,65}}</string>
                <key>sourceSize</key>
                <string>{115,65}</string>
            </dict>
            <key>word_turnScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,214},{109,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,36}}</string>
                <key>sourceSize</key>
                <string>{109,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playRes.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b224e3ed5800d96521f40d2b0d6c0db:1/1$</string>
            <key>textureFileName</key>
            <string>playRes.png</string>
        </dict>
    </dict>
</plist>
