<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bankerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,565},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,522},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>bg_seltype.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{424,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,144}}</string>
                <key>sourceSize</key>
                <string>{424,144}</string>
            </dict>
            <key>btn10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,549},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btn10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,479},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btn_YiDiaoChong.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,604},{155,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{155,52}</string>
            </dict>
            <key>btn_YingZiMo.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,550},{155,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{155,52}</string>
            </dict>
            <key>btn_angang.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,76},{97,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,94}}</string>
                <key>sourceSize</key>
                <string>{97,94}</string>
            </dict>
            <key>btn_buting.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,358},{99,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,92}}</string>
                <key>sourceSize</key>
                <string>{99,92}</string>
            </dict>
            <key>btn_cancle.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,752},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>btn_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,172},{95,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,88}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>btn_daxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,611},{99,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,88}}</string>
                <key>sourceSize</key>
                <string>{99,88}</string>
            </dict>
            <key>btn_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,666},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>btn_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,650},{95,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,86}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>btn_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,738},{87,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>btn_mingang.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,262},{99,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,94}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,686},{91,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,88}}</string>
                <key>sourceSize</key>
                <string>{91,88}</string>
            </dict>
            <key>btn_penggang.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,452},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>btn_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,544},{108,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,120}}</string>
                <key>sourceSize</key>
                <string>{108,120}</string>
            </dict>
            <key>caiShen.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,479},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>gend1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{308,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,72}}</string>
                <key>sourceSize</key>
                <string>{308,72}</string>
            </dict>
            <key>gend2.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,543},{57,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,66}}</string>
                <key>sourceSize</key>
                <string>{57,66}</string>
            </dict>
            <key>gend3.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,612},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>gend4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{703,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{703,461}}</string>
                <key>sourceSize</key>
                <string>{703,461}</string>
            </dict>
            <key>gend5.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,76},{215,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,95}}</string>
                <key>sourceSize</key>
                <string>{215,95}</string>
            </dict>
            <key>gend6.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,465},{203,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,83}}</string>
                <key>sourceSize</key>
                <string>{203,83}</string>
            </dict>
            <key>gend7.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,504},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>gendType0.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,377},{210,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,100}}</string>
                <key>sourceSize</key>
                <string>{210,100}</string>
            </dict>
            <key>gendType1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,377},{210,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,100}}</string>
                <key>sourceSize</key>
                <string>{210,100}</string>
            </dict>
            <key>gendType2.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,275},{210,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,100}}</string>
                <key>sourceSize</key>
                <string>{210,100}</string>
            </dict>
            <key>gendType3.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,173},{210,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,100}}</string>
                <key>sourceSize</key>
                <string>{210,100}</string>
            </dict>
            <key>minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,637},{22,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,11}}</string>
                <key>sourceSize</key>
                <string>{22,11}</string>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,612},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>winFlag_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,619},{115,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,65}}</string>
                <key>sourceSize</key>
                <string>{115,65}</string>
            </dict>
            <key>winFlag_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,543},{57,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,66}}</string>
                <key>sourceSize</key>
                <string>{57,66}</string>
            </dict>
            <key>winFlag_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,504},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>winFlag_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,465},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playRes.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb2a023a4be0fc6f3120976610d8b39a:1/1$</string>
            <key>textureFileName</key>
            <string>playRes.png</string>
        </dict>
    </dict>
</plist>
