<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>usp_line01.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{8,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,5}}</string>
                <key>sourceSize</key>
                <string>{8,5}</string>
            </dict>
            <key>usp_sp9_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>usp_style0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{189,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,61}}</string>
                <key>sourceSize</key>
                <string>{189,61}</string>
            </dict>
            <key>usp_style1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{189,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,61}}</string>
                <key>sourceSize</key>
                <string>{189,61}</string>
            </dict>
            <key>usp_styleChoose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,61}}</string>
                <key>sourceSize</key>
                <string>{189,61}</string>
            </dict>
            <key>usp_switchOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,191},{119,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,60}}</string>
                <key>sourceSize</key>
                <string>{119,60}</string>
            </dict>
            <key>usp_switchOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{119,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,60}}</string>
                <key>sourceSize</key>
                <string>{119,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>userSettingPop.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:647d2b4f68b129c975e6c5953a0b503b:1/1$</string>
            <key>textureFileName</key>
            <string>userSettingPop.png</string>
        </dict>
    </dict>
</plist>
