<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bankerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,381},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,463},{44,41}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,34},{44,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>bg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,289},{48,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>btn10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1279},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btn10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1209},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btn_ListenTs.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>btn_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1294},{95,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{95,88}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1306},{91,84}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{91,84}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1294},{95,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{95,86}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1282},{87,88}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{87,88}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1306},{91,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{91,88}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1180},{91,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,103}}</string>
                <key>sourceSize</key>
                <string>{91,103}</string>
            </dict>
            <key>caiShen.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,420},{44,41}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,34},{44,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>caiShenBz.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,352},{27,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,47}}</string>
                <key>sourceSize</key>
                <string>{27,47}</string>
            </dict>
            <key>gamesetBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,736},{442,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,296}}</string>
                <key>sourceSize</key>
                <string>{442,296}</string>
            </dict>
            <key>gamesetBtn1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,623},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>gamesetBtn1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,584},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>gamesetBtn2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,545},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>gamesetBtn2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,506},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>gamesetBtn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,132},{155,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{155,52}</string>
            </dict>
            <key>gend1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,662},{308,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,72}}</string>
                <key>sourceSize</key>
                <string>{308,72}</string>
            </dict>
            <key>gend2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,64},{57,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,66}}</string>
                <key>sourceSize</key>
                <string>{57,66}</string>
            </dict>
            <key>gend3.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1209},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>gend4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{703,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{703,461}}</string>
                <key>sourceSize</key>
                <string>{703,461}</string>
            </dict>
            <key>gend5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1107},{215,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,95}}</string>
                <key>sourceSize</key>
                <string>{215,95}</string>
            </dict>
            <key>gend6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1209},{203,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,83}}</string>
                <key>sourceSize</key>
                <string>{203,83}</string>
            </dict>
            <key>gend7.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1183},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>gend8.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1209},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>gend9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>gendType0.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1180},{210,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,100}}</string>
                <key>sourceSize</key>
                <string>{210,100}</string>
            </dict>
            <key>gendType1.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1107},{210,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,100}}</string>
                <key>sourceSize</key>
                <string>{210,100}</string>
            </dict>
            <key>gendType2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{210,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,100}}</string>
                <key>sourceSize</key>
                <string>{210,100}</string>
            </dict>
            <key>gendType3.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1107},{210,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,100}}</string>
                <key>sourceSize</key>
                <string>{210,100}</string>
            </dict>
            <key>minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,381},{22,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{22,11}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>mt4_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1273},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>mt4_light_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1210},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>mt4_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1184},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>mt4_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1158},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>mt4_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1132},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>mt4_light_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1282},{82,32}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,62},{82,32}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>mt4_light_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1316},{32,82}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{32,82}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>mt4_light_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1282},{32,82}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,8},{32,82}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>mt4_light_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1323},{82,32}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{82,32}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>mt4_normal_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,644},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>mt4_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,644},{20,15}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>mt4_normal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,644},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>mt4_normal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,736},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>mt4_warm.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1350},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{80,80}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1107},{22,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1107},{74,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,38}}</string>
                <key>sourceSize</key>
                <string>{74,38}</string>
            </dict>
            <key>winFlag_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1256},{115,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,65}}</string>
                <key>sourceSize</key>
                <string>{115,65}</string>
            </dict>
            <key>winFlag_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,64},{57,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,66}}</string>
                <key>sourceSize</key>
                <string>{57,66}</string>
            </dict>
            <key>winFlag_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1183},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playRes.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:446a90fbfbe68fdb67db0d14d5ed5acd:1/1$</string>
            <key>textureFileName</key>
            <string>playRes.png</string>
        </dict>
    </dict>
</plist>
