<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,234},{302,202}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{302,202}}</string>
                <key>sourceSize</key>
                <string>{334,252}</string>
            </dict>
            <key>start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,234},{302,202}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{302,202}}</string>
                <key>sourceSize</key>
                <string>{334,252}</string>
            </dict>
            <key>start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,248}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{282,248}}</string>
                <key>sourceSize</key>
                <string>{334,252}</string>
            </dict>
            <key>start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{264,234}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{264,234}}</string>
                <key>sourceSize</key>
                <string>{334,252}</string>
            </dict>
            <key>start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,252},{272,232}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{272,232}}</string>
                <key>sourceSize</key>
                <string>{334,252}</string>
            </dict>
            <key>start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{272,230}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{272,230}}</string>
                <key>sourceSize</key>
                <string>{334,252}</string>
            </dict>
            <key>start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{202,180}}</string>
                <key>offset</key>
                <string>{-20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,24},{202,180}}</string>
                <key>sourceSize</key>
                <string>{334,252}</string>
            </dict>
            <key>start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,438},{132,70}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,86},{132,70}}</string>
                <key>sourceSize</key>
                <string>{334,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animationStart.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c386a889e7ce211a2e729e1b2ae291e:1/1$</string>
            <key>textureFileName</key>
            <string>animationStart.png</string>
        </dict>
    </dict>
</plist>
