<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>SiceOne_0.png</key>
<dict>
<key>frame</key>
<string>{{762,0},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_1.png</key>
<dict>
<key>frame</key>
<string>{{883,0},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_2.png</key>
<dict>
<key>frame</key>
<string>{{290,145},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_3.png</key>
<dict>
<key>frame</key>
<string>{{392,145},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_4.png</key>
<dict>
<key>frame</key>
<string>{{494,145},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_5.png</key>
<dict>
<key>frame</key>
<string>{{596,145},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_0.png</key>
<dict>
<key>frame</key>
<string>{{698,145},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_1.png</key>
<dict>
<key>frame</key>
<string>{{800,145},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_2.png</key>
<dict>
<key>frame</key>
<string>{{902,145},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_3.png</key>
<dict>
<key>frame</key>
<string>{{0,290},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_4.png</key>
<dict>
<key>frame</key>
<string>{{102,290},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_5.png</key>
<dict>
<key>frame</key>
<string>{{204,290},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>bankerIcon.png</key>
<dict>
<key>frame</key>
<string>{{823,359},{37,45}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{37,45}}</string>
<key>sourceSize</key>
<string>{37,45}</string>
</dict>
<key>btn_lph.png</key>
<dict>
<key>frame</key>
<string>{{628,290},{155,52}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{155,52}}</string>
<key>sourceSize</key>
<string>{155,52}</string>
</dict>
<key>btn_yph.png</key>
<dict>
<key>frame</key>
<string>{{784,290},{155,52}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{155,52}}</string>
<key>sourceSize</key>
<string>{155,52}</string>
</dict>
<key>button11_1.png</key>
<dict>
<key>frame</key>
<string>{{306,290},{160,68}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{160,68}}</string>
<key>sourceSize</key>
<string>{160,68}</string>
</dict>
<key>button9_1.png</key>
<dict>
<key>frame</key>
<string>{{467,290},{160,68}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{160,68}}</string>
<key>sourceSize</key>
<string>{160,68}</string>
</dict>
<key>clockBg.png</key>
<dict>
<key>frame</key>
<string>{{0,145},{144,144}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{144,144}}</string>
<key>sourceSize</key>
<string>{144,144}</string>
</dict>
<key>clockDct.png</key>
<dict>
<key>frame</key>
<string>{{145,145},{144,144}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{144,144}}</string>
<key>sourceSize</key>
<string>{144,144}</string>
</dict>
<key>clockFont_0.png</key>
<dict>
<key>frame</key>
<string>{{1004,0},{16,19}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{16,19}}</string>
<key>sourceSize</key>
<string>{16,19}</string>
</dict>
<key>clockFont_1.png</key>
<dict>
<key>frame</key>
<string>{{1004,54},{14,19}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{14,19}}</string>
<key>sourceSize</key>
<string>{14,19}</string>
</dict>
<key>clockFont_2.png</key>
<dict>
<key>frame</key>
<string>{{1004,20},{17,17}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{17,17}}</string>
<key>sourceSize</key>
<string>{17,17}</string>
</dict>
<key>clockFont_3.png</key>
<dict>
<key>frame</key>
<string>{{1004,38},{18,15}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{18,15}}</string>
<key>sourceSize</key>
<string>{18,15}</string>
</dict>
<key>img_LaiZiPiCardBg.png</key>
<dict>
<key>frame</key>
<string>{{624,0},{94,137}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{94,137}}</string>
<key>sourceSize</key>
<string>{94,137}</string>
</dict>
<key>img_baozi.png</key>
<dict>
<key>frame</key>
<string>{{0,527},{98,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{98,62}}</string>
<key>sourceSize</key>
<string>{98,62}</string>
</dict>
<key>img_liuju.png</key>
<dict>
<key>frame</key>
<string>{{99,527},{98,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{98,62}}</string>
<key>sourceSize</key>
<string>{98,62}</string>
</dict>
<key>img_setBg.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{424,144}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{424,144}}</string>
<key>sourceSize</key>
<string>{424,144}</string>
</dict>
<key>img_shidian.png</key>
<dict>
<key>frame</key>
<string>{{198,527},{98,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{98,62}}</string>
<key>sourceSize</key>
<string>{98,62}</string>
</dict>
<key>laizi.png</key>
<dict>
<key>frame</key>
<string>{{898,359},{31,28}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{31,28}}</string>
<key>sourceSize</key>
<string>{31,28}</string>
</dict>
<key>leftCardBg.png</key>
<dict>
<key>frame</key>
<string>{{425,116},{80,26}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{80,26}}</string>
<key>sourceSize</key>
<string>{80,26}</string>
</dict>
<key>outcardBg.png</key>
<dict>
<key>frame</key>
<string>{{88,411},{73,105}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{73,105}}</string>
<key>sourceSize</key>
<string>{73,105}</string>
</dict>
<key>outpointer1.png</key>
<dict>
<key>frame</key>
<string>{{989,290},{28,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{28,34}}</string>
<key>sourceSize</key>
<string>{28,34}</string>
</dict>
<key>outpointer2.png</key>
<dict>
<key>frame</key>
<string>{{869,359},{28,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{28,34}}</string>
<key>sourceSize</key>
<string>{28,34}</string>
</dict>
<key>selectChiBg.png</key>
<dict>
<key>frame</key>
<string>{{425,0},{198,115}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{198,115}}</string>
<key>sourceSize</key>
<string>{198,115}</string>
</dict>
<key>selectGangBg.png</key>
<dict>
<key>frame</key>
<string>{{0,411},{87,115}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{87,115}}</string>
<key>sourceSize</key>
<string>{87,115}</string>
</dict>
<key>shaizi_anmi1.png</key>
<dict>
<key>frame</key>
<string>{{940,290},{48,45}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{48,45}}</string>
<key>sourceSize</key>
<string>{48,45}</string>
</dict>
<key>shaizi_anmi10.png</key>
<dict>
<key>frame</key>
<string>{{608,359},{107,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{107,40}}</string>
<key>sourceSize</key>
<string>{107,40}</string>
</dict>
<key>shaizi_anmi11.png</key>
<dict>
<key>frame</key>
<string>{{162,475},{103,41}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{103,41}}</string>
<key>sourceSize</key>
<string>{103,41}</string>
</dict>
<key>shaizi_anmi12.png</key>
<dict>
<key>frame</key>
<string>{{716,359},{106,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{106,40}}</string>
<key>sourceSize</key>
<string>{106,40}</string>
</dict>
<key>shaizi_anmi13.png</key>
<dict>
<key>frame</key>
<string>{{609,411},{104,49}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{104,49}}</string>
<key>sourceSize</key>
<string>{104,49}</string>
</dict>
<key>shaizi_anmi14.png</key>
<dict>
<key>frame</key>
<string>{{512,527},{103,42}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{103,42}}</string>
<key>sourceSize</key>
<string>{103,42}</string>
</dict>
<key>shaizi_anmi15.png</key>
<dict>
<key>frame</key>
<string>{{406,527},{105,42}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{105,42}}</string>
<key>sourceSize</key>
<string>{105,42}</string>
</dict>
<key>shaizi_anmi16.png</key>
<dict>
<key>frame</key>
<string>{{297,527},{108,42}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{108,42}}</string>
<key>sourceSize</key>
<string>{108,42}</string>
</dict>
<key>shaizi_anmi2.png</key>
<dict>
<key>frame</key>
<string>{{162,411},{113,63}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{113,63}}</string>
<key>sourceSize</key>
<string>{113,63}</string>
</dict>
<key>shaizi_anmi3.png</key>
<dict>
<key>frame</key>
<string>{{388,411},{109,57}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{109,57}}</string>
<key>sourceSize</key>
<string>{109,57}</string>
</dict>
<key>shaizi_anmi4.png</key>
<dict>
<key>frame</key>
<string>{{499,359},{108,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{108,40}}</string>
<key>sourceSize</key>
<string>{108,40}</string>
</dict>
<key>shaizi_anmi5.png</key>
<dict>
<key>frame</key>
<string>{{276,411},{111,57}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{111,57}}</string>
<key>sourceSize</key>
<string>{111,57}</string>
</dict>
<key>shaizi_anmi6.png</key>
<dict>
<key>frame</key>
<string>{{498,411},{110,52}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{110,52}}</string>
<key>sourceSize</key>
<string>{110,52}</string>
</dict>
<key>shaizi_anmi7.png</key>
<dict>
<key>frame</key>
<string>{{817,411},{106,47}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{106,47}}</string>
<key>sourceSize</key>
<string>{106,47}</string>
</dict>
<key>shaizi_anmi8.png</key>
<dict>
<key>frame</key>
<string>{{924,411},{100,43}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{100,43}}</string>
<key>sourceSize</key>
<string>{100,43}</string>
</dict>
<key>shaizi_anmi9.png</key>
<dict>
<key>frame</key>
<string>{{714,411},{102,49}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{102,49}}</string>
<key>sourceSize</key>
<string>{102,49}</string>
</dict>
<key>waitStart.png</key>
<dict>
<key>frame</key>
<string>{{306,359},{192,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{192,40}}</string>
<key>sourceSize</key>
<string>{192,40}</string>
</dict>
<key>weaveDctB.png</key>
<dict>
<key>frame</key>
<string>{{506,116},{26,27}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{26,27}}</string>
<key>sourceSize</key>
<string>{26,27}</string>
</dict>
<key>weaveDctS.png</key>
<dict>
<key>frame</key>
<string>{{1004,74},{14,14}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{14,14}}</string>
<key>sourceSize</key>
<string>{14,14}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>gameres_0.png</string>
<key>size</key>
<string>{1024,1024}</string>
<key>TextureFileName</key>
<string>gameres_0.png</string>
</dict>
</dict>
</plist>
