<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>km_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,155}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{252,155}}</string>
                <key>sourceSize</key>
                <string>{252,211}</string>
            </dict>
            <key>km_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,734},{182,109}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,54},{182,109}}</string>
                <key>sourceSize</key>
                <string>{252,211}</string>
            </dict>
            <key>km_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,859},{182,109}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,54},{182,109}}</string>
                <key>sourceSize</key>
                <string>{252,211}</string>
            </dict>
            <key>km_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{216,133}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,42},{216,133}}</string>
                <key>sourceSize</key>
                <string>{252,211}</string>
            </dict>
            <key>km_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,330},{198,209}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{198,209}}</string>
                <key>sourceSize</key>
                <string>{252,211}</string>
            </dict>
            <key>km_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,530},{202,205}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{202,205}}</string>
                <key>sourceSize</key>
                <string>{252,211}</string>
            </dict>
            <key>km_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,137},{212,191}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{212,191}}</string>
                <key>sourceSize</key>
                <string>{252,211}</string>
            </dict>
            <key>km_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{208,179}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{208,179}}</string>
                <key>sourceSize</key>
                <string>{252,211}</string>
            </dict>
            <key>km_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{182,143}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,43},{182,143}}</string>
                <key>sourceSize</key>
                <string>{252,211}</string>
            </dict>
            <key>km_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{182,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,20},{182,171}}</string>
                <key>sourceSize</key>
                <string>{252,211}</string>
            </dict>
            <key>km_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{210,199}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{210,199}}</string>
                <key>sourceSize</key>
                <string>{252,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animationKM.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71738f119c4a290fa7e8dc1f09a505f6:1/1$</string>
            <key>textureFileName</key>
            <string>animationKM.png</string>
        </dict>
    </dict>
</plist>
