<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>SiceOne_0.png</key>
<dict>
<key>frame</key>
<string>{{624,0},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_1.png</key>
<dict>
<key>frame</key>
<string>{{745,0},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_2.png</key>
<dict>
<key>frame</key>
<string>{{866,0},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_3.png</key>
<dict>
<key>frame</key>
<string>{{290,244},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_4.png</key>
<dict>
<key>frame</key>
<string>{{392,244},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_5.png</key>
<dict>
<key>frame</key>
<string>{{494,244},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_0.png</key>
<dict>
<key>frame</key>
<string>{{596,244},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_1.png</key>
<dict>
<key>frame</key>
<string>{{698,244},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_2.png</key>
<dict>
<key>frame</key>
<string>{{800,244},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_3.png</key>
<dict>
<key>frame</key>
<string>{{902,244},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_4.png</key>
<dict>
<key>frame</key>
<string>{{0,389},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_5.png</key>
<dict>
<key>frame</key>
<string>{{102,389},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>bankerIcon.png</key>
<dict>
<key>frame</key>
<string>{{715,205},{37,45}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{37,45}}</string>
<key>sourceSize</key>
<string>{37,45}</string>
</dict>
<key>bg_top.png</key>
<dict>
<key>frame</key>
<string>{{0,145},{747,59}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{747,59}}</string>
<key>sourceSize</key>
<string>{747,59}</string>
</dict>
<key>btn_gen.png</key>
<dict>
<key>frame</key>
<string>{{748,145},{155,52}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{155,52}}</string>
<key>sourceSize</key>
<string>{155,52}</string>
</dict>
<key>btn_mengpai.png</key>
<dict>
<key>frame</key>
<string>{{526,389},{155,52}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{155,52}}</string>
<key>sourceSize</key>
<string>{155,52}</string>
</dict>
<key>buhuaNum_0.png</key>
<dict>
<key>frame</key>
<string>{{779,116},{16,14}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{16,14}}</string>
<key>sourceSize</key>
<string>{16,14}</string>
</dict>
<key>buhuaNum_1.png</key>
<dict>
<key>frame</key>
<string>{{1014,0},{9,17}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{9,17}}</string>
<key>sourceSize</key>
<string>{9,17}</string>
</dict>
<key>buhuaNum_2.png</key>
<dict>
<key>frame</key>
<string>{{634,116},{16,17}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{16,17}}</string>
<key>sourceSize</key>
<string>{16,17}</string>
</dict>
<key>buhuaNum_3.png</key>
<dict>
<key>frame</key>
<string>{{707,116},{15,17}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{15,17}}</string>
<key>sourceSize</key>
<string>{15,17}</string>
</dict>
<key>buhuaNum_4.png</key>
<dict>
<key>frame</key>
<string>{{651,116},{16,17}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{16,17}}</string>
<key>sourceSize</key>
<string>{16,17}</string>
</dict>
<key>buhuaNum_5.png</key>
<dict>
<key>frame</key>
<string>{{725,116},{15,17}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{15,17}}</string>
<key>sourceSize</key>
<string>{15,17}</string>
</dict>
<key>buhuaNum_6.png</key>
<dict>
<key>frame</key>
<string>{{743,116},{15,17}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{15,17}}</string>
<key>sourceSize</key>
<string>{15,17}</string>
</dict>
<key>buhuaNum_7.png</key>
<dict>
<key>frame</key>
<string>{{761,116},{14,17}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{14,17}}</string>
<key>sourceSize</key>
<string>{14,17}</string>
</dict>
<key>buhuaNum_8.png</key>
<dict>
<key>frame</key>
<string>{{577,116},{18,17}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{18,17}}</string>
<key>sourceSize</key>
<string>{18,17}</string>
</dict>
<key>button11_1.png</key>
<dict>
<key>frame</key>
<string>{{204,389},{160,68}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{160,68}}</string>
<key>sourceSize</key>
<string>{160,68}</string>
</dict>
<key>button9_1.png</key>
<dict>
<key>frame</key>
<string>{{365,389},{160,68}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{160,68}}</string>
<key>sourceSize</key>
<string>{160,68}</string>
</dict>
<key>clockBg.png</key>
<dict>
<key>frame</key>
<string>{{0,244},{144,144}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{144,144}}</string>
<key>sourceSize</key>
<string>{144,144}</string>
</dict>
<key>clockDct.png</key>
<dict>
<key>frame</key>
<string>{{145,244},{144,144}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{144,144}}</string>
<key>sourceSize</key>
<string>{144,144}</string>
</dict>
<key>clockFont_0.png</key>
<dict>
<key>frame</key>
<string>{{596,116},{16,19}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{16,19}}</string>
<key>sourceSize</key>
<string>{16,19}</string>
</dict>
<key>clockFont_1.png</key>
<dict>
<key>frame</key>
<string>{{687,116},{14,19}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{14,19}}</string>
<key>sourceSize</key>
<string>{14,19}</string>
</dict>
<key>clockFont_2.png</key>
<dict>
<key>frame</key>
<string>{{616,116},{17,17}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{17,17}}</string>
<key>sourceSize</key>
<string>{17,17}</string>
</dict>
<key>clockFont_3.png</key>
<dict>
<key>frame</key>
<string>{{668,116},{18,15}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{18,15}}</string>
<key>sourceSize</key>
<string>{18,15}</string>
</dict>
<key>img_setBg.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{424,144}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{424,144}}</string>
<key>sourceSize</key>
<string>{424,144}</string>
</dict>
<key>img_tip.png</key>
<dict>
<key>frame</key>
<string>{{0,205},{714,38}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{714,38}}</string>
<key>sourceSize</key>
<string>{714,38}</string>
</dict>
<key>laizi.png</key>
<dict>
<key>frame</key>
<string>{{495,116},{31,28}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{31,28}}</string>
<key>sourceSize</key>
<string>{31,28}</string>
</dict>
<key>leftCardBg.png</key>
<dict>
<key>frame</key>
<string>{{987,0},{80,26}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{80,26}}</string>
<key>sourceSize</key>
<string>{80,26}</string>
</dict>
<key>outcardBg.png</key>
<dict>
<key>frame</key>
<string>{{88,510},{73,105}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{73,105}}</string>
<key>sourceSize</key>
<string>{73,105}</string>
</dict>
<key>outpointer1.png</key>
<dict>
<key>frame</key>
<string>{{425,116},{28,34}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{28,34}}</string>
<key>sourceSize</key>
<string>{28,34}</string>
</dict>
<key>outpointer2.png</key>
<dict>
<key>frame</key>
<string>{{460,116},{28,34}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{28,34}}</string>
<key>sourceSize</key>
<string>{28,34}</string>
</dict>
<key>selectChiBg.png</key>
<dict>
<key>frame</key>
<string>{{425,0},{198,115}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{198,115}}</string>
<key>sourceSize</key>
<string>{198,115}</string>
</dict>
<key>selectGangBg.png</key>
<dict>
<key>frame</key>
<string>{{0,510},{87,115}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{87,115}}</string>
<key>sourceSize</key>
<string>{87,115}</string>
</dict>
<key>shaizi_anmi1.png</key>
<dict>
<key>frame</key>
<string>{{0,626},{48,45}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{48,45}}</string>
<key>sourceSize</key>
<string>{48,45}</string>
</dict>
<key>shaizi_anmi10.png</key>
<dict>
<key>frame</key>
<string>{{838,458},{107,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{107,40}}</string>
<key>sourceSize</key>
<string>{107,40}</string>
</dict>
<key>shaizi_anmi11.png</key>
<dict>
<key>frame</key>
<string>{{162,574},{103,41}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{103,41}}</string>
<key>sourceSize</key>
<string>{103,41}</string>
</dict>
<key>shaizi_anmi12.png</key>
<dict>
<key>frame</key>
<string>{{599,510},{106,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{106,40}}</string>
<key>sourceSize</key>
<string>{106,40}</string>
</dict>
<key>shaizi_anmi13.png</key>
<dict>
<key>frame</key>
<string>{{204,458},{104,49}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{104,49}}</string>
<key>sourceSize</key>
<string>{104,49}</string>
</dict>
<key>shaizi_anmi14.png</key>
<dict>
<key>frame</key>
<string>{{734,458},{103,42}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{103,42}}</string>
<key>sourceSize</key>
<string>{103,42}</string>
</dict>
<key>shaizi_anmi15.png</key>
<dict>
<key>frame</key>
<string>{{628,458},{105,42}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{105,42}}</string>
<key>sourceSize</key>
<string>{105,42}</string>
</dict>
<key>shaizi_anmi16.png</key>
<dict>
<key>frame</key>
<string>{{519,458},{108,42}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{108,42}}</string>
<key>sourceSize</key>
<string>{108,42}</string>
</dict>
<key>shaizi_anmi2.png</key>
<dict>
<key>frame</key>
<string>{{162,510},{113,63}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{113,63}}</string>
<key>sourceSize</key>
<string>{113,63}</string>
</dict>
<key>shaizi_anmi3.png</key>
<dict>
<key>frame</key>
<string>{{388,510},{109,57}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{109,57}}</string>
<key>sourceSize</key>
<string>{109,57}</string>
</dict>
<key>shaizi_anmi4.png</key>
<dict>
<key>frame</key>
<string>{{875,389},{108,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{108,40}}</string>
<key>sourceSize</key>
<string>{108,40}</string>
</dict>
<key>shaizi_anmi5.png</key>
<dict>
<key>frame</key>
<string>{{276,510},{111,57}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{111,57}}</string>
<key>sourceSize</key>
<string>{111,57}</string>
</dict>
<key>shaizi_anmi6.png</key>
<dict>
<key>frame</key>
<string>{{904,145},{110,52}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{110,52}}</string>
<key>sourceSize</key>
<string>{110,52}</string>
</dict>
<key>shaizi_anmi7.png</key>
<dict>
<key>frame</key>
<string>{{412,458},{106,47}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{106,47}}</string>
<key>sourceSize</key>
<string>{106,47}</string>
</dict>
<key>shaizi_anmi8.png</key>
<dict>
<key>frame</key>
<string>{{498,510},{100,43}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{100,43}}</string>
<key>sourceSize</key>
<string>{100,43}</string>
</dict>
<key>shaizi_anmi9.png</key>
<dict>
<key>frame</key>
<string>{{309,458},{102,49}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{102,49}}</string>
<key>sourceSize</key>
<string>{102,49}</string>
</dict>
<key>waitStart.png</key>
<dict>
<key>frame</key>
<string>{{682,389},{192,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{192,40}}</string>
<key>sourceSize</key>
<string>{192,40}</string>
</dict>
<key>weaveDctB.png</key>
<dict>
<key>frame</key>
<string>{{987,81},{26,27}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{26,27}}</string>
<key>sourceSize</key>
<string>{26,27}</string>
</dict>
<key>weaveDctS.png</key>
<dict>
<key>frame</key>
<string>{{796,116},{14,14}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{14,14}}</string>
<key>sourceSize</key>
<string>{14,14}</string>
</dict>
<key>yehua.png</key>
<dict>
<key>frame</key>
<string>{{527,116},{24,22}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{24,22}}</string>
<key>sourceSize</key>
<string>{24,22}</string>
</dict>
<key>zhenghua.png</key>
<dict>
<key>frame</key>
<string>{{552,116},{24,22}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{24,22}}</string>
<key>sourceSize</key>
<string>{24,22}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>gameres_0.png</string>
<key>size</key>
<string>{1024,1024}</string>
<key>TextureFileName</key>
<string>gameres_0.png</string>
</dict>
</dict>
</plist>
