<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>amt_baozi1.png</key>
<dict>
<key>frame</key>
<string>{{306,404},{260,245}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,245}}</string>
<key>sourceSize</key>
<string>{260,245}</string>
</dict>
<key>amt_baozi2.png</key>
<dict>
<key>frame</key>
<string>{{567,404},{260,245}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,245}}</string>
<key>sourceSize</key>
<string>{260,245}</string>
</dict>
<key>amt_dasixi1.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{305,403}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{305,403}}</string>
<key>sourceSize</key>
<string>{305,403}</string>
</dict>
<key>amt_dasixi2.png</key>
<dict>
<key>frame</key>
<string>{{306,0},{305,403}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{305,403}}</string>
<key>sourceSize</key>
<string>{305,403}</string>
</dict>
<key>amt_dasixi3.png</key>
<dict>
<key>frame</key>
<string>{{612,0},{305,403}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{305,403}}</string>
<key>sourceSize</key>
<string>{305,403}</string>
</dict>
<key>amt_dasixi4.png</key>
<dict>
<key>frame</key>
<string>{{0,404},{305,403}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{305,403}}</string>
<key>sourceSize</key>
<string>{305,403}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>amtKunShan_0.png</string>
<key>size</key>
<string>{1024,1024}</string>
<key>TextureFileName</key>
<string>amtKunShan_0.png</string>
</dict>
</dict>
</plist>
