<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_negative.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,465},{13,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,31}}</string>
                <key>sourceSize</key>
                <string>{13,31}</string>
            </dict>
            <key>blue_positive.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,498},{13,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,29}}</string>
                <key>sourceSize</key>
                <string>{13,29}</string>
            </dict>
            <key>btnContinue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,913},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnContinue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,751},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>first_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1001},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
            <key>first_dec.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,576},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
            <key>game_start_compare.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1075},{226,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,60}}</string>
                <key>sourceSize</key>
                <string>{226,60}</string>
            </dict>
            <key>game_start_gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1115},{119,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,198}}</string>
                <key>sourceSize</key>
                <string>{119,198}</string>
            </dict>
            <key>gend1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{308,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,72}}</string>
                <key>sourceSize</key>
                <string>{308,72}</string>
            </dict>
            <key>gend2.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1137},{61,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{61,66}</string>
            </dict>
            <key>gend3.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,576},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>gend4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{703,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{703,461}}</string>
                <key>sourceSize</key>
                <string>{703,461}</string>
            </dict>
            <key>gend5.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1145},{215,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,95}}</string>
                <key>sourceSize</key>
                <string>{215,95}</string>
            </dict>
            <key>gend6.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,608},{203,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,83}}</string>
                <key>sourceSize</key>
                <string>{203,83}</string>
            </dict>
            <key>level_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1362},{114,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,58}}</string>
                <key>sourceSize</key>
                <string>{114,58}</string>
            </dict>
            <key>level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1143},{116,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,58}}</string>
                <key>sourceSize</key>
                <string>{116,58}</string>
            </dict>
            <key>level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1199},{112,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,58}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1236},{116,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,60}}</string>
                <key>sourceSize</key>
                <string>{116,60}</string>
            </dict>
            <key>level_3_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,458},{116,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,58}}</string>
                <key>sourceSize</key>
                <string>{116,58}</string>
            </dict>
            <key>level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1321},{114,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,58}}</string>
                <key>sourceSize</key>
                <string>{114,58}</string>
            </dict>
            <key>level_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1266},{114,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,58}}</string>
                <key>sourceSize</key>
                <string>{114,58}</string>
            </dict>
            <key>level_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1205},{114,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,60}}</string>
                <key>sourceSize</key>
                <string>{114,60}</string>
            </dict>
            <key>level_6_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1137},{224,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,60}}</string>
                <key>sourceSize</key>
                <string>{224,60}</string>
            </dict>
            <key>level_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1210},{114,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,58}}</string>
                <key>sourceSize</key>
                <string>{114,58}</string>
            </dict>
            <key>level_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,286},{170,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,58}}</string>
                <key>sourceSize</key>
                <string>{170,58}</string>
            </dict>
            <key>minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,559},{22,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{22,11}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>playEffect1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1015},{236,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{236,126}}</string>
                <key>sourceSize</key>
                <string>{254,126}</string>
            </dict>
            <key>playEffect1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,947},{238,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{238,126}}</string>
                <key>sourceSize</key>
                <string>{254,126}</string>
            </dict>
            <key>playEffect1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,364},{254,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,126}}</string>
                <key>sourceSize</key>
                <string>{254,126}</string>
            </dict>
            <key>playEffect1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,236},{254,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,126}}</string>
                <key>sourceSize</key>
                <string>{254,126}</string>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1065},{22,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>score_blue_comma.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,544},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>score_shoot_title_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,935},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>score_shoot_title_dec.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,869},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>score_sum_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,181},{103,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,44}}</string>
                <key>sourceSize</key>
                <string>{103,44}</string>
            </dict>
            <key>score_sum_dec.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,76},{103,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,44}}</string>
                <key>sourceSize</key>
                <string>{103,44}</string>
            </dict>
            <key>score_yellow_comma.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,529},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>second_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,803},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>second_dec.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,737},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>shoot_boom_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,941},{112,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,104}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>shoot_boom_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,665},{160,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,246}}</string>
                <key>sourceSize</key>
                <string>{160,246}</string>
            </dict>
            <key>shoot_boom_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1075},{198,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,174}}</string>
                <key>sourceSize</key>
                <string>{198,174}</string>
            </dict>
            <key>shoot_boom_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{210,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,172}}</string>
                <key>sourceSize</key>
                <string>{210,172}</string>
            </dict>
            <key>shoot_gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,76},{264,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,158}}</string>
                <key>sourceSize</key>
                <string>{264,158}</string>
            </dict>
            <key>shoot_hole.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1259},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>shoot_hole_file.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{145,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,124}}</string>
                <key>sourceSize</key>
                <string>{145,124}</string>
            </dict>
            <key>special_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,465},{254,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,98}}</string>
                <key>sourceSize</key>
                <string>{254,98}</string>
            </dict>
            <key>special_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,921},{244,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{244,92}}</string>
                <key>sourceSize</key>
                <string>{244,100}</string>
            </dict>
            <key>special_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,827},{244,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{244,92}}</string>
                <key>sourceSize</key>
                <string>{244,100}</string>
            </dict>
            <key>special_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,757},{244,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{244,94}}</string>
                <key>sourceSize</key>
                <string>{244,100}</string>
            </dict>
            <key>special_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,853},{244,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{244,92}}</string>
                <key>sourceSize</key>
                <string>{244,100}</string>
            </dict>
            <key>special_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{393,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{393,92}}</string>
                <key>sourceSize</key>
                <string>{393,100}</string>
            </dict>
            <key>special_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,492},{252,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,98}}</string>
                <key>sourceSize</key>
                <string>{252,98}</string>
            </dict>
            <key>special_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,592},{250,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,96}}</string>
                <key>sourceSize</key>
                <string>{250,96}</string>
            </dict>
            <key>special_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,565},{252,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,98}}</string>
                <key>sourceSize</key>
                <string>{252,98}</string>
            </dict>
            <key>special_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{319,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{319,94}}</string>
                <key>sourceSize</key>
                <string>{319,100}</string>
            </dict>
            <key>special_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,847},{319,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{319,92}}</string>
                <key>sourceSize</key>
                <string>{319,100}</string>
            </dict>
            <key>special_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{391,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{391,94}}</string>
                <key>sourceSize</key>
                <string>{393,100}</string>
            </dict>
            <key>special_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{393,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{393,94}}</string>
                <key>sourceSize</key>
                <string>{393,100}</string>
            </dict>
            <key>special_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,813},{330,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,100}}</string>
                <key>sourceSize</key>
                <string>{330,100}</string>
            </dict>
            <key>special_words.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,690},{245,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,65}}</string>
                <key>sourceSize</key>
                <string>{245,65}</string>
            </dict>
            <key>third_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,671},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>third_dec.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,605},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>winFlag_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1199},{115,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,65}}</string>
                <key>sourceSize</key>
                <string>{115,65}</string>
            </dict>
            <key>winFlag_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1203},{115,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,65}}</string>
                <key>sourceSize</key>
                <string>{115,65}</string>
            </dict>
            <key>winFlag_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1143},{115,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,65}}</string>
                <key>sourceSize</key>
                <string>{115,65}</string>
            </dict>
            <key>word_turnScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,465},{109,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,36}}</string>
                <key>sourceSize</key>
                <string>{109,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playRes.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:806c569d29f411e00b37f16fb37f0b29:1/1$</string>
            <key>textureFileName</key>
            <string>playRes.png</string>
        </dict>
    </dict>
</plist>
