<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>down_user_0.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{62,93}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{62,93}}</string>
<key>sourceSize</key>
<string>{62,93}</string>
</dict>
<key>down_user_bg.png</key>
<dict>
<key>frame</key>
<string>{{63,0},{62,93}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{62,93}}</string>
<key>sourceSize</key>
<string>{62,93}</string>
</dict>
<key>down_weave_0.png</key>
<dict>
<key>frame</key>
<string>{{126,0},{55,84}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{55,84}}</string>
<key>sourceSize</key>
<string>{55,84}</string>
</dict>
<key>down_weave_bg.png</key>
<dict>
<key>frame</key>
<string>{{182,0},{55,84}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{55,84}}</string>
<key>sourceSize</key>
<string>{55,84}</string>
</dict>
<key>left_user_bg.png</key>
<dict>
<key>frame</key>
<string>{{100,346},{24,60}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{24,60}}</string>
<key>sourceSize</key>
<string>{24,60}</string>
</dict>
<key>lr_table_0.png</key>
<dict>
<key>frame</key>
<string>{{0,346},{49,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{49,40}}</string>
<key>sourceSize</key>
<string>{49,40}</string>
</dict>
<key>lr_table_bg.png</key>
<dict>
<key>frame</key>
<string>{{50,346},{49,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{49,40}}</string>
<key>sourceSize</key>
<string>{49,40}</string>
</dict>
<key>right_user_bg.png</key>
<dict>
<key>frame</key>
<string>{{161,346},{24,60}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{24,60}}</string>
<key>sourceSize</key>
<string>{24,60}</string>
</dict>
<key>up_table_0.png</key>
<dict>
<key>frame</key>
<string>{{398,283},{38,59}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{38,59}}</string>
<key>sourceSize</key>
<string>{38,59}</string>
</dict>
<key>up_table_bg.png</key>
<dict>
<key>frame</key>
<string>{{437,283},{36,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{36,55}}</string>
<key>sourceSize</key>
<string>{36,55}</string>
</dict>
<key>up_user_bg.png</key>
<dict>
<key>frame</key>
<string>{{357,283},{40,59}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{40,59}}</string>
<key>sourceSize</key>
<string>{40,59}</string>
</dict>
<key>value_1.png</key>
<dict>
<key>frame</key>
<string>{{238,0},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_17.png</key>
<dict>
<key>frame</key>
<string>{{289,0},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_18.png</key>
<dict>
<key>frame</key>
<string>{{340,0},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_19.png</key>
<dict>
<key>frame</key>
<string>{{391,0},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_2.png</key>
<dict>
<key>frame</key>
<string>{{442,0},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_20.png</key>
<dict>
<key>frame</key>
<string>{{0,94},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_21.png</key>
<dict>
<key>frame</key>
<string>{{51,94},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_22.png</key>
<dict>
<key>frame</key>
<string>{{102,94},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_23.png</key>
<dict>
<key>frame</key>
<string>{{153,94},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_24.png</key>
<dict>
<key>frame</key>
<string>{{204,94},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_25.png</key>
<dict>
<key>frame</key>
<string>{{255,94},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_3.png</key>
<dict>
<key>frame</key>
<string>{{306,94},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_33.png</key>
<dict>
<key>frame</key>
<string>{{357,94},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_34.png</key>
<dict>
<key>frame</key>
<string>{{408,94},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_35.png</key>
<dict>
<key>frame</key>
<string>{{459,94},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_36.png</key>
<dict>
<key>frame</key>
<string>{{0,157},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_37.png</key>
<dict>
<key>frame</key>
<string>{{51,157},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_38.png</key>
<dict>
<key>frame</key>
<string>{{102,157},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_39.png</key>
<dict>
<key>frame</key>
<string>{{153,157},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_4.png</key>
<dict>
<key>frame</key>
<string>{{204,157},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_40.png</key>
<dict>
<key>frame</key>
<string>{{255,157},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_41.png</key>
<dict>
<key>frame</key>
<string>{{306,157},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_49.png</key>
<dict>
<key>frame</key>
<string>{{357,157},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_5.png</key>
<dict>
<key>frame</key>
<string>{{408,157},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_50.png</key>
<dict>
<key>frame</key>
<string>{{459,157},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_51.png</key>
<dict>
<key>frame</key>
<string>{{0,220},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_52.png</key>
<dict>
<key>frame</key>
<string>{{51,220},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_53.png</key>
<dict>
<key>frame</key>
<string>{{102,220},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_54.png</key>
<dict>
<key>frame</key>
<string>{{153,220},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_55.png</key>
<dict>
<key>frame</key>
<string>{{204,220},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_6.png</key>
<dict>
<key>frame</key>
<string>{{255,220},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_65.png</key>
<dict>
<key>frame</key>
<string>{{306,220},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_66.png</key>
<dict>
<key>frame</key>
<string>{{357,220},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_67.png</key>
<dict>
<key>frame</key>
<string>{{408,220},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_68.png</key>
<dict>
<key>frame</key>
<string>{{459,220},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_69.png</key>
<dict>
<key>frame</key>
<string>{{0,283},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_7.png</key>
<dict>
<key>frame</key>
<string>{{51,283},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_70.png</key>
<dict>
<key>frame</key>
<string>{{102,283},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_71.png</key>
<dict>
<key>frame</key>
<string>{{153,283},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_72.png</key>
<dict>
<key>frame</key>
<string>{{204,283},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_8.png</key>
<dict>
<key>frame</key>
<string>{{255,283},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
<key>value_9.png</key>
<dict>
<key>frame</key>
<string>{{306,283},{50,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,62}}</string>
<key>sourceSize</key>
<string>{50,62}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>mahJongRes_0.png</string>
<key>size</key>
<string>{512,512}</string>
<key>TextureFileName</key>
<string>mahJongRes_0.png</string>
</dict>
</dict>
</plist>
