<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>gang_1.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{450,290}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{450,290}}</string>
<key>sourceSize</key>
<string>{450,290}</string>
</dict>
<key>gang_10.png</key>
<dict>
<key>frame</key>
<string>{{451,0},{450,290}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{450,290}}</string>
<key>sourceSize</key>
<string>{450,290}</string>
</dict>
<key>gang_11.png</key>
<dict>
<key>frame</key>
<string>{{902,0},{450,290}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{450,290}}</string>
<key>sourceSize</key>
<string>{450,290}</string>
</dict>
<key>gang_2.png</key>
<dict>
<key>frame</key>
<string>{{1353,0},{450,290}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{450,290}}</string>
<key>sourceSize</key>
<string>{450,290}</string>
</dict>
<key>gang_3.png</key>
<dict>
<key>frame</key>
<string>{{0,291},{450,290}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{450,290}}</string>
<key>sourceSize</key>
<string>{450,290}</string>
</dict>
<key>gang_4.png</key>
<dict>
<key>frame</key>
<string>{{451,291},{450,290}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{450,290}}</string>
<key>sourceSize</key>
<string>{450,290}</string>
</dict>
<key>gang_5.png</key>
<dict>
<key>frame</key>
<string>{{902,291},{450,290}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{450,290}}</string>
<key>sourceSize</key>
<string>{450,290}</string>
</dict>
<key>gang_6.png</key>
<dict>
<key>frame</key>
<string>{{1353,291},{450,290}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{450,290}}</string>
<key>sourceSize</key>
<string>{450,290}</string>
</dict>
<key>gang_7.png</key>
<dict>
<key>frame</key>
<string>{{0,582},{450,290}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{450,290}}</string>
<key>sourceSize</key>
<string>{450,290}</string>
</dict>
<key>gang_8.png</key>
<dict>
<key>frame</key>
<string>{{451,582},{450,290}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{450,290}}</string>
<key>sourceSize</key>
<string>{450,290}</string>
</dict>
<key>gang_9.png</key>
<dict>
<key>frame</key>
<string>{{902,582},{450,290}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{450,290}}</string>
<key>sourceSize</key>
<string>{450,290}</string>
</dict>
<key>zim_1.png</key>
<dict>
<key>frame</key>
<string>{{1353,582},{540,220}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{540,220}}</string>
<key>sourceSize</key>
<string>{540,220}</string>
</dict>
<key>zim_10.png</key>
<dict>
<key>frame</key>
<string>{{0,873},{540,220}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{540,220}}</string>
<key>sourceSize</key>
<string>{540,220}</string>
</dict>
<key>zim_11.png</key>
<dict>
<key>frame</key>
<string>{{541,873},{540,220}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{540,220}}</string>
<key>sourceSize</key>
<string>{540,220}</string>
</dict>
<key>zim_12.png</key>
<dict>
<key>frame</key>
<string>{{1082,873},{540,220}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{540,220}}</string>
<key>sourceSize</key>
<string>{540,220}</string>
</dict>
<key>zim_13.png</key>
<dict>
<key>frame</key>
<string>{{0,1094},{540,220}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{540,220}}</string>
<key>sourceSize</key>
<string>{540,220}</string>
</dict>
<key>zim_14.png</key>
<dict>
<key>frame</key>
<string>{{541,1094},{540,220}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{540,220}}</string>
<key>sourceSize</key>
<string>{540,220}</string>
</dict>
<key>zim_15.png</key>
<dict>
<key>frame</key>
<string>{{1082,1094},{540,220}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{540,220}}</string>
<key>sourceSize</key>
<string>{540,220}</string>
</dict>
<key>zim_16.png</key>
<dict>
<key>frame</key>
<string>{{0,1315},{540,220}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{540,220}}</string>
<key>sourceSize</key>
<string>{540,220}</string>
</dict>
<key>zim_2.png</key>
<dict>
<key>frame</key>
<string>{{541,1315},{540,220}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{540,220}}</string>
<key>sourceSize</key>
<string>{540,220}</string>
</dict>
<key>zim_3.png</key>
<dict>
<key>frame</key>
<string>{{1082,1315},{540,220}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{540,220}}</string>
<key>sourceSize</key>
<string>{540,220}</string>
</dict>
<key>zim_4.png</key>
<dict>
<key>frame</key>
<string>{{0,1536},{540,220}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{540,220}}</string>
<key>sourceSize</key>
<string>{540,220}</string>
</dict>
<key>zim_5.png</key>
<dict>
<key>frame</key>
<string>{{541,1536},{540,220}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{540,220}}</string>
<key>sourceSize</key>
<string>{540,220}</string>
</dict>
<key>zim_6.png</key>
<dict>
<key>frame</key>
<string>{{1082,1536},{540,220}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{540,220}}</string>
<key>sourceSize</key>
<string>{540,220}</string>
</dict>
<key>zim_7.png</key>
<dict>
<key>frame</key>
<string>{{0,1757},{540,220}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{540,220}}</string>
<key>sourceSize</key>
<string>{540,220}</string>
</dict>
<key>zim_8.png</key>
<dict>
<key>frame</key>
<string>{{541,1757},{540,220}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{540,220}}</string>
<key>sourceSize</key>
<string>{540,220}</string>
</dict>
<key>zim_9.png</key>
<dict>
<key>frame</key>
<string>{{1082,1757},{540,220}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{540,220}}</string>
<key>sourceSize</key>
<string>{540,220}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>amtOperate_0.png</string>
<key>size</key>
<string>{2048,2048}</string>
<key>TextureFileName</key>
<string>amtOperate_0.png</string>
</dict>
</dict>
</plist>
