<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gendBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,61},{1120,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1120,143}}</string>
                <key>sourceSize</key>
                <string>{1120,143}</string>
            </dict>
            <key>gendBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1148,723}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1148,723}}</string>
                <key>sourceSize</key>
                <string>{1148,723}</string>
            </dict>
            <key>gendBtnContinue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{210,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,57}}</string>
                <key>sourceSize</key>
                <string>{210,57}</string>
            </dict>
            <key>gendBtnContinue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{210,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,57}}</string>
                <key>sourceSize</key>
                <string>{210,57}</string>
            </dict>
            <key>gendDir0.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,516},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendDir1.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,488},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendDir2.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,460},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendDir3.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,432},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendFlag0.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,2},{115,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,65}}</string>
                <key>sourceSize</key>
                <string>{115,65}</string>
            </dict>
            <key>gendFlag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,61},{57,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,65}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>gendFlag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,120},{101,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,50}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>gendIcon_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,214},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>gendIcon_fan.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,404},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendIcon_fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,376},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendIcon_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,253},{37,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,26}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>gendIcon_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,348},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendIcon_xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,320},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendIcon_zong.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,292},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendTitle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,223},{581,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,113}}</string>
                <key>sourceSize</key>
                <string>{581,113}</string>
            </dict>
            <key>gendTitle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,119},{93,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>gendTitle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,223},{581,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,113}}</string>
                <key>sourceSize</key>
                <string>{581,113}</string>
            </dict>
            <key>gendTitle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,223},{581,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,113}}</string>
                <key>sourceSize</key>
                <string>{581,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameEndRes.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dea66490e5b7a531e219c72b7b78bad7:1/1$</string>
            <key>textureFileName</key>
            <string>gameEndRes.png</string>
        </dict>
    </dict>
</plist>
