<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>w1</key>
	<string>2</string>
	<key>w2</key>
	<string>4</string>
	<key>w3</key>
	<string>2</string>
	<key>w4</key>
	<string>4</string>
	<key>w5</key>
	<string>2</string>
	<key>w6</key>
	<string>2</string>
	<key>w7</key>
	<string>2</string>
	<key>w8</key>
	<string>4</string>
	<key>w9</key>
	<string>2</string>
	<key>s1</key>
	<string>4</string>
	<key>s2</key>
	<string>2</string>
	<key>s3</key>
	<string>4</string>
	<key>s4</key>
	<string>2</string>
	<key>s5</key>
	<string>4</string>
	<key>s6</key>
	<string>2</string>
	<key>s7</key>
	<string>2</string>
	<key>s8</key>
	<string>4</string>
	<key>s9</key>
	<string>2</string>
	<key>t1</key>
	<string>2</string>
	<key>t2</key>
	<string>2</string>
	<key>t3</key>
	<string>2</string>
	<key>t4</key>
	<string>2</string>
	<key>t5</key>
	<string>4</string>
	<key>t6</key>
	<string>2</string>
	<key>t7</key>
	<string>4</string>
	<key>t8</key>
	<string>2</string>
	<key>t9</key>
	<string>4</string>
	<key>z1</key>
	<string>4</string>
	<key>z2</key>
	<string>4</string>
	<key>z3</key>
	<string>4</string>
	<key>z4</key>
	<string>4</string>
	<key>z5</key>
	<string>4</string>
	<key>z6</key>
	<string>2</string>
	<key>z7</key>
	<string>4</string>
	<key>chi</key>
	<string>4</string>
	<key>peng</key>
	<string>4</string>
	<key>gang</key>
	<string>6</string>
	<key>gang_an</key>
	<string>2</string>
	<key>buhua</key>
	<string>2</string>
	<key>buhua_lian</key>
	<string>4</string>
	<key>maima</key>
	<string>2</string>
	<key>hu</key>
	<string>5</string>
	<key>zimo</key>
	<string>1</string>
	<key>2chong</key>
	<string>2</string>
	<key>4chong</key>
	<string>2</string>
	<key>8chong</key>
	<string>4</string>
	<key>hunyise</key>
	<string>2</string>
	<key>zimo_2chong</key>
	<string>2</string>
	<key>zimo_4chong</key>
	<string>2</string>
	<key>zimo_8chong</key>
	<string>4</string>
</dict>
</plist>
