<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mt4_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{136,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,83}}</string>
                <key>sourceSize</key>
                <string>{136,83}</string>
            </dict>
            <key>mt4_light_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,83},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{25,15}</string>
            </dict>
            <key>mt4_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,100},{23,13}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,13}}</string>
                <key>sourceSize</key>
                <string>{25,15}</string>
            </dict>
            <key>mt4_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,56},{25,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,11}}</string>
                <key>sourceSize</key>
                <string>{25,15}</string>
            </dict>
            <key>mt4_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,39},{25,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,15}}</string>
                <key>sourceSize</key>
                <string>{25,15}</string>
            </dict>
            <key>mt4_light_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{104,35}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,47},{104,35}}</string>
                <key>sourceSize</key>
                <string>{136,83}</string>
            </dict>
            <key>mt4_light_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,115},{46,57}}</string>
                <key>offset</key>
                <string>{-44,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{46,57}}</string>
                <key>sourceSize</key>
                <string>{136,83}</string>
            </dict>
            <key>mt4_light_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,66},{46,57}}</string>
                <key>offset</key>
                <string>{44,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,10},{46,57}}</string>
                <key>sourceSize</key>
                <string>{136,83}</string>
            </dict>
            <key>mt4_light_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,39},{86,25}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{86,25}}</string>
                <key>sourceSize</key>
                <string>{136,83}</string>
            </dict>
            <key>mt4_normal_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,69},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>mt4_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,86},{23,13}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,13}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>mt4_normal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,101},{23,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,11}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>mt4_normal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,66},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>mt4_warm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,83}}</string>
                <key>sourceSize</key>
                <string>{136,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiangTimer4D.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3524f8f3c4cdbc8db201f94a17b37a84:1/1$</string>
            <key>textureFileName</key>
            <string>majiangTimer4D.png</string>
        </dict>
    </dict>
</plist>
