<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gendBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{927,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{927,120}}</string>
                <key>sourceSize</key>
                <string>{927,120}</string>
            </dict>
            <key>gendBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{950,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{950,600}}</string>
                <key>sourceSize</key>
                <string>{950,600}</string>
            </dict>
            <key>gendBtnContinue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,885},{210,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,57}}</string>
                <key>sourceSize</key>
                <string>{210,57}</string>
            </dict>
            <key>gendBtnContinue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,885},{210,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,57}}</string>
                <key>sourceSize</key>
                <string>{210,57}</string>
            </dict>
            <key>gendDir0.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,136},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendDir1.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,121},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendDir2.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,95},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendDir3.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,69},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendFlag0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{115,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,65}}</string>
                <key>sourceSize</key>
                <string>{115,65}</string>
            </dict>
            <key>gendFlag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{57,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,65}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>gendFlag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{101,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,50}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>gendIcon_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,97},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>gendIcon_fan.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,170},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>gendIcon_fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,162},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>gendIcon_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,69},{37,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,26}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>gendIcon_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,147},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>gendIcon_zong.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,147},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>gendTitle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{452,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,90}}</string>
                <key>sourceSize</key>
                <string>{452,90}</string>
            </dict>
            <key>gendTitle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,818},{93,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>gendTitle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{452,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,90}}</string>
                <key>sourceSize</key>
                <string>{452,90}</string>
            </dict>
            <key>gendTitle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{452,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,90}}</string>
                <key>sourceSize</key>
                <string>{452,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameEndRes.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18e2111ab0bf7d143fcd6f963cf72c71:1/1$</string>
            <key>textureFileName</key>
            <string>gameEndRes.png</string>
        </dict>
    </dict>
</plist>
