<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>amt_baozi3.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{260,245}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,245}}</string>
<key>sourceSize</key>
<string>{260,245}</string>
</dict>
<key>amt_baozi4.png</key>
<dict>
<key>frame</key>
<string>{{261,0},{260,245}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,245}}</string>
<key>sourceSize</key>
<string>{260,245}</string>
</dict>
<key>amt_baozi5.png</key>
<dict>
<key>frame</key>
<string>{{522,0},{260,245}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,245}}</string>
<key>sourceSize</key>
<string>{260,245}</string>
</dict>
<key>amt_baozi6.png</key>
<dict>
<key>frame</key>
<string>{{0,246},{260,245}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,245}}</string>
<key>sourceSize</key>
<string>{260,245}</string>
</dict>
<key>amt_baozi7.png</key>
<dict>
<key>frame</key>
<string>{{261,246},{260,245}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,245}}</string>
<key>sourceSize</key>
<string>{260,245}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>amtKunShan_1.png</string>
<key>size</key>
<string>{1024,1024}</string>
<key>TextureFileName</key>
<string>amtKunShan_1.png</string>
</dict>
</dict>
</plist>
