<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{424,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,144}}</string>
                <key>sourceSize</key>
                <string>{424,144}</string>
            </dict>
            <key>canDianPao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{155,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{155,52}</string>
            </dict>
            <key>onlyZiMo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,761},{155,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{155,52}</string>
            </dict>
            <key>zm_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,605},{155,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{155,52}</string>
            </dict>
            <key>zm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,316},{155,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{155,52}</string>
            </dict>
            <key>zm_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,159},{155,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{155,52}</string>
            </dict>
            <key>zm_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{155,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{155,52}</string>
            </dict>
            <key>zm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,214}}</string>
                <key>sourceSize</key>
                <string>{424,214}</string>
            </dict>
            <key>zm_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{199,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,154}}</string>
                <key>sourceSize</key>
                <string>{199,154}</string>
            </dict>
            <key>zm_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,473},{199,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,239}}</string>
                <key>sourceSize</key>
                <string>{199,239}</string>
            </dict>
            <key>zm_bg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{269,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,239}}</string>
                <key>sourceSize</key>
                <string>{269,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baotai.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99624e47dd20588b4ac104eb39c9865a:1/1$</string>
            <key>textureFileName</key>
            <string>baotai.png</string>
        </dict>
    </dict>
</plist>
