<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,746},{270,128}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,87},{270,128}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>angang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{364,176}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,63},{364,176}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>angang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,775},{266,136}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,91},{266,136}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>angang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,490},{420,232}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,35},{420,232}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>angang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,2},{428,248}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{428,248}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>angang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{432,254}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{432,254}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>angang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,254}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{432,254}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>angang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{428,248}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{428,248}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>angang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,252},{424,244}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,29},{424,244}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>angang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,252},{420,236}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{420,236}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>angang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,258},{356,196}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,67},{356,196}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>chi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1147},{190,162}}</string>
                <key>offset</key>
                <string>{45,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,55},{190,162}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>chi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,1312},{174,146}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,88},{174,146}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>chi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1176},{198,188}}</string>
                <key>offset</key>
                <string>{41,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,62},{198,188}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>chi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,738},{276,240}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{276,240}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>chi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>chi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,493},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>chi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,456},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>chi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{174,164}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,71},{174,164}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>chi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1192},{174,164}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,71},{174,164}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>chi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,1150},{174,160}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,74},{174,160}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>guo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,805},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{101,67}</string>
            </dict>
            <key>hu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,258},{138,92}}</string>
                <key>offset</key>
                <string>{50,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,81},{138,92}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,724},{258,258}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{258,258}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,1342},{158,136}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,88},{158,136}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,1342},{158,98}}</string>
                <key>offset</key>
                <string>{36,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,66},{158,98}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,934},{208,182}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,55},{208,182}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{200,206}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,60},{200,206}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,498},{122,174}}</string>
                <key>offset</key>
                <string>{-26,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,71},{122,174}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,913},{228,232}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{228,232}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,984},{242,246}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{242,246}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,876},{244,246}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{244,246}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,902},{244,246}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{244,246}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>mingang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,746},{270,128}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,87},{270,128}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>mingang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{364,176}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,63},{364,176}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>mingang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,775},{266,136}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,91},{266,136}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>mingang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,490},{420,232}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,35},{420,232}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>mingang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,2},{428,248}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{428,248}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>mingang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{432,254}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{432,254}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>mingang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,254}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{432,254}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>mingang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{428,248}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{428,248}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>mingang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,252},{424,244}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,29},{424,244}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>mingang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,252},{420,236}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{420,236}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>mingang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,258},{356,196}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,67},{356,196}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>peng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,980},{228,210}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,56},{228,210}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,724},{208,208}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,64},{208,208}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,876},{164,150}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,86},{164,150}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1028},{162,146}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{162,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,1316},{154,138}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,94},{154,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1124},{198,188}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,69},{198,188}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,1150},{156,164}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,89},{156,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,304},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,606},{300,294}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,294}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{300,272}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,498},{272,246}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{272,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,1118},{226,222}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,46},{226,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>penggang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,746},{270,128}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,87},{270,128}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>penggang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{364,176}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,63},{364,176}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>penggang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,775},{266,136}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,91},{266,136}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>penggang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,490},{420,232}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,35},{420,232}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>penggang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,2},{428,248}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{428,248}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>penggang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{432,254}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{432,254}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>penggang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,254}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{432,254}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>penggang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{428,248}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{428,248}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>penggang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,252},{424,244}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,29},{424,244}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>penggang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,252},{420,236}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{420,236}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>penggang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,258},{356,196}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,67},{356,196}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>ting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,352},{128,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{128,139}}</string>
                <key>sourceSize</key>
                <string>{158,139}</string>
            </dict>
            <key>ting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,674},{100,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,129}}</string>
                <key>sourceSize</key>
                <string>{100,129}</string>
            </dict>
            <key>ting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1232},{189,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,242}}</string>
                <key>sourceSize</key>
                <string>{189,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animationAction.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ac04adc5e15f851818daae6b76df2fd:1/1$</string>
            <key>textureFileName</key>
            <string>animationAction.png</string>
        </dict>
    </dict>
</plist>
