<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gendBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{1120,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1120,143}}</string>
                <key>sourceSize</key>
                <string>{1120,143}</string>
            </dict>
            <key>gendBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1148,723}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1148,723}}</string>
                <key>sourceSize</key>
                <string>{1148,723}</string>
            </dict>
            <key>gendBtnContinue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,872},{210,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,57}}</string>
                <key>sourceSize</key>
                <string>{210,57}</string>
            </dict>
            <key>gendBtnContinue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,872},{210,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,57}}</string>
                <key>sourceSize</key>
                <string>{210,57}</string>
            </dict>
            <key>gendBtnStand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,939},{210,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,57}}</string>
                <key>sourceSize</key>
                <string>{210,57}</string>
            </dict>
            <key>gendBtnStand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,939},{210,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,57}}</string>
                <key>sourceSize</key>
                <string>{210,57}</string>
            </dict>
            <key>gendFenwei0.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,987},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendFenwei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,987},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendFenwei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,987},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendFenwei3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,987},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendFlag0.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,872},{115,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,65}}</string>
                <key>sourceSize</key>
                <string>{115,65}</string>
            </dict>
            <key>gendFlag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,939},{57,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,65}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>gendFlag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,872},{101,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,50}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>gendIcon_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,924},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>gendIcon_fan.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,987},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendIcon_fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,987},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendIcon_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,987},{37,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,26}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>gendIcon_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,987},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendIcon_xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,987},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendIcon_zong.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,987},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendTitle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{563,113}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{563,113}}</string>
                <key>sourceSize</key>
                <string>{581,113}</string>
            </dict>
            <key>gendTitle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,931},{93,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>gendTitle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{563,113}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{563,113}}</string>
                <key>sourceSize</key>
                <string>{581,113}</string>
            </dict>
            <key>gendTitle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{563,113}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{563,113}}</string>
                <key>sourceSize</key>
                <string>{581,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameEndRes.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:639563ab87df04b4bb30dbe31c866608:1/1$</string>
            <key>textureFileName</key>
            <string>gameEndRes.png</string>
        </dict>
    </dict>
</plist>
