<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bankerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>cf_chairEmptyIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>cf_chairSeatIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>cf_circleRope.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,76},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>cf_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,38},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>cf_fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,20},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>cf_fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>cf_fire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,49},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>cf_offLine_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,49},{24,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>cf_offLine_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,222},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>cf_readyIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{51,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,27}}</string>
                <key>sourceSize</key>
                <string>{51,29}</string>
            </dict>
            <key>cf_vipFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chairFactory.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f0008f1721fa0d4c75aba8a1b874037:1/1$</string>
            <key>textureFileName</key>
            <string>chairFactory.png</string>
        </dict>
    </dict>
</plist>
