<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mf_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,255},{38,61}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{38,61}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{58,71}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,71}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,325},{12,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{12,65}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{40,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{40,65}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{38,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{38,69}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,69},{34,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{34,65}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,188},{40,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{40,65}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,258},{40,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{40,65}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,411},{40,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{40,69}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,260},{44,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{44,67}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,265},{40,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{40,69}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,336},{38,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{38,69}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,457},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{52,53}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,390},{28,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{28,63}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{50,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{50,67}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,329},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{50,65}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{50,65}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,327},{40,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{40,65}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,73},{54,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{54,67}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,191},{38,67}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{38,67}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,71},{36,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{36,67}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,392},{52,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{52,63}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,140},{46,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{46,49}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,192},{38,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{38,71}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,142},{40,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{40,47}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,306},{40,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{40,39}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{46,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,455},{38,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{38,51}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,142},{48,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{48,47}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{48,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{48,67}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{42,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{42,73}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,71},{48,67}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{48,67}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,191},{48,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{48,67}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,325},{48,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{48,63}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,69},{48,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{48,65}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,191},{48,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{48,65}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,267},{38,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{38,71}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,260},{48,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{48,65}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,396},{44,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{44,65}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,396},{46,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,65}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,340},{42,69}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{42,69}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{40,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{40,73}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>style0_down_discard0.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>style0_down_discardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>style0_down_flower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,50},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>style0_down_flowerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>style0_down_hand0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{62,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,93}}</string>
                <key>sourceSize</key>
                <string>{62,93}</string>
            </dict>
            <key>style0_down_handBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,93}}</string>
                <key>sourceSize</key>
                <string>{62,93}</string>
            </dict>
            <key>style0_down_heap0.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,222},{25,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,38}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>style0_down_heapBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,172},{25,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,38}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>style0_down_paper0.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,116},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>style0_down_paperBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,183},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>style0_down_weave0.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,415},{49,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,70}}</string>
                <key>sourceSize</key>
                <string>{49,70}</string>
            </dict>
            <key>style0_down_weaveBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{49,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,70}}</string>
                <key>sourceSize</key>
                <string>{49,70}</string>
            </dict>
            <key>style0_left_discard0.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,269},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>style0_left_discardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,247},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>style0_left_flower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,232},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>style0_left_flowerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,195},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>style0_left_hand0.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,188},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>style0_left_handBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>style0_left_heap0.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,168},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>style0_left_heapBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,96},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>style0_left_paper0.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,250},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>style0_left_paperBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>style0_left_weave0.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,284},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>style0_left_weaveBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,273},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>style0_right_discard0.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,158},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>style0_right_discardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,121},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>style0_right_flower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,84},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>style0_right_flowerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,47},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>style0_right_hand0.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,69},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>style0_right_handBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,188},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>style0_right_heap0.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,482},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>style0_right_heapBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,482},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>style0_right_paper0.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,64},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>style0_right_paperBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,131},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>style0_right_weave0.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,238},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>style0_right_weaveBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,212},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>style0_up_discard0.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,54},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>style0_up_discardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,463},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>style0_up_flower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,463},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>style0_up_flowerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,140},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>style0_up_hand0.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,126},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>style0_up_handBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,50},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>style0_up_heap0.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,198},{25,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,38}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>style0_up_heapBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,182},{25,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,38}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>style0_up_paper0.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,136},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>style0_up_paperBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,136},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>style0_up_weave0.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,140},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>style0_up_weaveBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,98},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiangs.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4978799f52edf2f1cb6c4eb03e1fcb2e:1/1$</string>
            <key>textureFileName</key>
            <string>majiangs.png</string>
        </dict>
    </dict>
</plist>
