<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>btnBackD.png</key>
<dict>
<key>frame</key>
<string>{{942,0},{160,68}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{160,68}}</string>
<key>sourceSize</key>
<string>{160,68}</string>
</dict>
<key>btnBackN.png</key>
<dict>
<key>frame</key>
<string>{{942,161},{160,68}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{160,68}}</string>
<key>sourceSize</key>
<string>{160,68}</string>
</dict>
<key>btnGoonD.png</key>
<dict>
<key>frame</key>
<string>{{942,322},{160,68}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{160,68}}</string>
<key>sourceSize</key>
<string>{160,68}</string>
</dict>
<key>btnGoonN.png</key>
<dict>
<key>frame</key>
<string>{{531,490},{160,68}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{160,68}}</string>
<key>sourceSize</key>
<string>{160,68}</string>
</dict>
<key>btnResult.png</key>
<dict>
<key>frame</key>
<string>{{789,277},{180,130}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{180,130}}</string>
<key>sourceSize</key>
<string>{180,130}</string>
</dict>
<key>gameEndBg.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{788,489}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{788,489}}</string>
<key>sourceSize</key>
<string>{788,489}</string>
</dict>
<key>img_bg_dianpao.png</key>
<dict>
<key>frame</key>
<string>{{0,490},{180,95}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{180,95}}</string>
<key>sourceSize</key>
<string>{180,95}</string>
</dict>
<key>img_bg_fail.png</key>
<dict>
<key>frame</key>
<string>{{362,490},{168,83}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{168,83}}</string>
<key>sourceSize</key>
<string>{168,83}</string>
</dict>
<key>img_bg_win.png</key>
<dict>
<key>frame</key>
<string>{{181,490},{180,95}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{180,95}}</string>
<key>sourceSize</key>
<string>{180,95}</string>
</dict>
<key>img_dianpao.png</key>
<dict>
<key>frame</key>
<string>{{750,490},{71,37}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{71,37}}</string>
<key>sourceSize</key>
<string>{71,37}</string>
</dict>
<key>img_hu.png</key>
<dict>
<key>frame</key>
<string>{{692,490},{57,66}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{57,66}}</string>
<key>sourceSize</key>
<string>{57,66}</string>
</dict>
<key>img_huangang.png</key>
<dict>
<key>frame</key>
<string>{{892,490},{69,35}}</string>
<key>offset</key>
<string>{1,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{2,1},{69,35}}</string>
<key>sourceSize</key>
<string>{71,37}</string>
</dict>
<key>img_liuju.png</key>
<dict>
<key>frame</key>
<string>{{789,0},{276,152}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{276,152}}</string>
<key>sourceSize</key>
<string>{276,152}</string>
</dict>
<key>img_sign_plus.png</key>
<dict>
<key>frame</key>
<string>{{789,458},{20,28}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{20,28}}</string>
<key>sourceSize</key>
<string>{20,28}</string>
</dict>
<key>img_sign_sub.png</key>
<dict>
<key>frame</key>
<string>{{810,458},{20,28}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{20,28}}</string>
<key>sourceSize</key>
<string>{20,28}</string>
</dict>
<key>img_songgang.png</key>
<dict>
<key>frame</key>
<string>{{822,490},{69,36}}</string>
<key>offset</key>
<string>{1,1.0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{2,0},{69,36}}</string>
<key>sourceSize</key>
<string>{71,37}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>gameEnd_0.png</string>
<key>size</key>
<string>{1024,1024}</string>
<key>TextureFileName</key>
<string>gameEnd_0.png</string>
</dict>
</dict>
</plist>
