<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>SiceOne_0.png</key>
<dict>
<key>frame</key>
<string>{{199,60},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_1.png</key>
<dict>
<key>frame</key>
<string>{{320,60},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_2.png</key>
<dict>
<key>frame</key>
<string>{{441,60},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_3.png</key>
<dict>
<key>frame</key>
<string>{{562,60},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_4.png</key>
<dict>
<key>frame</key>
<string>{{683,60},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_5.png</key>
<dict>
<key>frame</key>
<string>{{804,60},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_0.png</key>
<dict>
<key>frame</key>
<string>{{290,176},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_1.png</key>
<dict>
<key>frame</key>
<string>{{392,176},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_2.png</key>
<dict>
<key>frame</key>
<string>{{494,176},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_3.png</key>
<dict>
<key>frame</key>
<string>{{596,176},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_4.png</key>
<dict>
<key>frame</key>
<string>{{698,176},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_5.png</key>
<dict>
<key>frame</key>
<string>{{800,176},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>bankerIcon.png</key>
<dict>
<key>frame</key>
<string>{{941,0},{37,45}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{37,45}}</string>
<key>sourceSize</key>
<string>{37,45}</string>
</dict>
<key>bg_top.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{747,59}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{747,59}}</string>
<key>sourceSize</key>
<string>{747,59}</string>
</dict>
<key>button11_1.png</key>
<dict>
<key>frame</key>
<string>{{0,321},{160,68}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{160,68}}</string>
<key>sourceSize</key>
<string>{160,68}</string>
</dict>
<key>button9_1.png</key>
<dict>
<key>frame</key>
<string>{{161,321},{160,68}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{160,68}}</string>
<key>sourceSize</key>
<string>{160,68}</string>
</dict>
<key>clockBg.png</key>
<dict>
<key>frame</key>
<string>{{0,176},{144,144}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{144,144}}</string>
<key>sourceSize</key>
<string>{144,144}</string>
</dict>
<key>clockDct.png</key>
<dict>
<key>frame</key>
<string>{{145,176},{144,144}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{144,144}}</string>
<key>sourceSize</key>
<string>{144,144}</string>
</dict>
<key>clockFont_0.png</key>
<dict>
<key>frame</key>
<string>{{748,41},{16,19}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{16,19}}</string>
<key>sourceSize</key>
<string>{16,19}</string>
</dict>
<key>clockFont_1.png</key>
<dict>
<key>frame</key>
<string>{{805,41},{14,19}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{14,19}}</string>
<key>sourceSize</key>
<string>{14,19}</string>
</dict>
<key>clockFont_2.png</key>
<dict>
<key>frame</key>
<string>{{768,41},{17,17}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{17,17}}</string>
<key>sourceSize</key>
<string>{17,17}</string>
</dict>
<key>clockFont_3.png</key>
<dict>
<key>frame</key>
<string>{{786,41},{18,15}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{18,15}}</string>
<key>sourceSize</key>
<string>{18,15}</string>
</dict>
<key>laizi.png</key>
<dict>
<key>frame</key>
<string>{{234,438},{31,28}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{31,28}}</string>
<key>sourceSize</key>
<string>{31,28}</string>
</dict>
<key>leftCardBg.png</key>
<dict>
<key>frame</key>
<string>{{644,390},{105,26}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{105,26}}</string>
<key>sourceSize</key>
<string>{105,26}</string>
</dict>
<key>outcardBg.png</key>
<dict>
<key>frame</key>
<string>{{902,176},{73,105}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{73,105}}</string>
<key>sourceSize</key>
<string>{73,105}</string>
</dict>
<key>outpointer1.png</key>
<dict>
<key>frame</key>
<string>{{987,0},{28,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{28,34}}</string>
<key>sourceSize</key>
<string>{28,34}</string>
</dict>
<key>outpointer2.png</key>
<dict>
<key>frame</key>
<string>{{205,438},{28,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{28,34}}</string>
<key>sourceSize</key>
<string>{28,34}</string>
</dict>
<key>selectChiBg.png</key>
<dict>
<key>frame</key>
<string>{{0,60},{198,115}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{198,115}}</string>
<key>sourceSize</key>
<string>{198,115}</string>
</dict>
<key>selectGangBg.png</key>
<dict>
<key>frame</key>
<string>{{925,60},{87,115}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{87,115}}</string>
<key>sourceSize</key>
<string>{87,115}</string>
</dict>
<key>shaizi_anmi1.png</key>
<dict>
<key>frame</key>
<string>{{977,321},{48,45}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{48,45}}</string>
<key>sourceSize</key>
<string>{48,45}</string>
</dict>
<key>shaizi_anmi10.png</key>
<dict>
<key>frame</key>
<string>{{429,390},{107,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{107,40}}</string>
<key>sourceSize</key>
<string>{107,40}</string>
</dict>
<key>shaizi_anmi11.png</key>
<dict>
<key>frame</key>
<string>{{101,438},{103,41}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{103,41}}</string>
<key>sourceSize</key>
<string>{103,41}</string>
</dict>
<key>shaizi_anmi12.png</key>
<dict>
<key>frame</key>
<string>{{537,390},{106,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{106,40}}</string>
<key>sourceSize</key>
<string>{106,40}</string>
</dict>
<key>shaizi_anmi13.png</key>
<dict>
<key>frame</key>
<string>{{769,321},{104,49}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{104,49}}</string>
<key>sourceSize</key>
<string>{104,49}</string>
</dict>
<key>shaizi_anmi14.png</key>
<dict>
<key>frame</key>
<string>{{216,390},{103,42}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{103,42}}</string>
<key>sourceSize</key>
<string>{103,42}</string>
</dict>
<key>shaizi_anmi15.png</key>
<dict>
<key>frame</key>
<string>{{976,176},{105,42}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{105,42}}</string>
<key>sourceSize</key>
<string>{105,42}</string>
</dict>
<key>shaizi_anmi16.png</key>
<dict>
<key>frame</key>
<string>{{107,390},{108,42}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{108,42}}</string>
<key>sourceSize</key>
<string>{108,42}</string>
</dict>
<key>shaizi_anmi2.png</key>
<dict>
<key>frame</key>
<string>{{322,321},{113,63}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{113,63}}</string>
<key>sourceSize</key>
<string>{113,63}</string>
</dict>
<key>shaizi_anmi3.png</key>
<dict>
<key>frame</key>
<string>{{548,321},{109,57}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{109,57}}</string>
<key>sourceSize</key>
<string>{109,57}</string>
</dict>
<key>shaizi_anmi4.png</key>
<dict>
<key>frame</key>
<string>{{320,390},{108,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{108,40}}</string>
<key>sourceSize</key>
<string>{108,40}</string>
</dict>
<key>shaizi_anmi5.png</key>
<dict>
<key>frame</key>
<string>{{436,321},{111,57}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{111,57}}</string>
<key>sourceSize</key>
<string>{111,57}</string>
</dict>
<key>shaizi_anmi6.png</key>
<dict>
<key>frame</key>
<string>{{658,321},{110,52}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{110,52}}</string>
<key>sourceSize</key>
<string>{110,52}</string>
</dict>
<key>shaizi_anmi7.png</key>
<dict>
<key>frame</key>
<string>{{0,390},{106,47}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{106,47}}</string>
<key>sourceSize</key>
<string>{106,47}</string>
</dict>
<key>shaizi_anmi8.png</key>
<dict>
<key>frame</key>
<string>{{0,438},{100,43}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{100,43}}</string>
<key>sourceSize</key>
<string>{100,43}</string>
</dict>
<key>shaizi_anmi9.png</key>
<dict>
<key>frame</key>
<string>{{874,321},{102,49}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{102,49}}</string>
<key>sourceSize</key>
<string>{102,49}</string>
</dict>
<key>waitStart.png</key>
<dict>
<key>frame</key>
<string>{{748,0},{192,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{192,40}}</string>
<key>sourceSize</key>
<string>{192,40}</string>
</dict>
<key>weaveDctB.png</key>
<dict>
<key>frame</key>
<string>{{750,390},{26,27}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{26,27}}</string>
<key>sourceSize</key>
<string>{26,27}</string>
</dict>
<key>weaveDctS.png</key>
<dict>
<key>frame</key>
<string>{{825,41},{14,14}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{14,14}}</string>
<key>sourceSize</key>
<string>{14,14}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>gameres_0.png</string>
<key>size</key>
<string>{1024,512}</string>
<key>TextureFileName</key>
<string>gameres_0.png</string>
</dict>
</dict>
</plist>
