<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_anbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{91,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,94}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_angang.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,180},{97,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,94}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{89,92}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{89,92}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_buting.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{99,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{99,92}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_buting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,94},{99,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{99,84}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_buyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,98},{95,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{95,86}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_cancle.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,378},{85,94}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{95,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{95,88}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_chupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,186},{91,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,94}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_daxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,94},{99,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{99,88}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,274},{91,84}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{91,84}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,98},{95,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{95,86}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{85,94}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_minbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,278},{89,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{89,94}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_mingang.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{99,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,94}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,184},{91,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{91,88}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_pengbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,182},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_penggang.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{99,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_qishouhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,94}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,276},{85,90}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{85,90}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_ting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{99,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_xiaoxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,96},{99,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{99,84}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,282},{89,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{89,92}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>chooseIcon_anbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,409},{42,41}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>chooseIcon_angang.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,452},{42,41}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>chooseIcon_bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,409},{42,41}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>chooseIcon_centerchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,452},{42,41}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>chooseIcon_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,409},{42,41}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>chooseIcon_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,446},{42,41}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>chooseIcon_leftchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,403},{42,41}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>chooseIcon_minbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,446},{42,41}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>chooseIcon_mingang.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,403},{42,41}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>chooseIcon_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,458},{42,41}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>chooseIcon_pengbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,415},{42,41}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>chooseIcon_penggang.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,458},{42,41}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>chooseIcon_rightchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,415},{42,41}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>playerStatus_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,474},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>playerStatus_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>playerStatus_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,474},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>weaveIcon_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,360},{62,41}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{62,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>weaveIcon_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,368},{62,39}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>weaveIcon_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,368},{62,39}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>weaveIcon_xiaoxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,374},{62,39}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>actionRes.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f80f71ac4296cc0bc9f853d8b9bf07e:1/1$</string>
            <key>textureFileName</key>
            <string>actionRes.png</string>
        </dict>
    </dict>
</plist>
