<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgAngleLD.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>bgAngleLU.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>bgAngleRD.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>bgAngleRU.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>bgFrameDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{680,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,9}}</string>
                <key>sourceSize</key>
                <string>{680,9}</string>
            </dict>
            <key>bgFrameLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,2},{9,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,440}}</string>
                <key>sourceSize</key>
                <string>{9,440}</string>
            </dict>
            <key>bgFrameRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{9,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,440}}</string>
                <key>sourceSize</key>
                <string>{9,440}</string>
            </dict>
            <key>bgFrameUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{680,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,9}}</string>
                <key>sourceSize</key>
                <string>{680,9}</string>
            </dict>
            <key>button11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,137},{215,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,90}}</string>
                <key>sourceSize</key>
                <string>{215,90}</string>
            </dict>
            <key>button11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,137},{215,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,90}}</string>
                <key>sourceSize</key>
                <string>{215,90}</string>
            </dict>
            <key>button9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,45},{215,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,90}}</string>
                <key>sourceSize</key>
                <string>{215,90}</string>
            </dict>
            <key>button9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,45},{215,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,90}}</string>
                <key>sourceSize</key>
                <string>{215,90}</string>
            </dict>
            <key>table_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{51,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,32}}</string>
                <key>sourceSize</key>
                <string>{51,32}</string>
            </dict>
            <key>waitPass.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{227,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,41}}</string>
                <key>sourceSize</key>
                <string>{227,41}</string>
            </dict>
            <key>waitStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{227,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,41}}</string>
                <key>sourceSize</key>
                <string>{227,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baseRes.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f848705ffdf79f7aa8aca0531120376:1/1$</string>
            <key>textureFileName</key>
            <string>baseRes.png</string>
        </dict>
    </dict>
</plist>
