<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gendBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{927,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{927,120}}</string>
                <key>sourceSize</key>
                <string>{927,120}</string>
            </dict>
            <key>gendBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{950,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{950,600}}</string>
                <key>sourceSize</key>
                <string>{950,600}</string>
            </dict>
            <key>gendBtnContinue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,885},{210,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,57}}</string>
                <key>sourceSize</key>
                <string>{210,57}</string>
            </dict>
            <key>gendBtnContinue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,885},{210,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,57}}</string>
                <key>sourceSize</key>
                <string>{210,57}</string>
            </dict>
            <key>gendDice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,69},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gendDice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,251},{38,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gendDice3.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,161},{40,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gendDice4.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,297},{38,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{38,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gendDice5.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,115},{40,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gendDice6.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,207},{40,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gendDir0.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,147},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendDir1.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,121},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendDir2.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,95},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendDir3.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,69},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendFlag0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{115,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,65}}</string>
                <key>sourceSize</key>
                <string>{115,65}</string>
            </dict>
            <key>gendFlag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{57,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,65}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>gendFlag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,876},{101,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,50}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>gendFlag3.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,818},{139,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{139,56}}</string>
                <key>sourceSize</key>
                <string>{139,60}</string>
            </dict>
            <key>gendFlag4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,944},{137,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{137,54}}</string>
                <key>sourceSize</key>
                <string>{139,60}</string>
            </dict>
            <key>gendIcon_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,369},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>gendIcon_fan.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,265},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>gendIcon_fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,242},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>gendIcon_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,341},{37,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,26}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>gendIcon_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,219},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>gendIcon_xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,196},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>gendIcon_zong.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,173},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>gendTitle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{452,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,90}}</string>
                <key>sourceSize</key>
                <string>{452,90}</string>
            </dict>
            <key>gendTitle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{93,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>gendTitle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{452,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,90}}</string>
                <key>sourceSize</key>
                <string>{452,90}</string>
            </dict>
            <key>gendTitle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{452,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,90}}</string>
                <key>sourceSize</key>
                <string>{452,90}</string>
            </dict>
            <key>gendTitle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,944},{137,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{137,54}}</string>
                <key>sourceSize</key>
                <string>{139,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameEndRes.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41f8cf75ac2314c7df99650d73ff7831:1/1$</string>
            <key>textureFileName</key>
            <string>gameEndRes.png</string>
        </dict>
    </dict>
</plist>
