<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tn_bgAngleLD.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>tn_bgAngleLU.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>tn_bgAngleRD.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>tn_bgAngleRU.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>tn_bgFrameDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{680,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,9}}</string>
                <key>sourceSize</key>
                <string>{680,9}</string>
            </dict>
            <key>tn_bgFrameLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,2},{9,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,440}}</string>
                <key>sourceSize</key>
                <string>{9,440}</string>
            </dict>
            <key>tn_bgFrameRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{9,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,440}}</string>
                <key>sourceSize</key>
                <string>{9,440}</string>
            </dict>
            <key>tn_bgFrameUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{680,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,9}}</string>
                <key>sourceSize</key>
                <string>{680,9}</string>
            </dict>
            <key>tn_shareBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,137},{215,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,90}}</string>
                <key>sourceSize</key>
                <string>{215,90}</string>
            </dict>
            <key>tn_startBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,45},{215,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,90}}</string>
                <key>sourceSize</key>
                <string>{215,90}</string>
            </dict>
            <key>tn_topBar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{51,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,32}}</string>
                <key>sourceSize</key>
                <string>{51,32}</string>
            </dict>
            <key>tn_waitPass.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{227,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,41}}</string>
                <key>sourceSize</key>
                <string>{227,41}</string>
            </dict>
            <key>tn_waitStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{227,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,41}}</string>
                <key>sourceSize</key>
                <string>{227,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tableNode.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21baa59c3af6b50f13ecd50124f3baa8:1/1$</string>
            <key>textureFileName</key>
            <string>tableNode.png</string>
        </dict>
    </dict>
</plist>
