<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>down_discard0.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,111},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>down_discardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,63},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>down_flower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,111},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>down_flowerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,63},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>down_hand0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{62,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,93}}</string>
                <key>sourceSize</key>
                <string>{62,93}</string>
            </dict>
            <key>down_handBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,93}}</string>
                <key>sourceSize</key>
                <string>{62,93}</string>
            </dict>
            <key>down_heap0.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,47},{25,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,38}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>down_heapBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,202},{25,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,38}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>down_weave0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{49,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,70}}</string>
                <key>sourceSize</key>
                <string>{49,70}</string>
            </dict>
            <key>down_weaveBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{49,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,70}}</string>
                <key>sourceSize</key>
                <string>{49,70}</string>
            </dict>
            <key>left_discard0.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,474},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>left_discardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,474},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>left_flower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,474},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>left_flowerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,474},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>left_hand0.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,64},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>left_handBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,64},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>left_heap0.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,480},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>left_heapBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>left_weave0.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,242},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>left_weaveBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>mf_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{34,59}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{34,59}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{56,71}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,71}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,382},{10,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{10,63}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,252},{36,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{36,63}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,69},{34,65}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{34,65}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,317},{32,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{32,63}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,187},{36,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{36,63}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,67},{36,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{36,63}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,191},{40,67}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{40,67}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,386},{40,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{40,63}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,71},{40,67}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{40,67}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,191},{34,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{34,67}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,136},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{52,53}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,445},{28,61}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{28,61}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,256},{48,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{48,63}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,382},{44,61}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{44,61}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,447},{44,61}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{44,61}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{36,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{36,63}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,336},{52,67}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{52,67}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{34,65}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{34,65}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,394},{34,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{34,65}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,191},{48,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{48,63}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,140},{44,49}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{44,49}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,71},{36,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{36,67}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,140},{42,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{42,49}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,159},{40,41}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{40,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{46,43}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{46,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,132},{40,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{40,53}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,461},{56,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{56,47}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,260},{48,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{48,65}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,265},{40,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{40,69}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,332},{46,67}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{46,67}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,405},{46,67}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{46,67}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,321},{46,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{46,63}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,263},{46,67}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{46,67}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,401},{44,67}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{44,67}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{36,67}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{36,67}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,409},{46,69}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{46,69}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,327},{46,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,65}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{46,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,69}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{40,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{40,67}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>mf_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,192},{36,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{36,69}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>right_discard0.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,474},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>right_discardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,474},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>right_flower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,474},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>right_flowerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,474},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>right_hand0.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>right_handBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>right_heap0.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,480},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>right_heapBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>right_weave0.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,242},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>right_weaveBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>up_discard0.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,111},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>up_discardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,63},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>up_flower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,111},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>up_flowerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,63},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>up_hand0.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,63},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>up_handBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,63},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>up_heap0.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,47},{25,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,38}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>up_heapBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,202},{25,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,38}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>up_weave0.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,109},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>up_weaveBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,470},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiangs.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:593deeece04824c218e2ab45ae020d6d:1/1$</string>
            <key>textureFileName</key>
            <string>majiangs.png</string>
        </dict>
    </dict>
</plist>
