<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bankerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,549},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,398},{18,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>btnCall1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,745},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnCall1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,829},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnCall2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,899},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnCall2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnCall3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnCall3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,759},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnCall4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,748},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnCall4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,675},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnContinue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,675},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnContinue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,689},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnExit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,678},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnExit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,605},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnNotOut_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnNotOut_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,605},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnOut_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,619},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnOut_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,608},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnShow0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,535},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnShow0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,535},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnShow1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,549},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnShow1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,538},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnShow2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,479},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnShow2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,468},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnShow3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnShow3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,759},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnSure_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,465},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnSure_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,465},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnTips_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,479},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnTips_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnYaobuqi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,398},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btnYaobuqi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,328},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>callSpr_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,557},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>callSpr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,433},{126,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,44}}</string>
                <key>sourceSize</key>
                <string>{126,44}</string>
            </dict>
            <key>callSpr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,387},{126,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,44}}</string>
                <key>sourceSize</key>
                <string>{126,44}</string>
            </dict>
            <key>callSpr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,341},{126,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,44}}</string>
                <key>sourceSize</key>
                <string>{126,44}</string>
            </dict>
            <key>chunIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{119,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{119,120}</string>
            </dict>
            <key>ddz_typeIcon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,899},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>ddz_typeIcon101.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,673},{62,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>ddz_typeIcon102.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,603},{62,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>ddz_typeIcon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,899},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>ddz_typeIcon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,899},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>ddz_typeIcon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,899},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>ddz_typeIcon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,899},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>ddz_typeIcon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,729},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>ddz_typeIcon7.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,743},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>gend1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{308,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,72}}</string>
                <key>sourceSize</key>
                <string>{308,72}</string>
            </dict>
            <key>gend2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,829},{61,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{61,66}</string>
            </dict>
            <key>gend3.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,689},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>gend4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{703,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{703,461}}</string>
                <key>sourceSize</key>
                <string>{703,461}</string>
            </dict>
            <key>gend5.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,76},{215,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,95}}</string>
                <key>sourceSize</key>
                <string>{215,95}</string>
            </dict>
            <key>gend6.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,208},{203,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,83}}</string>
                <key>sourceSize</key>
                <string>{203,83}</string>
            </dict>
            <key>linebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,252},{100,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,41}}</string>
                <key>sourceSize</key>
                <string>{100,41}</string>
            </dict>
            <key>linebg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,371},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,328},{22,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{22,11}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>outDecorate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,252},{100,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,41}}</string>
                <key>sourceSize</key>
                <string>{100,41}</string>
            </dict>
            <key>outDecorate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,344},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>outSpr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,511},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,295},{22,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>rankSpr0.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,295},{86,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,44}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>rankSpr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,168},{86,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,44}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>rankSpr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,122},{86,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,44}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>rankSpr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,76},{86,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,44}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>redFlower.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,320},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>singleWinPosition_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,465},{85,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,44}}</string>
                <key>sourceSize</key>
                <string>{85,44}</string>
            </dict>
            <key>singleWinPosition_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,549},{85,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,44}}</string>
                <key>sourceSize</key>
                <string>{85,44}</string>
            </dict>
            <key>tips_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,293},{203,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,33}}</string>
                <key>sourceSize</key>
                <string>{203,33}</string>
            </dict>
            <key>tips_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,173},{210,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,33}}</string>
                <key>sourceSize</key>
                <string>{210,33}</string>
            </dict>
            <key>warn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,549},{32,26}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{32,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>warn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,729},{36,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{36,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>winFlag_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,662},{115,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,65}}</string>
                <key>sourceSize</key>
                <string>{115,65}</string>
            </dict>
            <key>winFlag_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,595},{115,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,65}}</string>
                <key>sourceSize</key>
                <string>{115,65}</string>
            </dict>
            <key>word_turnScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,214},{109,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,36}}</string>
                <key>sourceSize</key>
                <string>{109,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playRes.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c65194562676715f7a47ec3a42a2773:1/1$</string>
            <key>textureFileName</key>
            <string>playRes.png</string>
        </dict>
    </dict>
</plist>
