<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bankerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,72},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>cf_chairEmptyIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{101,106}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{101,106}}</string>
                <key>sourceSize</key>
                <string>{101,120}</string>
            </dict>
            <key>cf_chairSeatIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,120}}</string>
                <key>sourceSize</key>
                <string>{101,120}</string>
            </dict>
            <key>cf_circleRope.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,220},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>cf_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,126},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>cf_fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,126},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>cf_fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,103},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>cf_fire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,103},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>cf_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{85,106}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,106}}</string>
                <key>sourceSize</key>
                <string>{87,108}</string>
            </dict>
            <key>cf_offLine_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,38},{32,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>cf_offLine_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>cf_readyIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,220},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,38}</string>
            </dict>
            <key>cf_vipFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,110},{87,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,108}}</string>
                <key>sourceSize</key>
                <string>{87,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chairFactory.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab45455ea41d10ac3619a9bff55f293c:1/1$</string>
            <key>textureFileName</key>
            <string>chairFactory.png</string>
        </dict>
    </dict>
</plist>
