<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mf_chooseItemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,102}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>mf_currentDiscardMjBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,102}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>mf_currentMjBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,102}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>mf_currentMj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,73},{28,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>mf_currentMj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,39},{28,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>mf_weaveDirection.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiangFactory.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab82a31363e25a81cf9705df2c8a22cc:1/1$</string>
            <key>textureFileName</key>
            <string>majiangFactory.png</string>
        </dict>
    </dict>
</plist>
