<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianpao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{426,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,103}}</string>
                <key>sourceSize</key>
                <string>{426,103}</string>
            </dict>
            <key>dianpao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{358,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,10},{358,83}}</string>
                <key>sourceSize</key>
                <string>{426,103}</string>
            </dict>
            <key>dianpao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,107},{378,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{378,83}}</string>
                <key>sourceSize</key>
                <string>{426,103}</string>
            </dict>
            <key>dianpao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{384,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{384,93}}</string>
                <key>sourceSize</key>
                <string>{426,103}</string>
            </dict>
            <key>dianpao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{346,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{346,83}}</string>
                <key>sourceSize</key>
                <string>{426,103}</string>
            </dict>
            <key>dianpao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{346,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{346,83}}</string>
                <key>sourceSize</key>
                <string>{426,103}</string>
            </dict>
            <key>dianpao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{346,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{346,83}}</string>
                <key>sourceSize</key>
                <string>{426,103}</string>
            </dict>
            <key>dianpao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,487},{346,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,10},{346,83}}</string>
                <key>sourceSize</key>
                <string>{426,103}</string>
            </dict>
            <key>dianpao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{346,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{346,83}}</string>
                <key>sourceSize</key>
                <string>{426,103}</string>
            </dict>
            <key>dianpao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{346,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{346,83}}</string>
                <key>sourceSize</key>
                <string>{426,103}</string>
            </dict>
            <key>dianpao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{346,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{346,83}}</string>
                <key>sourceSize</key>
                <string>{426,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dianpaoAnimal.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bec7ffdbc115aeb201a2d2e826fd6151:1/1$</string>
            <key>textureFileName</key>
            <string>dianpaoAnimal.png</string>
        </dict>
    </dict>
</plist>
