<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>SiceOne_0.png</key>
<dict>
<key>frame</key>
<string>{{342,1},{103,122}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_1.png</key>
<dict>
<key>frame</key>
<string>{{295,119},{103,122}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_2.png</key>
<dict>
<key>frame</key>
<string>{{399,119},{103,122}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_3.png</key>
<dict>
<key>frame</key>
<string>{{1,266},{103,122}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_4.png</key>
<dict>
<key>frame</key>
<string>{{105,266},{103,122}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_5.png</key>
<dict>
<key>frame</key>
<string>{{209,266},{103,122}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_0.png</key>
<dict>
<key>frame</key>
<string>{{313,266},{103,122}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_1.png</key>
<dict>
<key>frame</key>
<string>{{1,389},{103,122}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_2.png</key>
<dict>
<key>frame</key>
<string>{{105,389},{103,122}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_3.png</key>
<dict>
<key>frame</key>
<string>{{209,389},{103,122}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_4.png</key>
<dict>
<key>frame</key>
<string>{{313,389},{103,122}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_5.png</key>
<dict>
<key>frame</key>
<string>{{1,512},{103,122}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>bankerIcon.png</key>
<dict>
<key>frame</key>
<string>{{435,635},{39,47}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{37,45}}</string>
<key>sourceSize</key>
<string>{37,45}</string>
</dict>
<key>clockBg.png</key>
<dict>
<key>frame</key>
<string>{{1,119},{146,146}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{144,144}}</string>
<key>sourceSize</key>
<string>{144,144}</string>
</dict>
<key>clockDct.png</key>
<dict>
<key>frame</key>
<string>{{148,119},{146,146}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{144,144}}</string>
<key>sourceSize</key>
<string>{144,144}</string>
</dict>
<key>clockFont_0.png</key>
<dict>
<key>frame</key>
<string>{{202,98},{18,21}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{16,19}}</string>
<key>sourceSize</key>
<string>{16,19}</string>
</dict>
<key>clockFont_1.png</key>
<dict>
<key>frame</key>
<string>{{265,98},{16,21}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{14,19}}</string>
<key>sourceSize</key>
<string>{14,19}</string>
</dict>
<key>clockFont_2.png</key>
<dict>
<key>frame</key>
<string>{{224,98},{19,19}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{17,17}}</string>
<key>sourceSize</key>
<string>{17,17}</string>
</dict>
<key>clockFont_3.png</key>
<dict>
<key>frame</key>
<string>{{244,98},{20,17}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{18,15}}</string>
<key>sourceSize</key>
<string>{18,15}</string>
</dict>
<key>img_LaiZiPiCardBg.png</key>
<dict>
<key>frame</key>
<string>{{202,1},{96,139}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{94,137}}</string>
<key>sourceSize</key>
<string>{94,137}</string>
</dict>
<key>laizi.png</key>
<dict>
<key>frame</key>
<string>{{354,685},{33,30}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{31,28}}</string>
<key>sourceSize</key>
<string>{31,28}</string>
</dict>
<key>leftCardBg.png</key>
<dict>
<key>frame</key>
<string>{{430,578},{82,28}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{80,26}}</string>
<key>sourceSize</key>
<string>{80,26}</string>
</dict>
<key>outcardBg.png</key>
<dict>
<key>frame</key>
<string>{{417,389},{75,107}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{73,105}}</string>
<key>sourceSize</key>
<string>{73,105}</string>
</dict>
<key>outpointer1.png</key>
<dict>
<key>frame</key>
<string>{{483,635},{30,36}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{28,34}}</string>
<key>sourceSize</key>
<string>{28,34}</string>
</dict>
<key>outpointer2.png</key>
<dict>
<key>frame</key>
<string>{{323,685},{30,36}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{28,34}}</string>
<key>sourceSize</key>
<string>{28,34}</string>
</dict>
<key>selectChiBg.png</key>
<dict>
<key>frame</key>
<string>{{1,1},{200,117}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{198,115}}</string>
<key>sourceSize</key>
<string>{198,115}</string>
</dict>
<key>selectGangBg.png</key>
<dict>
<key>frame</key>
<string>{{417,266},{89,117}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{87,115}}</string>
<key>sourceSize</key>
<string>{87,115}</string>
</dict>
<key>shaizi_anmi1.png</key>
<dict>
<key>frame</key>
<string>{{447,512},{50,47}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{48,45}}</string>
<key>sourceSize</key>
<string>{48,45}</string>
</dict>
<key>shaizi_anmi10.png</key>
<dict>
<key>frame</key>
<string>{{104,685},{109,42}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{107,40}}</string>
<key>sourceSize</key>
<string>{107,40}</string>
</dict>
<key>shaizi_anmi11.png</key>
<dict>
<key>frame</key>
<string>{{1,731},{105,43}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{103,41}}</string>
<key>sourceSize</key>
<string>{103,41}</string>
</dict>
<key>shaizi_anmi12.png</key>
<dict>
<key>frame</key>
<string>{{214,685},{108,42}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{106,40}}</string>
<key>sourceSize</key>
<string>{106,40}</string>
</dict>
<key>shaizi_anmi13.png</key>
<dict>
<key>frame</key>
<string>{{218,578},{106,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{104,49}}</string>
<key>sourceSize</key>
<string>{104,49}</string>
</dict>
<key>shaizi_anmi14.png</key>
<dict>
<key>frame</key>
<string>{{218,635},{105,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{103,42}}</string>
<key>sourceSize</key>
<string>{103,42}</string>
</dict>
<key>shaizi_anmi15.png</key>
<dict>
<key>frame</key>
<string>{{110,635},{107,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{105,42}}</string>
<key>sourceSize</key>
<string>{105,42}</string>
</dict>
<key>shaizi_anmi16.png</key>
<dict>
<key>frame</key>
<string>{{465,1},{110,44}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{108,42}}</string>
<key>sourceSize</key>
<string>{108,42}</string>
</dict>
<key>shaizi_anmi2.png</key>
<dict>
<key>frame</key>
<string>{{105,512},{115,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{113,63}}</string>
<key>sourceSize</key>
<string>{113,63}</string>
</dict>
<key>shaizi_anmi3.png</key>
<dict>
<key>frame</key>
<string>{{335,512},{111,59}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{109,57}}</string>
<key>sourceSize</key>
<string>{109,57}</string>
</dict>
<key>shaizi_anmi4.png</key>
<dict>
<key>frame</key>
<string>{{324,635},{110,42}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{108,40}}</string>
<key>sourceSize</key>
<string>{108,40}</string>
</dict>
<key>shaizi_anmi5.png</key>
<dict>
<key>frame</key>
<string>{{221,512},{113,59}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{111,57}}</string>
<key>sourceSize</key>
<string>{111,57}</string>
</dict>
<key>shaizi_anmi6.png</key>
<dict>
<key>frame</key>
<string>{{105,578},{112,54}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{110,52}}</string>
<key>sourceSize</key>
<string>{110,52}</string>
</dict>
<key>shaizi_anmi7.png</key>
<dict>
<key>frame</key>
<string>{{1,635},{108,49}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{106,47}}</string>
<key>sourceSize</key>
<string>{106,47}</string>
</dict>
<key>shaizi_anmi8.png</key>
<dict>
<key>frame</key>
<string>{{1,685},{102,45}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{100,43}}</string>
<key>sourceSize</key>
<string>{100,43}</string>
</dict>
<key>shaizi_anmi9.png</key>
<dict>
<key>frame</key>
<string>{{325,578},{104,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{102,49}}</string>
<key>sourceSize</key>
<string>{102,49}</string>
</dict>
<key>weaveDctB.png</key>
<dict>
<key>frame</key>
<string>{{388,685},{28,29}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{26,27}}</string>
<key>sourceSize</key>
<string>{26,27}</string>
</dict>
<key>weaveDctS.png</key>
<dict>
<key>frame</key>
<string>{{287,98},{16,16}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{14,14}}</string>
<key>sourceSize</key>
<string>{14,14}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>gameres_0.png</string>
<key>size</key>
<string>{512,1024}</string>
<key>TextureFileName</key>
<string>gameres_0.png</string>
</dict>
</dict>
</plist>
