<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>button11_1.png</key>
<dict>
<key>frame</key>
<string>{{0,641},{242,66}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{242,66}}</string>
<key>sourceSize</key>
<string>{242,66}</string>
</dict>
<key>button9_1.png</key>
<dict>
<key>frame</key>
<string>{{243,641},{242,66}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{242,66}}</string>
<key>sourceSize</key>
<string>{242,66}</string>
</dict>
<key>img_bg.jpg</key>
<dict>
<key>frame</key>
<string>{{0,0},{960,640}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{960,640}}</string>
<key>sourceSize</key>
<string>{960,640}</string>
</dict>
<key>waitPass.png</key>
<dict>
<key>frame</key>
<string>{{961,0},{227,41}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{227,41}}</string>
<key>sourceSize</key>
<string>{227,41}</string>
</dict>
<key>waitStart.png</key>
<dict>
<key>frame</key>
<string>{{961,228},{227,41}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{227,41}}</string>
<key>sourceSize</key>
<string>{227,41}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>baseRes_0.png</string>
<key>size</key>
<string>{1024,1024}</string>
<key>TextureFileName</key>
<string>baseRes_0.png</string>
</dict>
</dict>
</plist>
