<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>bg.png</key>
<dict>
<key>frame</key>
<string>{{1,1},{710,462}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{708,460}}</string>
<key>sourceSize</key>
<string>{708,460}</string>
</dict>
<key>bg_logo.png</key>
<dict>
<key>frame</key>
<string>{{1,464},{648,370}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{646,368}}</string>
<key>sourceSize</key>
<string>{646,368}</string>
</dict>
<key>douliuzi.png</key>
<dict>
<key>frame</key>
<string>{{1,835},{595,92}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{593,90}}</string>
<key>sourceSize</key>
<string>{593,90}</string>
</dict>
<key>select.png</key>
<dict>
<key>frame</key>
<string>{{712,1},{33,37}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{31,35}}</string>
<key>sourceSize</key>
<string>{31,35}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>gameSet_0.png</string>
<key>size</key>
<string>{1024,1024}</string>
<key>TextureFileName</key>
<string>gameSet_0.png</string>
</dict>
</dict>
</plist>
