<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>bankerIcon.png</key>
<dict>
<key>frame</key>
<string>{{385,725},{37,45}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{37,45}}</string>
<key>sourceSize</key>
<string>{37,45}</string>
</dict>
<key>clock.png</key>
<dict>
<key>frame</key>
<string>{{400,0},{79,79}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{79,79}}</string>
<key>sourceSize</key>
<string>{79,79}</string>
</dict>
<key>hand0.png</key>
<dict>
<key>frame</key>
<string>{{210,607},{61,56}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{61,56}}</string>
<key>sourceSize</key>
<string>{61,56}</string>
</dict>
<key>hand1.png</key>
<dict>
<key>frame</key>
<string>{{432,103},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand10.png</key>
<dict>
<key>frame</key>
<string>{{336,325},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand17.png</key>
<dict>
<key>frame</key>
<string>{{406,325},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand18.png</key>
<dict>
<key>frame</key>
<string>{{0,475},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand19.png</key>
<dict>
<key>frame</key>
<string>{{70,475},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand2.png</key>
<dict>
<key>frame</key>
<string>{{140,475},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand20.png</key>
<dict>
<key>frame</key>
<string>{{210,475},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand21.png</key>
<dict>
<key>frame</key>
<string>{{280,475},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand22.png</key>
<dict>
<key>frame</key>
<string>{{350,475},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand23.png</key>
<dict>
<key>frame</key>
<string>{{420,475},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand24.png</key>
<dict>
<key>frame</key>
<string>{{0,541},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand25.png</key>
<dict>
<key>frame</key>
<string>{{70,541},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand26.png</key>
<dict>
<key>frame</key>
<string>{{140,541},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand3.png</key>
<dict>
<key>frame</key>
<string>{{210,541},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand4.png</key>
<dict>
<key>frame</key>
<string>{{280,541},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand5.png</key>
<dict>
<key>frame</key>
<string>{{350,541},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand6.png</key>
<dict>
<key>frame</key>
<string>{{420,541},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand7.png</key>
<dict>
<key>frame</key>
<string>{{0,607},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand8.png</key>
<dict>
<key>frame</key>
<string>{{70,607},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand9.png</key>
<dict>
<key>frame</key>
<string>{{140,607},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>handBg.png</key>
<dict>
<key>frame</key>
<string>{{264,325},{71,87}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{71,87}}</string>
<key>sourceSize</key>
<string>{71,87}</string>
</dict>
<key>out0.png</key>
<dict>
<key>frame</key>
<string>{{235,0},{55,164}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{55,164}}</string>
<key>sourceSize</key>
<string>{55,164}</string>
</dict>
<key>out1.png</key>
<dict>
<key>frame</key>
<string>{{235,56},{43,149}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out10.png</key>
<dict>
<key>frame</key>
<string>{{132,103},{43,149}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out17.png</key>
<dict>
<key>frame</key>
<string>{{282,103},{43,149}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out18.png</key>
<dict>
<key>frame</key>
<string>{{0,175},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out19.png</key>
<dict>
<key>frame</key>
<string>{{44,175},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out2.png</key>
<dict>
<key>frame</key>
<string>{{88,175},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out20.png</key>
<dict>
<key>frame</key>
<string>{{132,175},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out21.png</key>
<dict>
<key>frame</key>
<string>{{176,175},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out22.png</key>
<dict>
<key>frame</key>
<string>{{220,175},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out23.png</key>
<dict>
<key>frame</key>
<string>{{264,175},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out24.png</key>
<dict>
<key>frame</key>
<string>{{308,175},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out25.png</key>
<dict>
<key>frame</key>
<string>{{352,175},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out26.png</key>
<dict>
<key>frame</key>
<string>{{396,175},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out3.png</key>
<dict>
<key>frame</key>
<string>{{440,175},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out4.png</key>
<dict>
<key>frame</key>
<string>{{0,325},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out5.png</key>
<dict>
<key>frame</key>
<string>{{44,325},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out6.png</key>
<dict>
<key>frame</key>
<string>{{88,325},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out7.png</key>
<dict>
<key>frame</key>
<string>{{132,325},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out8.png</key>
<dict>
<key>frame</key>
<string>{{176,325},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out9.png</key>
<dict>
<key>frame</key>
<string>{{220,325},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>outBgB.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{65,174}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{65,174}}</string>
<key>sourceSize</key>
<string>{65,174}</string>
</dict>
<key>outBgY.png</key>
<dict>
<key>frame</key>
<string>{{66,0},{65,174}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{65,174}}</string>
<key>sourceSize</key>
<string>{65,174}</string>
</dict>
<key>s0.png</key>
<dict>
<key>frame</key>
<string>{{264,413},{60,60}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{60,60}}</string>
<key>sourceSize</key>
<string>{60,60}</string>
</dict>
<key>s1.png</key>
<dict>
<key>frame</key>
<string>{{272,607},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s10.png</key>
<dict>
<key>frame</key>
<string>{{327,607},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s17.png</key>
<dict>
<key>frame</key>
<string>{{382,607},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s18.png</key>
<dict>
<key>frame</key>
<string>{{437,607},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s19.png</key>
<dict>
<key>frame</key>
<string>{{0,673},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s2.png</key>
<dict>
<key>frame</key>
<string>{{55,673},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s20.png</key>
<dict>
<key>frame</key>
<string>{{110,673},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s21.png</key>
<dict>
<key>frame</key>
<string>{{165,673},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s22.png</key>
<dict>
<key>frame</key>
<string>{{220,673},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s23.png</key>
<dict>
<key>frame</key>
<string>{{275,673},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s24.png</key>
<dict>
<key>frame</key>
<string>{{330,673},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s25.png</key>
<dict>
<key>frame</key>
<string>{{385,673},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s26.png</key>
<dict>
<key>frame</key>
<string>{{440,673},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s3.png</key>
<dict>
<key>frame</key>
<string>{{0,725},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s4.png</key>
<dict>
<key>frame</key>
<string>{{55,725},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s5.png</key>
<dict>
<key>frame</key>
<string>{{110,725},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s6.png</key>
<dict>
<key>frame</key>
<string>{{165,725},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s7.png</key>
<dict>
<key>frame</key>
<string>{{220,725},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s8.png</key>
<dict>
<key>frame</key>
<string>{{275,725},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s9.png</key>
<dict>
<key>frame</key>
<string>{{330,725},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>sGray.png</key>
<dict>
<key>frame</key>
<string>{{325,413},{60,60}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{60,60}}</string>
<key>sourceSize</key>
<string>{60,60}</string>
</dict>
<key>sJie.png</key>
<dict>
<key>frame</key>
<string>{{386,413},{60,60}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{60,60}}</string>
<key>sourceSize</key>
<string>{60,60}</string>
</dict>
<key>sOut.png</key>
<dict>
<key>frame</key>
<string>{{447,413},{60,60}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{60,60}}</string>
<key>sourceSize</key>
<string>{60,60}</string>
</dict>
<key>selectChiBg.png</key>
<dict>
<key>frame</key>
<string>{{132,0},{102,102}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{102,102}}</string>
<key>sourceSize</key>
<string>{102,102}</string>
</dict>
<key>xxg.png</key>
<dict>
<key>frame</key>
<string>{{132,147},{81,24}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{81,24}}</string>
<key>sourceSize</key>
<string>{81,24}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>mahJongRes_0.png</string>
<key>size</key>
<string>{512,1024}</string>
<key>TextureFileName</key>
<string>mahJongRes_0.png</string>
</dict>
</dict>
</plist>
