<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>btn_disps.png</key>
<dict>
<key>frame</key>
<string>{{645,676},{160,68}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{160,68}}</string>
<key>sourceSize</key>
<string>{160,68}</string>
</dict>
<key>btn_ps.png</key>
<dict>
<key>frame</key>
<string>{{806,676},{160,68}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{160,68}}</string>
<key>sourceSize</key>
<string>{160,68}</string>
</dict>
<key>face101_1.png</key>
<dict>
<key>frame</key>
<string>{{417,0},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face101_2.png</key>
<dict>
<key>frame</key>
<string>{{546,0},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face102_1.png</key>
<dict>
<key>frame</key>
<string>{{675,0},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face102_2.png</key>
<dict>
<key>frame</key>
<string>{{804,0},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face103_1.png</key>
<dict>
<key>frame</key>
<string>{{0,160},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face103_2.png</key>
<dict>
<key>frame</key>
<string>{{129,160},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face104_1.png</key>
<dict>
<key>frame</key>
<string>{{258,160},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face104_2.png</key>
<dict>
<key>frame</key>
<string>{{387,160},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face105_1.png</key>
<dict>
<key>frame</key>
<string>{{516,160},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face105_2.png</key>
<dict>
<key>frame</key>
<string>{{645,160},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face106_1.png</key>
<dict>
<key>frame</key>
<string>{{774,160},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face106_2.png</key>
<dict>
<key>frame</key>
<string>{{0,289},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face106_3.png</key>
<dict>
<key>frame</key>
<string>{{129,289},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face106_4.png</key>
<dict>
<key>frame</key>
<string>{{258,289},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face107_1.png</key>
<dict>
<key>frame</key>
<string>{{387,289},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face107_2.png</key>
<dict>
<key>frame</key>
<string>{{516,289},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face108_1.png</key>
<dict>
<key>frame</key>
<string>{{645,289},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face108_2.png</key>
<dict>
<key>frame</key>
<string>{{774,289},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face109_1.png</key>
<dict>
<key>frame</key>
<string>{{0,418},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face109_2.png</key>
<dict>
<key>frame</key>
<string>{{129,418},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face110_1.png</key>
<dict>
<key>frame</key>
<string>{{258,418},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face110_2.png</key>
<dict>
<key>frame</key>
<string>{{387,418},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face111_1.png</key>
<dict>
<key>frame</key>
<string>{{516,418},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face111_2.png</key>
<dict>
<key>frame</key>
<string>{{645,418},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face112_1.png</key>
<dict>
<key>frame</key>
<string>{{774,418},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face112_2.png</key>
<dict>
<key>frame</key>
<string>{{0,547},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face112_3.png</key>
<dict>
<key>frame</key>
<string>{{129,547},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face113_1.png</key>
<dict>
<key>frame</key>
<string>{{258,547},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face113_2.png</key>
<dict>
<key>frame</key>
<string>{{387,547},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face113_3.png</key>
<dict>
<key>frame</key>
<string>{{516,547},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face113_4.png</key>
<dict>
<key>frame</key>
<string>{{645,547},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face114_1.png</key>
<dict>
<key>frame</key>
<string>{{774,547},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face114_2.png</key>
<dict>
<key>frame</key>
<string>{{0,676},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face115_1.png</key>
<dict>
<key>frame</key>
<string>{{129,676},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face115_2.png</key>
<dict>
<key>frame</key>
<string>{{258,676},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face116_1.png</key>
<dict>
<key>frame</key>
<string>{{387,676},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>face116_2.png</key>
<dict>
<key>frame</key>
<string>{{516,676},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>img_psbg.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{416,159}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{416,159}}</string>
<key>sourceSize</key>
<string>{416,159}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>gameSet_0.png</string>
<key>size</key>
<string>{1024,1024}</string>
<key>TextureFileName</key>
<string>gameSet_0.png</string>
</dict>
</dict>
</plist>
