<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>bakuai_1.png</key>
<dict>
<key>frame</key>
<string>{{1,1},{402,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{400,300}}</string>
<key>sourceSize</key>
<string>{400,300}</string>
</dict>
<key>bakuai_10.png</key>
<dict>
<key>frame</key>
<string>{{404,1},{402,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{400,300}}</string>
<key>sourceSize</key>
<string>{400,300}</string>
</dict>
<key>bakuai_11.png</key>
<dict>
<key>frame</key>
<string>{{807,1},{402,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{400,300}}</string>
<key>sourceSize</key>
<string>{400,300}</string>
</dict>
<key>bakuai_12.png</key>
<dict>
<key>frame</key>
<string>{{1210,1},{402,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{400,300}}</string>
<key>sourceSize</key>
<string>{400,300}</string>
</dict>
<key>bakuai_2.png</key>
<dict>
<key>frame</key>
<string>{{1613,1},{402,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{400,300}}</string>
<key>sourceSize</key>
<string>{400,300}</string>
</dict>
<key>bakuai_3.png</key>
<dict>
<key>frame</key>
<string>{{1,304},{402,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{400,300}}</string>
<key>sourceSize</key>
<string>{400,300}</string>
</dict>
<key>bakuai_4.png</key>
<dict>
<key>frame</key>
<string>{{404,304},{402,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{400,300}}</string>
<key>sourceSize</key>
<string>{400,300}</string>
</dict>
<key>bakuai_5.png</key>
<dict>
<key>frame</key>
<string>{{807,304},{402,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{400,300}}</string>
<key>sourceSize</key>
<string>{400,300}</string>
</dict>
<key>bakuai_6.png</key>
<dict>
<key>frame</key>
<string>{{1210,304},{402,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{400,300}}</string>
<key>sourceSize</key>
<string>{400,300}</string>
</dict>
<key>bakuai_7.png</key>
<dict>
<key>frame</key>
<string>{{1613,304},{402,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{400,300}}</string>
<key>sourceSize</key>
<string>{400,300}</string>
</dict>
<key>bakuai_8.png</key>
<dict>
<key>frame</key>
<string>{{1,607},{402,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{400,300}}</string>
<key>sourceSize</key>
<string>{400,300}</string>
</dict>
<key>bakuai_9.png</key>
<dict>
<key>frame</key>
<string>{{404,607},{402,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{400,300}}</string>
<key>sourceSize</key>
<string>{400,300}</string>
</dict>
<key>pao_1.png</key>
<dict>
<key>frame</key>
<string>{{807,607},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>pao_10.png</key>
<dict>
<key>frame</key>
<string>{{1110,607},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>pao_11.png</key>
<dict>
<key>frame</key>
<string>{{1413,607},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>pao_12.png</key>
<dict>
<key>frame</key>
<string>{{1716,607},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>pao_2.png</key>
<dict>
<key>frame</key>
<string>{{1,910},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>pao_3.png</key>
<dict>
<key>frame</key>
<string>{{304,910},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>pao_4.png</key>
<dict>
<key>frame</key>
<string>{{607,910},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>pao_5.png</key>
<dict>
<key>frame</key>
<string>{{910,910},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>pao_6.png</key>
<dict>
<key>frame</key>
<string>{{1213,910},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>pao_7.png</key>
<dict>
<key>frame</key>
<string>{{1516,910},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>pao_8.png</key>
<dict>
<key>frame</key>
<string>{{1,1213},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>pao_9.png</key>
<dict>
<key>frame</key>
<string>{{304,1213},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>peng_1.png</key>
<dict>
<key>frame</key>
<string>{{607,1213},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>peng_10.png</key>
<dict>
<key>frame</key>
<string>{{910,1213},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>peng_11.png</key>
<dict>
<key>frame</key>
<string>{{1213,1213},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>peng_12.png</key>
<dict>
<key>frame</key>
<string>{{1516,1213},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>peng_13.png</key>
<dict>
<key>frame</key>
<string>{{1,1516},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>peng_2.png</key>
<dict>
<key>frame</key>
<string>{{304,1516},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>peng_3.png</key>
<dict>
<key>frame</key>
<string>{{607,1516},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>peng_4.png</key>
<dict>
<key>frame</key>
<string>{{910,1516},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>peng_5.png</key>
<dict>
<key>frame</key>
<string>{{1213,1516},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>peng_6.png</key>
<dict>
<key>frame</key>
<string>{{1516,1516},{302,302}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{300,300}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>amtOperate_0.png</string>
<key>size</key>
<string>{2048,2048}</string>
<key>TextureFileName</key>
<string>amtOperate_0.png</string>
</dict>
</dict>
</plist>
