<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>chi_2.png</key>
<dict>
<key>frame</key>
<string>{{587,1},{282,282}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{280,280}}</string>
<key>sourceSize</key>
<string>{280,280}</string>
</dict>
<key>chi_3.png</key>
<dict>
<key>frame</key>
<string>{{1,294},{282,282}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{280,280}}</string>
<key>sourceSize</key>
<string>{280,280}</string>
</dict>
<key>chi_4.png</key>
<dict>
<key>frame</key>
<string>{{284,294},{282,282}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{280,280}}</string>
<key>sourceSize</key>
<string>{280,280}</string>
</dict>
<key>chi_5.png</key>
<dict>
<key>frame</key>
<string>{{567,294},{282,282}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{280,280}}</string>
<key>sourceSize</key>
<string>{280,280}</string>
</dict>
<key>chi_6.png</key>
<dict>
<key>frame</key>
<string>{{1,577},{282,282}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{280,280}}</string>
<key>sourceSize</key>
<string>{280,280}</string>
</dict>
<key>chi_7.png</key>
<dict>
<key>frame</key>
<string>{{284,577},{282,282}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{280,280}}</string>
<key>sourceSize</key>
<string>{280,280}</string>
</dict>
<key>chi_8.png</key>
<dict>
<key>frame</key>
<string>{{567,577},{282,282}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{280,280}}</string>
<key>sourceSize</key>
<string>{280,280}</string>
</dict>
<key>chi_9.png</key>
<dict>
<key>frame</key>
<string>{{1,860},{282,282}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{280,280}}</string>
<key>sourceSize</key>
<string>{280,280}</string>
</dict>
<key>hu_8.png</key>
<dict>
<key>frame</key>
<string>{{1,1},{292,292}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{290,290}}</string>
<key>sourceSize</key>
<string>{290,290}</string>
</dict>
<key>hu_9.png</key>
<dict>
<key>frame</key>
<string>{{294,1},{292,292}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{290,290}}</string>
<key>sourceSize</key>
<string>{290,290}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>amtOperate_2.png</string>
<key>size</key>
<string>{1024,2048}</string>
<key>TextureFileName</key>
<string>amtOperate_2.png</string>
</dict>
</dict>
</plist>
