<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>bankerIcon.png</key>
<dict>
<key>frame</key>
<string>{{406,1559},{37,45}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{37,45}}</string>
<key>sourceSize</key>
<string>{37,45}</string>
</dict>
<key>bg_g.png</key>
<dict>
<key>frame</key>
<string>{{0,1199},{452,300}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{452,300}}</string>
<key>sourceSize</key>
<string>{452,300}</string>
</dict>
<key>btnGoonN.png</key>
<dict>
<key>frame</key>
<string>{{867,1016},{160,68}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{160,68}}</string>
<key>sourceSize</key>
<string>{160,68}</string>
</dict>
<key>btn_optionL.png</key>
<dict>
<key>frame</key>
<string>{{936,1016},{153,58}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{153,58}}</string>
<key>sourceSize</key>
<string>{153,58}</string>
</dict>
<key>btn_optionR.png</key>
<dict>
<key>frame</key>
<string>{{181,1500},{153,58}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{153,58}}</string>
<key>sourceSize</key>
<string>{153,58}</string>
</dict>
<key>btn_refresh.png</key>
<dict>
<key>frame</key>
<string>{{954,1199},{60,60}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{60,60}}</string>
<key>sourceSize</key>
<string>{60,60}</string>
</dict>
<key>btn_ting.png</key>
<dict>
<key>frame</key>
<string>{{954,1280},{60,60}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{60,60}}</string>
<key>sourceSize</key>
<string>{60,60}</string>
</dict>
<key>disPatchBg.png</key>
<dict>
<key>frame</key>
<string>{{453,1442},{163,42}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{163,42}}</string>
<key>sourceSize</key>
<string>{163,42}</string>
</dict>
<key>gameEndBg.png</key>
<dict>
<key>frame</key>
<string>{{0,641},{866,557}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{866,557}}</string>
<key>sourceSize</key>
<string>{866,557}</string>
</dict>
<key>gameEndQT.png</key>
<dict>
<key>frame</key>
<string>{{267,1559},{94,70}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{94,70}}</string>
<key>sourceSize</key>
<string>{94,70}</string>
</dict>
<key>huxiBg.png</key>
<dict>
<key>frame</key>
<string>{{617,1442},{104,30}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{104,30}}</string>
<key>sourceSize</key>
<string>{104,30}</string>
</dict>
<key>img_bg.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{960,640}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{960,640}}</string>
<key>sourceSize</key>
<string>{960,640}</string>
</dict>
<key>img_chi.png</key>
<dict>
<key>frame</key>
<string>{{667,1500},{43,31}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,31}}</string>
<key>sourceSize</key>
<string>{43,31}</string>
</dict>
<key>img_jiang.png</key>
<dict>
<key>frame</key>
<string>{{711,1500},{43,31}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,31}}</string>
<key>sourceSize</key>
<string>{43,31}</string>
</dict>
<key>img_jiao.png</key>
<dict>
<key>frame</key>
<string>{{755,1500},{43,31}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,31}}</string>
<key>sourceSize</key>
<string>{43,31}</string>
</dict>
<key>img_kan.png</key>
<dict>
<key>frame</key>
<string>{{799,1500},{43,31}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,31}}</string>
<key>sourceSize</key>
<string>{43,31}</string>
</dict>
<key>img_optionBg.png</key>
<dict>
<key>frame</key>
<string>{{867,641},{374,150}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{374,150}}</string>
<key>sourceSize</key>
<string>{374,150}</string>
</dict>
<key>img_pao.png</key>
<dict>
<key>frame</key>
<string>{{843,1500},{43,31}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,31}}</string>
<key>sourceSize</key>
<string>{43,31}</string>
</dict>
<key>img_peng.png</key>
<dict>
<key>frame</key>
<string>{{887,1500},{43,31}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,31}}</string>
<key>sourceSize</key>
<string>{43,31}</string>
</dict>
<key>img_shun.png</key>
<dict>
<key>frame</key>
<string>{{931,1500},{43,31}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,31}}</string>
<key>sourceSize</key>
<string>{43,31}</string>
</dict>
<key>img_ti.png</key>
<dict>
<key>frame</key>
<string>{{975,1500},{43,31}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,31}}</string>
<key>sourceSize</key>
<string>{43,31}</string>
</dict>
<key>img_wei.png</key>
<dict>
<key>frame</key>
<string>{{452,1559},{43,31}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,31}}</string>
<key>sourceSize</key>
<string>{43,31}</string>
</dict>
<key>img_yu.png</key>
<dict>
<key>frame</key>
<string>{{496,1559},{43,31}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,31}}</string>
<key>sourceSize</key>
<string>{43,31}</string>
</dict>
<key>liuju.png</key>
<dict>
<key>frame</key>
<string>{{453,1199},{500,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{500,80}}</string>
<key>sourceSize</key>
<string>{500,80}</string>
</dict>
<key>lose.png</key>
<dict>
<key>frame</key>
<string>{{453,1280},{500,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{500,80}}</string>
<key>sourceSize</key>
<string>{500,80}</string>
</dict>
<key>outAmt_card.png</key>
<dict>
<key>frame</key>
<string>{{393,1500},{35,75}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{35,75}}</string>
<key>sourceSize</key>
<string>{35,75}</string>
</dict>
<key>outAmt_hand.png</key>
<dict>
<key>frame</key>
<string>{{181,1559},{85,90}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{85,90}}</string>
<key>sourceSize</key>
<string>{85,90}</string>
</dict>
<key>outAmt_line.png</key>
<dict>
<key>frame</key>
<string>{{1008,0},{40,4}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{40,4}}</string>
<key>sourceSize</key>
<string>{40,4}</string>
</dict>
<key>outAmt_tip.png</key>
<dict>
<key>frame</key>
<string>{{961,478},{159,28}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{159,28}}</string>
<key>sourceSize</key>
<string>{159,28}</string>
</dict>
<key>shouwResult.png</key>
<dict>
<key>frame</key>
<string>{{961,0},{238,46}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{238,46}}</string>
<key>sourceSize</key>
<string>{238,46}</string>
</dict>
<key>showTable.png</key>
<dict>
<key>frame</key>
<string>{{961,239},{238,46}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{238,46}}</string>
<key>sourceSize</key>
<string>{238,46}</string>
</dict>
<key>tingBeiShu.png</key>
<dict>
<key>frame</key>
<string>{{469,1500},{65,33}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{65,33}}</string>
<key>sourceSize</key>
<string>{65,33}</string>
</dict>
<key>tingBg.png</key>
<dict>
<key>frame</key>
<string>{{0,1500},{180,210}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{180,210}}</string>
<key>sourceSize</key>
<string>{180,210}</string>
</dict>
<key>tingHu.png</key>
<dict>
<key>frame</key>
<string>{{362,1559},{43,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,44}}</string>
<key>sourceSize</key>
<string>{43,44}</string>
</dict>
<key>tingSZ.png</key>
<dict>
<key>frame</key>
<string>{{535,1500},{65,33}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{65,33}}</string>
<key>sourceSize</key>
<string>{65,33}</string>
</dict>
<key>tingZM.png</key>
<dict>
<key>frame</key>
<string>{{601,1500},{65,33}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{65,33}}</string>
<key>sourceSize</key>
<string>{65,33}</string>
</dict>
<key>title_bi.png</key>
<dict>
<key>frame</key>
<string>{{954,1361},{57,58}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{57,58}}</string>
<key>sourceSize</key>
<string>{57,58}</string>
</dict>
<key>title_chi.png</key>
<dict>
<key>frame</key>
<string>{{335,1500},{57,58}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{57,58}}</string>
<key>sourceSize</key>
<string>{57,58}</string>
</dict>
<key>win.png</key>
<dict>
<key>frame</key>
<string>{{453,1361},{500,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{500,80}}</string>
<key>sourceSize</key>
<string>{500,80}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>gameRes_0.png</string>
<key>size</key>
<string>{1024,2048}</string>
<key>TextureFileName</key>
<string>gameRes_0.png</string>
</dict>
</dict>
</plist>
