<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>hand0.png</key>
<dict>
<key>frame</key>
<string>{{376,465},{61,56}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{61,56}}</string>
<key>sourceSize</key>
<string>{61,56}</string>
</dict>
<key>hand1.png</key>
<dict>
<key>frame</key>
<string>{{204,377},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand10.png</key>
<dict>
<key>frame</key>
<string>{{274,377},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand17.png</key>
<dict>
<key>frame</key>
<string>{{344,377},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand18.png</key>
<dict>
<key>frame</key>
<string>{{414,377},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand19.png</key>
<dict>
<key>frame</key>
<string>{{0,527},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand2.png</key>
<dict>
<key>frame</key>
<string>{{70,527},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand20.png</key>
<dict>
<key>frame</key>
<string>{{140,527},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand21.png</key>
<dict>
<key>frame</key>
<string>{{210,527},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand22.png</key>
<dict>
<key>frame</key>
<string>{{280,527},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand23.png</key>
<dict>
<key>frame</key>
<string>{{350,527},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand24.png</key>
<dict>
<key>frame</key>
<string>{{420,527},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand25.png</key>
<dict>
<key>frame</key>
<string>{{0,593},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand26.png</key>
<dict>
<key>frame</key>
<string>{{70,593},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand3.png</key>
<dict>
<key>frame</key>
<string>{{140,593},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand4.png</key>
<dict>
<key>frame</key>
<string>{{210,593},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand5.png</key>
<dict>
<key>frame</key>
<string>{{280,593},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand6.png</key>
<dict>
<key>frame</key>
<string>{{350,593},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand7.png</key>
<dict>
<key>frame</key>
<string>{{420,593},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand8.png</key>
<dict>
<key>frame</key>
<string>{{0,659},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>hand9.png</key>
<dict>
<key>frame</key>
<string>{{70,659},{69,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{69,65}}</string>
<key>sourceSize</key>
<string>{69,65}</string>
</dict>
<key>handBg.png</key>
<dict>
<key>frame</key>
<string>{{132,377},{71,87}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{71,87}}</string>
<key>sourceSize</key>
<string>{71,87}</string>
</dict>
<key>out0.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{76,226}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,226}}</string>
<key>sourceSize</key>
<string>{76,226}</string>
</dict>
<key>out1.png</key>
<dict>
<key>frame</key>
<string>{{312,0},{43,149}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out10.png</key>
<dict>
<key>frame</key>
<string>{{312,44},{43,149}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out17.png</key>
<dict>
<key>frame</key>
<string>{{209,103},{43,149}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out18.png</key>
<dict>
<key>frame</key>
<string>{{359,103},{43,149}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out19.png</key>
<dict>
<key>frame</key>
<string>{{77,175},{43,149}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out2.png</key>
<dict>
<key>frame</key>
<string>{{227,175},{43,149}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out20.png</key>
<dict>
<key>frame</key>
<string>{{0,227},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out21.png</key>
<dict>
<key>frame</key>
<string>{{44,227},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out22.png</key>
<dict>
<key>frame</key>
<string>{{88,227},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out23.png</key>
<dict>
<key>frame</key>
<string>{{132,227},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out24.png</key>
<dict>
<key>frame</key>
<string>{{176,227},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out25.png</key>
<dict>
<key>frame</key>
<string>{{220,227},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out26.png</key>
<dict>
<key>frame</key>
<string>{{264,227},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out3.png</key>
<dict>
<key>frame</key>
<string>{{308,227},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out4.png</key>
<dict>
<key>frame</key>
<string>{{352,227},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out5.png</key>
<dict>
<key>frame</key>
<string>{{396,227},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out6.png</key>
<dict>
<key>frame</key>
<string>{{440,227},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out7.png</key>
<dict>
<key>frame</key>
<string>{{0,377},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out8.png</key>
<dict>
<key>frame</key>
<string>{{44,377},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>out9.png</key>
<dict>
<key>frame</key>
<string>{{88,377},{43,149}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,149}}</string>
<key>sourceSize</key>
<string>{43,149}</string>
</dict>
<key>outBgB.png</key>
<dict>
<key>frame</key>
<string>{{77,0},{65,174}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{65,174}}</string>
<key>sourceSize</key>
<string>{65,174}</string>
</dict>
<key>outBgY.png</key>
<dict>
<key>frame</key>
<string>{{143,0},{65,174}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{65,174}}</string>
<key>sourceSize</key>
<string>{65,174}</string>
</dict>
<key>s0.png</key>
<dict>
<key>frame</key>
<string>{{132,465},{60,60}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{60,60}}</string>
<key>sourceSize</key>
<string>{60,60}</string>
</dict>
<key>s1.png</key>
<dict>
<key>frame</key>
<string>{{377,175},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s10.png</key>
<dict>
<key>frame</key>
<string>{{432,175},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s17.png</key>
<dict>
<key>frame</key>
<string>{{438,465},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s18.png</key>
<dict>
<key>frame</key>
<string>{{140,659},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s19.png</key>
<dict>
<key>frame</key>
<string>{{195,659},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s2.png</key>
<dict>
<key>frame</key>
<string>{{250,659},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s20.png</key>
<dict>
<key>frame</key>
<string>{{305,659},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s21.png</key>
<dict>
<key>frame</key>
<string>{{360,659},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s22.png</key>
<dict>
<key>frame</key>
<string>{{415,659},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s23.png</key>
<dict>
<key>frame</key>
<string>{{0,725},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s24.png</key>
<dict>
<key>frame</key>
<string>{{55,725},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s25.png</key>
<dict>
<key>frame</key>
<string>{{110,725},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s26.png</key>
<dict>
<key>frame</key>
<string>{{165,725},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s3.png</key>
<dict>
<key>frame</key>
<string>{{220,725},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s4.png</key>
<dict>
<key>frame</key>
<string>{{275,725},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s5.png</key>
<dict>
<key>frame</key>
<string>{{330,725},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s6.png</key>
<dict>
<key>frame</key>
<string>{{385,725},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s7.png</key>
<dict>
<key>frame</key>
<string>{{440,725},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s8.png</key>
<dict>
<key>frame</key>
<string>{{0,777},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>s9.png</key>
<dict>
<key>frame</key>
<string>{{55,777},{54,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{54,51}}</string>
<key>sourceSize</key>
<string>{54,51}</string>
</dict>
<key>sGray.png</key>
<dict>
<key>frame</key>
<string>{{193,465},{60,60}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{60,60}}</string>
<key>sourceSize</key>
<string>{60,60}</string>
</dict>
<key>sJie.png</key>
<dict>
<key>frame</key>
<string>{{254,465},{60,60}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{60,60}}</string>
<key>sourceSize</key>
<string>{60,60}</string>
</dict>
<key>sOut.png</key>
<dict>
<key>frame</key>
<string>{{315,465},{60,60}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{60,60}}</string>
<key>sourceSize</key>
<string>{60,60}</string>
</dict>
<key>selectChiBg.png</key>
<dict>
<key>frame</key>
<string>{{209,0},{102,102}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{102,102}}</string>
<key>sourceSize</key>
<string>{102,102}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>mahJongRes_0.png</string>
<key>size</key>
<string>{512,1024}</string>
<key>TextureFileName</key>
<string>mahJongRes_0.png</string>
</dict>
</dict>
</plist>
