<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cf_color_c0.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,414},{91,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{91,100}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>cf_color_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,375},{89,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{89,100}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>cf_color_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,373},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>cf_color_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,310},{95,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,102}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>cf_color_c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,206},{109,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,167}}</string>
                <key>sourceSize</key>
                <string>{109,167}</string>
            </dict>
            <key>cf_color_c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,206},{109,165}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,165}}</string>
                <key>sourceSize</key>
                <string>{109,167}</string>
            </dict>
            <key>cf_color_t0.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,366},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>cf_color_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,326},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>cf_color_t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,286},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>cf_color_t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,246},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>cf_down_handBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{142,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,202}}</string>
                <key>sourceSize</key>
                <string>{142,202}</string>
            </dict>
            <key>cf_down_handBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{142,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,202}}</string>
                <key>sourceSize</key>
                <string>{142,202}</string>
            </dict>
            <key>cf_down_outBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,471},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>cf_down_outBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,104},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>cf_left_handBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,202}}</string>
                <key>sourceSize</key>
                <string>{142,202}</string>
            </dict>
            <key>cf_left_handBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,202}}</string>
                <key>sourceSize</key>
                <string>{142,202}</string>
            </dict>
            <key>cf_left_outBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>cf_left_outBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>cf_lz_color_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,206},{95,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,102}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>cf_lz_color_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,206},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>cf_num_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,523},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,523},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,523},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,502},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,502},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_b14.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,452},{14,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,109}}</string>
                <key>sourceSize</key>
                <string>{14,109}</string>
            </dict>
            <key>cf_num_b15.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,452},{14,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,109}}</string>
                <key>sourceSize</key>
                <string>{14,109}</string>
            </dict>
            <key>cf_num_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,502},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,477},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,477},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,477},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,456},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,456},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,456},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,410},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,410},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_r12.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,410},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_r13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_r14.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,414},{14,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,109}}</string>
                <key>sourceSize</key>
                <string>{14,109}</string>
            </dict>
            <key>cf_num_r15.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,414},{14,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,109}}</string>
                <key>sourceSize</key>
                <string>{14,109}</string>
            </dict>
            <key>cf_num_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,655},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,636},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,608},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,608},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,608},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,609},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,590},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,562},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_y1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,562},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_y10.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,563},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_y11.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,562},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_y12.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,563},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_y13.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,544},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_y2.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,516},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_y3.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,516},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_y4.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,517},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_y5.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,516},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_y6.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,471},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_y7.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,498},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_y8.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,452},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_num_y9.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,406},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>cf_right_handBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,202}}</string>
                <key>sourceSize</key>
                <string>{142,202}</string>
            </dict>
            <key>cf_right_handBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,202}}</string>
                <key>sourceSize</key>
                <string>{142,202}</string>
            </dict>
            <key>cf_right_outBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>cf_right_outBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>cf_up_handBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,202}}</string>
                <key>sourceSize</key>
                <string>{142,202}</string>
            </dict>
            <key>cf_up_handBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,202}}</string>
                <key>sourceSize</key>
                <string>{142,202}</string>
            </dict>
            <key>cf_up_outBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>cf_up_outBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5241faab6393be9cfac8d0d619712f9:1/1$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
