<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,214},{131,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,47}}</string>
                <key>sourceSize</key>
                <string>{131,47}</string>
            </dict>
            <key>button10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,196},{131,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,47}}</string>
                <key>sourceSize</key>
                <string>{131,47}</string>
            </dict>
            <key>button11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{180,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,77}}</string>
                <key>sourceSize</key>
                <string>{180,79}</string>
            </dict>
            <key>button11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,81},{180,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,77}}</string>
                <key>sourceSize</key>
                <string>{180,79}</string>
            </dict>
            <key>button12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,472},{64,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>button12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,472},{64,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>button13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,459},{64,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>button13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,459},{64,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>button2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,503},{57,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,47}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
            <key>button2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,503},{57,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,47}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
            <key>button4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,549},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>button4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,537},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>button5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,418},{64,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>button5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,418},{64,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>button6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{64,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>button6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{64,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>button7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,114},{131,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,47}}</string>
                <key>sourceSize</key>
                <string>{131,47}</string>
            </dict>
            <key>button7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,65},{131,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,47}}</string>
                <key>sourceSize</key>
                <string>{131,47}</string>
            </dict>
            <key>button8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{103,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,40}}</string>
                <key>sourceSize</key>
                <string>{103,40}</string>
            </dict>
            <key>button8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,305},{103,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,40}}</string>
                <key>sourceSize</key>
                <string>{103,40}</string>
            </dict>
            <key>button9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{180,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,77}}</string>
                <key>sourceSize</key>
                <string>{180,79}</string>
            </dict>
            <key>button9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{180,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,77}}</string>
                <key>sourceSize</key>
                <string>{180,79}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,332},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{50,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,258},{24,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,237},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>face1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,483},{62,64}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{62,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>face10.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,536},{62,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{62,68}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>face11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{62,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{62,66}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>face12.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,336},{70,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{70,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>face13.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,392},{68,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{68,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>face14.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,263},{92,80}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{92,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>face15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{94,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{94,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>face16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{76,80}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{76,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>face17.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,310},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{80,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>face18.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,254},{66,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{66,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>face2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,535},{62,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{62,68}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>face3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,399},{66,68}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{66,68}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>face4.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,248},{42,60}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{42,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>face5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,345},{70,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{70,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>face6.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,470},{64,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{64,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>face7.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,402},{66,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{66,66}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>face8.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,469},{64,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{64,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>face9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{64,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{64,68}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>fixbanker.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,275},{114,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{114,28}}</string>
                <key>sourceSize</key>
                <string>{164,42}</string>
            </dict>
            <key>icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,214},{46,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{46,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,605},{48,48}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{48,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,451},{38,50}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{38,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,595},{50,52}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{50,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,282},{40,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{40,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,606},{48,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{48,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>iconno.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,388},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>iconyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,347},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>line01.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,42},{8,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,5}}</string>
                <key>sourceSize</key>
                <string>{8,5}</string>
            </dict>
            <key>managerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,418},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>message.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,196},{18,39}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,12},{18,39}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>newsBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{171,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,52}}</string>
                <key>sourceSize</key>
                <string>{171,52}</string>
            </dict>
            <key>newsplayBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,160},{171,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,52}}</string>
                <key>sourceSize</key>
                <string>{171,52}</string>
            </dict>
            <key>niuniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{131,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,61}}</string>
                <key>sourceSize</key>
                <string>{131,61}</string>
            </dict>
            <key>unfixbanker.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,245},{116,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{116,28}}</string>
                <key>sourceSize</key>
                <string>{164,42}</string>
            </dict>
            <key>waitPass.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,163},{148,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,31}}</string>
                <key>sourceSize</key>
                <string>{148,31}</string>
            </dict>
            <key>waitStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{192,38}}</string>
                <key>sourceSize</key>
                <string>{192,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baseRes.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41489336b5a13e6acb5351b7ca5a4999:1/1$</string>
            <key>textureFileName</key>
            <string>baseRes.png</string>
        </dict>
    </dict>
</plist>
