<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>SiceOne_0.png</key>
<dict>
<key>frame</key>
<string>{{374,99},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_1.png</key>
<dict>
<key>frame</key>
<string>{{495,99},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_2.png</key>
<dict>
<key>frame</key>
<string>{{616,99},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_3.png</key>
<dict>
<key>frame</key>
<string>{{737,99},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_4.png</key>
<dict>
<key>frame</key>
<string>{{858,99},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceOne_5.png</key>
<dict>
<key>frame</key>
<string>{{197,215},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_0.png</key>
<dict>
<key>frame</key>
<string>{{318,215},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_1.png</key>
<dict>
<key>frame</key>
<string>{{439,215},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_2.png</key>
<dict>
<key>frame</key>
<string>{{560,215},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_3.png</key>
<dict>
<key>frame</key>
<string>{{681,215},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_4.png</key>
<dict>
<key>frame</key>
<string>{{802,215},{101,120}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>SiceTwo_5.png</key>
<dict>
<key>frame</key>
<string>{{290,332},{101,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{101,120}}</string>
<key>sourceSize</key>
<string>{101,120}</string>
</dict>
<key>bankerIcon.png</key>
<dict>
<key>frame</key>
<string>{{790,396},{37,45}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{37,45}}</string>
<key>sourceSize</key>
<string>{37,45}</string>
</dict>
<key>bg_top.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{747,59}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{747,59}}</string>
<key>sourceSize</key>
<string>{747,59}</string>
</dict>
<key>buhuaNum_0.png</key>
<dict>
<key>frame</key>
<string>{{235,317},{16,14}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{16,14}}</string>
<key>sourceSize</key>
<string>{16,14}</string>
</dict>
<key>buhuaNum_1.png</key>
<dict>
<key>frame</key>
<string>{{970,46},{9,17}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{9,17}}</string>
<key>sourceSize</key>
<string>{9,17}</string>
</dict>
<key>buhuaNum_2.png</key>
<dict>
<key>frame</key>
<string>{{1006,350},{16,17}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{16,17}}</string>
<key>sourceSize</key>
<string>{16,17}</string>
</dict>
<key>buhuaNum_3.png</key>
<dict>
<key>frame</key>
<string>{{930,396},{15,17}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{15,17}}</string>
<key>sourceSize</key>
<string>{15,17}</string>
</dict>
<key>buhuaNum_4.png</key>
<dict>
<key>frame</key>
<string>{{894,396},{16,17}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{16,17}}</string>
<key>sourceSize</key>
<string>{16,17}</string>
</dict>
<key>buhuaNum_5.png</key>
<dict>
<key>frame</key>
<string>{{948,396},{15,17}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{15,17}}</string>
<key>sourceSize</key>
<string>{15,17}</string>
</dict>
<key>buhuaNum_6.png</key>
<dict>
<key>frame</key>
<string>{{966,396},{15,17}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{15,17}}</string>
<key>sourceSize</key>
<string>{15,17}</string>
</dict>
<key>buhuaNum_7.png</key>
<dict>
<key>frame</key>
<string>{{217,317},{14,17}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{14,17}}</string>
<key>sourceSize</key>
<string>{14,17}</string>
</dict>
<key>buhuaNum_8.png</key>
<dict>
<key>frame</key>
<string>{{986,60},{18,17}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{18,17}}</string>
<key>sourceSize</key>
<string>{18,17}</string>
</dict>
<key>clockBg.png</key>
<dict>
<key>frame</key>
<string>{{0,332},{144,144}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{144,144}}</string>
<key>sourceSize</key>
<string>{144,144}</string>
</dict>
<key>clockDct.png</key>
<dict>
<key>frame</key>
<string>{{145,332},{144,144}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{144,144}}</string>
<key>sourceSize</key>
<string>{144,144}</string>
</dict>
<key>clockFont_0.png</key>
<dict>
<key>frame</key>
<string>{{1005,60},{16,19}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{16,19}}</string>
<key>sourceSize</key>
<string>{16,19}</string>
</dict>
<key>clockFont_1.png</key>
<dict>
<key>frame</key>
<string>{{197,317},{14,19}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{14,19}}</string>
<key>sourceSize</key>
<string>{14,19}</string>
</dict>
<key>clockFont_2.png</key>
<dict>
<key>frame</key>
<string>{{1006,332},{17,17}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{17,17}}</string>
<key>sourceSize</key>
<string>{17,17}</string>
</dict>
<key>clockFont_3.png</key>
<dict>
<key>frame</key>
<string>{{911,396},{18,15}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{18,15}}</string>
<key>sourceSize</key>
<string>{18,15}</string>
</dict>
<key>img_tip.png</key>
<dict>
<key>frame</key>
<string>{{0,60},{714,38}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{714,38}}</string>
<key>sourceSize</key>
<string>{714,38}</string>
</dict>
<key>leftCardBg.png</key>
<dict>
<key>frame</key>
<string>{{800,60},{80,26}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{80,26}}</string>
<key>sourceSize</key>
<string>{80,26}</string>
</dict>
<key>outcardBg.png</key>
<dict>
<key>frame</key>
<string>{{392,332},{73,105}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{73,105}}</string>
<key>sourceSize</key>
<string>{73,105}</string>
</dict>
<key>outpointer1.png</key>
<dict>
<key>frame</key>
<string>{{836,396},{28,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{28,34}}</string>
<key>sourceSize</key>
<string>{28,34}</string>
</dict>
<key>outpointer2.png</key>
<dict>
<key>frame</key>
<string>{{865,396},{28,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{28,34}}</string>
<key>sourceSize</key>
<string>{28,34}</string>
</dict>
<key>selectChiBg.png</key>
<dict>
<key>frame</key>
<string>{{0,99},{198,115}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{198,115}}</string>
<key>sourceSize</key>
<string>{198,115}</string>
</dict>
<key>selectGangBg.png</key>
<dict>
<key>frame</key>
<string>{{923,215},{87,115}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{87,115}}</string>
<key>sourceSize</key>
<string>{87,115}</string>
</dict>
<key>shaizi_anmi1.png</key>
<dict>
<key>frame</key>
<string>{{970,0},{48,45}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{48,45}}</string>
<key>sourceSize</key>
<string>{48,45}</string>
</dict>
<key>shaizi_anmi10.png</key>
<dict>
<key>frame</key>
<string>{{575,396},{107,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{107,40}}</string>
<key>sourceSize</key>
<string>{107,40}</string>
</dict>
<key>shaizi_anmi11.png</key>
<dict>
<key>frame</key>
<string>{{213,477},{103,41}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{103,41}}</string>
<key>sourceSize</key>
<string>{103,41}</string>
</dict>
<key>shaizi_anmi12.png</key>
<dict>
<key>frame</key>
<string>{{683,396},{106,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{106,40}}</string>
<key>sourceSize</key>
<string>{106,40}</string>
</dict>
<key>shaizi_anmi13.png</key>
<dict>
<key>frame</key>
<string>{{691,332},{104,49}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{104,49}}</string>
<key>sourceSize</key>
<string>{104,49}</string>
</dict>
<key>shaizi_anmi14.png</key>
<dict>
<key>frame</key>
<string>{{109,477},{103,42}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{103,42}}</string>
<key>sourceSize</key>
<string>{103,42}</string>
</dict>
<key>shaizi_anmi15.png</key>
<dict>
<key>frame</key>
<string>{{979,99},{105,42}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{105,42}}</string>
<key>sourceSize</key>
<string>{105,42}</string>
</dict>
<key>shaizi_anmi16.png</key>
<dict>
<key>frame</key>
<string>{{0,477},{108,42}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{108,42}}</string>
<key>sourceSize</key>
<string>{108,42}</string>
</dict>
<key>shaizi_anmi2.png</key>
<dict>
<key>frame</key>
<string>{{466,332},{113,63}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{113,63}}</string>
<key>sourceSize</key>
<string>{113,63}</string>
</dict>
<key>shaizi_anmi3.png</key>
<dict>
<key>frame</key>
<string>{{860,0},{109,57}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{109,57}}</string>
<key>sourceSize</key>
<string>{109,57}</string>
</dict>
<key>shaizi_anmi4.png</key>
<dict>
<key>frame</key>
<string>{{466,396},{108,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{108,40}}</string>
<key>sourceSize</key>
<string>{108,40}</string>
</dict>
<key>shaizi_anmi5.png</key>
<dict>
<key>frame</key>
<string>{{748,0},{111,57}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{111,57}}</string>
<key>sourceSize</key>
<string>{111,57}</string>
</dict>
<key>shaizi_anmi6.png</key>
<dict>
<key>frame</key>
<string>{{580,332},{110,52}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{110,52}}</string>
<key>sourceSize</key>
<string>{110,52}</string>
</dict>
<key>shaizi_anmi7.png</key>
<dict>
<key>frame</key>
<string>{{899,332},{106,47}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{106,47}}</string>
<key>sourceSize</key>
<string>{106,47}</string>
</dict>
<key>shaizi_anmi8.png</key>
<dict>
<key>frame</key>
<string>{{0,520},{100,43}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{100,43}}</string>
<key>sourceSize</key>
<string>{100,43}</string>
</dict>
<key>shaizi_anmi9.png</key>
<dict>
<key>frame</key>
<string>{{796,332},{102,49}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{102,49}}</string>
<key>sourceSize</key>
<string>{102,49}</string>
</dict>
<key>ting_bg.png</key>
<dict>
<key>frame</key>
<string>{{199,99},{174,105}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{174,105}}</string>
<key>sourceSize</key>
<string>{174,105}</string>
</dict>
<key>ting_btn.png</key>
<dict>
<key>frame</key>
<string>{{715,60},{28,84}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{28,84}}</string>
<key>sourceSize</key>
<string>{28,84}</string>
</dict>
<key>ting_tip_arrow.png</key>
<dict>
<key>frame</key>
<string>{{909,60},{26,23}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{26,23}}</string>
<key>sourceSize</key>
<string>{26,23}</string>
</dict>
<key>ting_tip_bg.png</key>
<dict>
<key>frame</key>
<string>{{0,215},{196,116}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{196,116}}</string>
<key>sourceSize</key>
<string>{196,116}</string>
</dict>
<key>weaveDctB.png</key>
<dict>
<key>frame</key>
<string>{{881,60},{26,27}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{26,27}}</string>
<key>sourceSize</key>
<string>{26,27}</string>
</dict>
<key>weaveDctS.png</key>
<dict>
<key>frame</key>
<string>{{252,317},{14,14}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{14,14}}</string>
<key>sourceSize</key>
<string>{14,14}</string>
</dict>
<key>yehua.png</key>
<dict>
<key>frame</key>
<string>{{936,60},{24,22}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{24,22}}</string>
<key>sourceSize</key>
<string>{24,22}</string>
</dict>
<key>zhenghua.png</key>
<dict>
<key>frame</key>
<string>{{961,60},{24,22}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{24,22}}</string>
<key>sourceSize</key>
<string>{24,22}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>gameres_0.png</string>
<key>size</key>
<string>{1024,1024}</string>
<key>TextureFileName</key>
<string>gameres_0.png</string>
</dict>
</dict>
</plist>
