<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gendBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{927,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{927,120}}</string>
                <key>sourceSize</key>
                <string>{927,120}</string>
            </dict>
            <key>gendBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{950,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{950,600}}</string>
                <key>sourceSize</key>
                <string>{950,600}</string>
            </dict>
            <key>gendBtnContinue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>gendBtnContinue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>gendDir0.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,447},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendDir1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,441},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendDir2.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,423},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendDir3.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,417},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gendFlag0.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,164},{115,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,65}}</string>
                <key>sourceSize</key>
                <string>{115,65}</string>
            </dict>
            <key>gendFlag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{113,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,128}}</string>
                <key>sourceSize</key>
                <string>{113,128}</string>
            </dict>
            <key>gendFlag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,281},{101,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,50}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>gendIcon_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,384},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>gendIcon_fan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,471},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>gendIcon_fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,488},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>gendIcon_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,384},{37,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,26}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>gendIcon_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,471},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>gendIcon_zong.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,465},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>gendTitle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,888},{160,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,101}}</string>
                <key>sourceSize</key>
                <string>{160,101}</string>
            </dict>
            <key>gendTitle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{166,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,98}}</string>
                <key>sourceSize</key>
                <string>{166,98}</string>
            </dict>
            <key>gendTitle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,726},{160,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,105}}</string>
                <key>sourceSize</key>
                <string>{160,105}</string>
            </dict>
            <key>gendTitle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,726},{452,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,90}}</string>
                <key>sourceSize</key>
                <string>{452,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Untitled.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19d3b739add2c3c31dea3536e3604300:1/1$</string>
            <key>textureFileName</key>
            <string>Untitled.png</string>
        </dict>
    </dict>
</plist>
