<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnGoonN.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,806},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>chengbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{167,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,114}}</string>
                <key>sourceSize</key>
                <string>{167,114}</string>
            </dict>
            <key>dianpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,644},{159,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{159,111}}</string>
                <key>sourceSize</key>
                <string>{159,113}</string>
            </dict>
            <key>gameEndBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,805},{113,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,128}}</string>
                <key>sourceSize</key>
                <string>{113,128}</string>
            </dict>
            <key>huangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,813},{166,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,98}}</string>
                <key>sourceSize</key>
                <string>{166,98}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,644},{160,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,101}}</string>
                <key>sourceSize</key>
                <string>{160,101}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,813},{160,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,105}}</string>
                <key>sourceSize</key>
                <string>{160,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameEnd_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:747f0e1425c533c1a8639890cd166e35:1/1$</string>
            <key>textureFileName</key>
            <string>gameEnd_0.png</string>
        </dict>
    </dict>
</plist>
