<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,300},{242,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,66}}</string>
                <key>sourceSize</key>
                <string>{242,66}</string>
            </dict>
            <key>button11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,300},{242,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,66}}</string>
                <key>sourceSize</key>
                <string>{242,66}</string>
            </dict>
            <key>button9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,56},{242,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,66}}</string>
                <key>sourceSize</key>
                <string>{242,66}</string>
            </dict>
            <key>button9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,56},{242,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,66}}</string>
                <key>sourceSize</key>
                <string>{242,66}</string>
            </dict>
            <key>choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>chooseMorden.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{541,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,312}}</string>
                <key>sourceSize</key>
                <string>{541,312}</string>
            </dict>
            <key>nochoose.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,35},{23,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{155,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{155,52}</string>
            </dict>
            <key>waitPass.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,289},{227,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,41}}</string>
                <key>sourceSize</key>
                <string>{227,41}</string>
            </dict>
            <key>waitStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,60},{227,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,41}}</string>
                <key>sourceSize</key>
                <string>{227,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baseRes.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37c4d9dc0f3adb661ae56e0ae68f99af:1/1$</string>
            <key>textureFileName</key>
            <string>baseRes.png</string>
        </dict>
    </dict>
</plist>
