<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>btnGoonN.png</key>
<dict>
<key>frame</key>
<string>{{665,644},{162,70}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{160,68}}</string>
<key>sourceSize</key>
<string>{160,68}</string>
</dict>
<key>chengbao.png</key>
<dict>
<key>frame</key>
<string>{{1,644},{169,116}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{167,114}}</string>
<key>sourceSize</key>
<string>{167,114}</string>
</dict>
<key>dianpao.png</key>
<dict>
<key>frame</key>
<string>{{171,644},{161,115}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{159,113}}</string>
<key>sourceSize</key>
<string>{159,113}</string>
</dict>
<key>gameEndBg.png</key>
<dict>
<key>frame</key>
<string>{{1,1},{962,642}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{960,640}}</string>
<key>sourceSize</key>
<string>{960,640}</string>
</dict>
<key>hu.png</key>
<dict>
<key>frame</key>
<string>{{1,865},{115,130}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{113,128}}</string>
<key>sourceSize</key>
<string>{113,128}</string>
</dict>
<key>huangzhuang.png</key>
<dict>
<key>frame</key>
<string>{{496,644},{168,100}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{166,98}}</string>
<key>sourceSize</key>
<string>{166,98}</string>
</dict>
<key>lose.png</key>
<dict>
<key>frame</key>
<string>{{1,761},{162,103}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{160,101}}</string>
<key>sourceSize</key>
<string>{160,101}</string>
</dict>
<key>win.png</key>
<dict>
<key>frame</key>
<string>{{333,644},{162,107}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{160,105}}</string>
<key>sourceSize</key>
<string>{160,105}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>gameEnd_0.png</string>
<key>size</key>
<string>{1024,1024}</string>
<key>TextureFileName</key>
<string>gameEnd_0.png</string>
</dict>
</dict>
</plist>
