<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AddFan.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,283},{84,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,26}}</string>
                <key>sourceSize</key>
                <string>{84,26}</string>
            </dict>
            <key>AddFan_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,247},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
            <key>AddFen.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,277},{84,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,28}}</string>
                <key>sourceSize</key>
                <string>{84,28}</string>
            </dict>
            <key>AddFen_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,252},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
            <key>Change.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,223},{108,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,27}}</string>
                <key>sourceSize</key>
                <string>{108,27}</string>
            </dict>
            <key>Change_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,143},{112,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,35}}</string>
                <key>sourceSize</key>
                <string>{112,35}</string>
            </dict>
            <key>DianPao.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,282},{84,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,28}}</string>
                <key>sourceSize</key>
                <string>{84,28}</string>
            </dict>
            <key>DianPao_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,32},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
            <key>FiveFan.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,337},{76,26}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,26}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>FiveFan_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,307},{78,28}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,28}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>FourFan.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,340},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>FourFan_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,223},{78,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,28}}</string>
                <key>sourceSize</key>
                <string>{78,28}</string>
            </dict>
            <key>MenQZhongZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,164},{132,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,27}}</string>
                <key>sourceSize</key>
                <string>{132,27}</string>
            </dict>
            <key>MenQZhongZ_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,98},{136,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,35}}</string>
                <key>sourceSize</key>
                <string>{136,35}</string>
            </dict>
            <key>ModeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,91},{99,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,50}}</string>
                <key>sourceSize</key>
                <string>{99,50}</string>
            </dict>
            <key>ModeBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,126},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ModeClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,61},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>SanFan.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,312},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>SanFan_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,193},{78,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,28}}</string>
                <key>sourceSize</key>
                <string>{78,28}</string>
            </dict>
            <key>TianDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,62},{106,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,27}}</string>
                <key>sourceSize</key>
                <string>{106,27}</string>
            </dict>
            <key>TianDi_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,180},{110,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,35}}</string>
                <key>sourceSize</key>
                <string>{110,35}</string>
            </dict>
            <key>UnFenfDing.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,217},{108,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,28}}</string>
                <key>sourceSize</key>
                <string>{108,28}</string>
            </dict>
            <key>UnFenfDing_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,193},{110,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,28}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>YaoJJiangD.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,135},{132,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,27}}</string>
                <key>sourceSize</key>
                <string>{132,27}</string>
            </dict>
            <key>YaoJJiangD_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,61},{136,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,35}}</string>
                <key>sourceSize</key>
                <string>{136,35}</string>
            </dict>
            <key>ZiMo.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,253},{84,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,28}}</string>
                <key>sourceSize</key>
                <string>{84,28}</string>
            </dict>
            <key>ZiMo_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
            <key>btn_Change.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{210,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,57}}</string>
                <key>sourceSize</key>
                <string>{210,57}</string>
            </dict>
            <key>erFan.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,341},{74,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,26}}</string>
                <key>sourceSize</key>
                <string>{74,26}</string>
            </dict>
            <key>erFan_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,311},{76,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,28}}</string>
                <key>sourceSize</key>
                <string>{76,28}</string>
            </dict>
            <key>pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{708,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,481}}</string>
                <key>sourceSize</key>
                <string>{708,481}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>typeSel.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cd176cdd5d3ab1edcd44f17b45853d3:1/1$</string>
            <key>textureFileName</key>
            <string>typeSel.png</string>
        </dict>
    </dict>
</plist>
