<% include header.ejs %>

<%- tips %> 

<p><a href="/runGame">运行游戏</a></p>
<p><a href="/publishGame">发布游戏</a></p>
<p><a href="/c2js">c2js</a></p>

<!--
<p><a href="/publishCocos">发布Cocos</a></p>
<p><a href="/stressTest">压力测试</a></p>
<p><a href="/searchFile">查找文件</a></p>
<p><a href="/createGameModel">生成游戏模板</a></p>
-->

<% include footer.ejs %>
