<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>record_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,140},{57,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,52}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>record_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{474,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,115}}</string>
                <key>sourceSize</key>
                <string>{474,115}</string>
            </dict>
            <key>record_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,184},{57,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{57,42}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>record_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,194},{41,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{41,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>record_speed0.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,237},{155,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,44}}</string>
                <key>sourceSize</key>
                <string>{155,44}</string>
            </dict>
            <key>record_speed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,94},{111,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{111,44}}</string>
                <key>sourceSize</key>
                <string>{155,44}</string>
            </dict>
            <key>record_speed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,48},{113,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{113,44}}</string>
                <key>sourceSize</key>
                <string>{155,44}</string>
            </dict>
            <key>record_speed3.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{115,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{115,44}}</string>
                <key>sourceSize</key>
                <string>{155,44}</string>
            </dict>
            <key>record_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,228},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{43,52}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>record_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,140},{57,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{57,42}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>recordRes.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b0b07c7a8cda46a326fe20fac68eab9:1/1$</string>
            <key>textureFileName</key>
            <string>recordRes.png</string>
        </dict>
    </dict>
</plist>
