<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bankerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1319},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1417},{44,41}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,34},{44,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>bg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1319},{48,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>btn10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1810},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btn10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1810},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>btn_bumopao.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,430},{155,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{155,52}</string>
            </dict>
            <key>btn_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1719},{95,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{95,88}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1715},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>btn_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1715},{91,84}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{91,84}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1211},{95,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{95,86}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1503},{87,88}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{87,88}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_mopao.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,273},{155,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{155,52}</string>
            </dict>
            <key>btn_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1719},{91,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{91,88}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1503},{85,88}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{85,88}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>caiShen.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1374},{44,41}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,34},{44,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>face10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1308},{64,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>face10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1449},{64,66}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>face11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1544},{64,66}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>face11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1650},{64,66}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>face11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1769},{64,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>face11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1582},{64,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>face12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1807},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>face12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1312},{72,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{72,66}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>face12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1916},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>face12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1476},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>face13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1107},{90,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{90,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1499},{90,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{90,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1593},{120,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{120,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1381},{120,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{120,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1593},{120,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{120,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face14_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1381},{120,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{120,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1809},{124,108}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{124,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1935},{124,108}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{124,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1809},{124,108}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{124,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face15_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1593},{124,108}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{124,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1699},{100,106}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{100,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1476},{100,104}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{100,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1591},{100,106}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{100,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face16_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1374},{100,104}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{100,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1808},{106,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face17_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1925},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face17_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1381},{116,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{116,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1181},{86,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{86,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1591},{86,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{86,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face18_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1503},{86,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{86,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face18_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1591},{86,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{86,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face18_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1503},{86,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{86,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1720},{64,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{64,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>face1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1381},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>face2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1308},{64,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>face2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1308},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>face3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1289},{72,76}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{72,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1970},{76,78}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{76,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1972},{74,76}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{74,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1970},{76,78}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{76,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1972},{74,78}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{74,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1107},{72,76}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{72,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1972},{74,78}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{74,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1107},{72,76}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{72,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1972},{74,78}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{74,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1972},{74,76}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{74,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1970},{76,78}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{76,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1972},{74,76}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{74,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1319},{42,60}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>face4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{44,58}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>face5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,1319},{70,52}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{70,52}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>face5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,587},{70,52}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{70,52}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>face6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1582},{66,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{66,66}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1308},{70,66}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{70,66}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1652},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>face7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1839},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>face8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1907},{64,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>face8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1381},{64,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>face9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1699},{64,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>face9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1916},{64,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>gamesetBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,937},{442,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,296}}</string>
                <key>sourceSize</key>
                <string>{442,296}</string>
            </dict>
            <key>gamesetBtn1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1877},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>gamesetBtn1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1986},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>gamesetBtn2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1986},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>gamesetBtn2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1460},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>gamesetBtn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,116},{155,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{155,52}</string>
            </dict>
            <key>gend1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,659},{308,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,72}}</string>
                <key>sourceSize</key>
                <string>{308,72}</string>
            </dict>
            <key>gend2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,48},{57,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,66}}</string>
                <key>sourceSize</key>
                <string>{57,66}</string>
            </dict>
            <key>gend3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1935},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>gend4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{703,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{703,461}}</string>
                <key>sourceSize</key>
                <string>{703,461}</string>
            </dict>
            <key>gend5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1381},{215,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,95}}</string>
                <key>sourceSize</key>
                <string>{215,95}</string>
            </dict>
            <key>gend6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1107},{203,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,83}}</string>
                <key>sourceSize</key>
                <string>{203,83}</string>
            </dict>
            <key>gend7.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1308},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>gend8.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1935},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>gend9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>gendType0.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1381},{210,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,100}}</string>
                <key>sourceSize</key>
                <string>{210,100}</string>
            </dict>
            <key>gendType1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{210,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,100}}</string>
                <key>sourceSize</key>
                <string>{210,100}</string>
            </dict>
            <key>gendType2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1107},{210,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,100}}</string>
                <key>sourceSize</key>
                <string>{210,100}</string>
            </dict>
            <key>gendType3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1107},{210,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,100}}</string>
                <key>sourceSize</key>
                <string>{210,100}</string>
            </dict>
            <key>minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,644},{22,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{22,11}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1935},{22,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>talkbox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,835},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>talkbox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,733},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>winFlag_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1808},{115,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,65}}</string>
                <key>sourceSize</key>
                <string>{115,65}</string>
            </dict>
            <key>winFlag_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,48},{57,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,66}}</string>
                <key>sourceSize</key>
                <string>{57,66}</string>
            </dict>
            <key>winFlag_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1308},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playRes.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20ecfa0d06a3f0f7685b782174f2b068:1/1$</string>
            <key>textureFileName</key>
            <string>playRes.png</string>
        </dict>
    </dict>
</plist>
