<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cf_color_c0.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,290},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>cf_color_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,382},{82,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>cf_color_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,410},{84,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{84,78}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>cf_color_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,322},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>cf_color_c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{79,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,148}}</string>
                <key>sourceSize</key>
                <string>{79,148}</string>
            </dict>
            <key>cf_color_c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,316},{79,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,148}}</string>
                <key>sourceSize</key>
                <string>{79,148}</string>
            </dict>
            <key>cf_color_t0.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,397},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>cf_color_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,600},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>cf_color_t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{39,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>cf_color_t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,575},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>cf_down_handBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,146},{142,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,202}}</string>
                <key>sourceSize</key>
                <string>{142,202}</string>
            </dict>
            <key>cf_down_handBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{142,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,202}}</string>
                <key>sourceSize</key>
                <string>{142,202}</string>
            </dict>
            <key>cf_down_outBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,146},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>cf_down_outBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,74},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>cf_left_handBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{142,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,202}}</string>
                <key>sourceSize</key>
                <string>{142,202}</string>
            </dict>
            <key>cf_left_handBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,202}}</string>
                <key>sourceSize</key>
                <string>{142,202}</string>
            </dict>
            <key>cf_left_outBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>cf_left_outBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>cf_lz_color_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,218},{95,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,102}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>cf_lz_color_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,521},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>cf_num_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,465},{39,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,472},{41,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,432},{31,47}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{41,47}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,47}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_b14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{24,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,154}}</string>
                <key>sourceSize</key>
                <string>{24,154}</string>
            </dict>
            <key>cf_num_b15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{24,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,154}}</string>
                <key>sourceSize</key>
                <string>{24,154}</string>
            </dict>
            <key>cf_num_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,568},{27,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{27,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,566},{27,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{27,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,512},{29,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{29,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,543},{27,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{27,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,528},{27,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{27,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,497},{29,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{29,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,490},{29,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{29,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,490},{29,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{29,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{39,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,465},{41,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,432},{31,47}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_r12.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,397},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_r13.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,423},{41,47}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,47}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_r14.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,290},{24,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,154}}</string>
                <key>sourceSize</key>
                <string>{24,154}</string>
            </dict>
            <key>cf_num_r15.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,290},{24,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,154}}</string>
                <key>sourceSize</key>
                <string>{24,154}</string>
            </dict>
            <key>cf_num_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,526},{27,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{27,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,521},{27,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{27,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,466},{29,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{29,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,497},{27,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{27,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{27,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{27,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{29,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{29,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,540},{29,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{29,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,515},{29,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{29,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_y1.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,499},{39,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_y10.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,438},{41,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_y11.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,466},{31,47}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_y12.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,397},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_y13.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,423},{41,47}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,47}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_y14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{24,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,154}}</string>
                <key>sourceSize</key>
                <string>{24,154}</string>
            </dict>
            <key>cf_num_y15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{24,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,154}}</string>
                <key>sourceSize</key>
                <string>{24,154}</string>
            </dict>
            <key>cf_num_y2.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,571},{27,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{27,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_y3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,546},{27,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{27,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_y4.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,508},{29,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{29,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_y5.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,539},{27,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{27,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_y6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,537},{27,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{27,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_y7.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,506},{29,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{29,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_y8.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,481},{29,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{29,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_num_y9.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,466},{29,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{29,45}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>cf_right_handBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{142,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,202}}</string>
                <key>sourceSize</key>
                <string>{142,202}</string>
            </dict>
            <key>cf_right_handBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,202}}</string>
                <key>sourceSize</key>
                <string>{142,202}</string>
            </dict>
            <key>cf_right_outBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>cf_right_outBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>cf_up_handBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{142,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,202}}</string>
                <key>sourceSize</key>
                <string>{142,202}</string>
            </dict>
            <key>cf_up_handBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,202}}</string>
                <key>sourceSize</key>
                <string>{142,202}</string>
            </dict>
            <key>cf_up_outBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>cf_up_outBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9208b3a0702fc38ffdb9ae0417b3476e:1/1$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
