<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>usp_line01.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{8,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,5}}</string>
                <key>sourceSize</key>
                <string>{8,5}</string>
            </dict>
            <key>usp_sp9_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,236},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>usp_style0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{236,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,76}}</string>
                <key>sourceSize</key>
                <string>{236,76}</string>
            </dict>
            <key>usp_style1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{236,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,76}}</string>
                <key>sourceSize</key>
                <string>{236,76}</string>
            </dict>
            <key>usp_styleChoose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,76}}</string>
                <key>sourceSize</key>
                <string>{236,76}</string>
            </dict>
            <key>usp_switchOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{149,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{149,73}}</string>
                <key>sourceSize</key>
                <string>{149,75}</string>
            </dict>
            <key>usp_switchOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{149,71}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{149,71}}</string>
                <key>sourceSize</key>
                <string>{149,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>userSettingPop.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3bf680798aea77d3eb24c83dabe9ff1:1/1$</string>
            <key>textureFileName</key>
            <string>userSettingPop.png</string>
        </dict>
    </dict>
</plist>
