<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,586},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,586},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>card_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,586},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,878},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,732},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,586},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,440},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,440},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,440},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,440},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,878},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,732},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,586},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,440},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,294},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,294},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,294},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,294},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,294},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,878},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_33 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{332,732},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,732},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,586},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,440},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,294},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,878},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,732},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,586},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,440},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,294},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,148},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,148},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,148},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,148},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,148},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,148},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,148},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,2},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,2},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,735},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,589},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,443},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,297},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,151},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,735},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>card_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardFactory2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9dc45e7d525004128c7860eb1984e63:1/1$</string>
            <key>textureFileName</key>
            <string>cardFactory2.png</string>
        </dict>
    </dict>
</plist>
