<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1717},{190,162}}</string>
                <key>offset</key>
                <string>{45,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,55},{190,162}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>chi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1590},{174,146}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,88},{174,146}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>chi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1527},{198,188}}</string>
                <key>offset</key>
                <string>{41,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,62},{198,188}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>chi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,946},{276,240}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{276,240}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>chi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,902},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>chi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,724},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>chi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>chi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,891},{174,164}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,71},{174,164}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>chi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,725},{174,164}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,71},{174,164}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>chi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1590},{174,160}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,74},{174,160}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>gang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1163},{270,128}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,87},{270,128}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>gang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,258},{364,176}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,63},{364,176}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>gang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,944},{266,136}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,91},{266,136}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>gang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,490},{420,232}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,35},{420,232}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>gang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,2},{428,248}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{428,248}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>gang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{432,254}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{432,254}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>gang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,254}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{432,254}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>gang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{428,248}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{428,248}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>gang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,252},{424,244}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,29},{424,244}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>gang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,252},{420,236}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{420,236}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>gang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{356,196}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,67},{356,196}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>guo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,638},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{101,67}</string>
            </dict>
            <key>hu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,498},{138,92}}</string>
                <key>offset</key>
                <string>{50,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,81},{138,92}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{258,258}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{258,258}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1909},{158,136}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,88},{158,136}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,565},{158,98}}</string>
                <key>offset</key>
                <string>{36,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,66},{158,98}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1444},{208,182}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,55},{208,182}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1254},{200,206}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,60},{200,206}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,258},{122,174}}</string>
                <key>offset</key>
                <string>{-26,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,71},{122,174}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{228,232}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,38},{228,232}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,724},{242,246}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{242,246}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1082},{244,246}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,30},{244,246}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>hu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1057},{244,246}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,28},{244,246}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>magic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1909},{141,136}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,66},{141,136}}</string>
                <key>sourceSize</key>
                <string>{403,260}</string>
            </dict>
            <key>magic_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1729},{189,194}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,31},{189,194}}</string>
                <key>sourceSize</key>
                <string>{403,260}</string>
            </dict>
            <key>magic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,752},{279,192}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,30},{279,192}}</string>
                <key>sourceSize</key>
                <string>{403,260}</string>
            </dict>
            <key>magic_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,498},{345,252}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{345,252}}</string>
                <key>sourceSize</key>
                <string>{403,260}</string>
            </dict>
            <key>magic_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,436},{363,232}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{363,232}}</string>
                <key>sourceSize</key>
                <string>{403,260}</string>
            </dict>
            <key>magic_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{373,214}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{373,214}}</string>
                <key>sourceSize</key>
                <string>{403,260}</string>
            </dict>
            <key>magic_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1819},{189,194}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,31},{189,194}}</string>
                <key>sourceSize</key>
                <string>{403,260}</string>
            </dict>
            <key>magic_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1819},{189,194}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,31},{189,194}}</string>
                <key>sourceSize</key>
                <string>{403,260}</string>
            </dict>
            <key>magic_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{189,194}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,31},{189,194}}</string>
                <key>sourceSize</key>
                <string>{403,260}</string>
            </dict>
            <key>magic_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1538},{189,194}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,31},{189,194}}</string>
                <key>sourceSize</key>
                <string>{403,260}</string>
            </dict>
            <key>peng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1188},{228,210}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,56},{228,210}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1328},{208,208}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,64},{208,208}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,1254},{164,150}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,86},{164,150}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,1456},{162,146}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,90},{162,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1766},{154,138}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,94},{154,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1400},{198,188}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,69},{198,188}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1766},{156,164}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,89},{156,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,304},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,606},{300,294}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,294}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,670},{300,272}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1006},{272,246}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{272,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>peng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1303},{226,222}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,46},{226,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1766},{128,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{128,139}}</string>
                <key>sourceSize</key>
                <string>{158,139}</string>
            </dict>
            <key>ting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,434},{100,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,129}}</string>
                <key>sourceSize</key>
                <string>{100,129}</string>
            </dict>
            <key>ting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,972},{189,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,242}}</string>
                <key>sourceSize</key>
                <string>{189,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animationAction.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c214a40a0b05604555972036e8a65912:1/1$</string>
            <key>textureFileName</key>
            <string>animationAction.png</string>
        </dict>
    </dict>
</plist>
