<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,640},{64,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>face10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,756},{64,66}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>face11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,690},{64,66}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>face11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,668},{64,66}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>face11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,698},{64,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>face11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,686},{64,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>face12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>face12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,436},{72,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{72,66}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>face12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,436},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>face12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>face13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,376},{90,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{90,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,328},{90,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{90,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,112},{120,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{120,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,112},{120,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{120,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,112},{120,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{120,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face14_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{120,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{120,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{124,108}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{124,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{124,108}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{124,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{124,108}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{124,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face15_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,108}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{124,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,328},{100,106}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{100,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,328},{100,104}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{100,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,220},{100,106}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{100,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face16_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{100,104}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{100,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,220},{106,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face17_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,220},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face17_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{116,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{116,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,434},{86,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{86,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,480},{86,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{86,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face18_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,432},{86,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{86,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face18_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,480},{86,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{86,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face18_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,432},{86,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{86,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{64,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{64,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>face1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,712},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>face2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,626},{64,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>face2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,610},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>face3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,298},{72,76}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{72,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,540},{76,78}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{76,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{74,76}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{74,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,540},{76,78}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{76,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,588},{74,78}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{74,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,220},{72,76}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{72,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,588},{74,78}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{74,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,220},{72,76}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{72,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,588},{74,78}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{74,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{74,76}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{74,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,540},{76,78}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{76,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{74,76}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{74,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,648},{42,60}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>face4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,588},{44,58}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>face5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{70,52}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{70,52}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>face5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,504},{70,52}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{70,52}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>face6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,572},{66,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{66,66}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,504},{70,66}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{70,66}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>face7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,558},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>face7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,542},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>face8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,780},{64,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>face8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,768},{64,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>face9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,620},{64,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>face9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{64,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animationFace.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f96d963b73e075635c2562fd381e7809:1/1$</string>
            <key>textureFileName</key>
            <string>animationFace.png</string>
        </dict>
    </dict>
</plist>
