<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>replace_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,33},{222,94}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>replace_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,336},{152,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,33},{152,94}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>replace_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,240},{152,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,33},{152,94}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>replace_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{182,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,33},{182,94}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>replace_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,144},{158,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,33},{158,94}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>replace_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,144},{152,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,33},{152,94}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>replace_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{164,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,27},{164,106}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>replace_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{180,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,19},{180,122}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>replace_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{200,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,10},{200,140}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>replace_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,194},{160,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,29},{160,102}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>replace_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,356},{152,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,33},{152,94}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animationReplaceCard.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b70cd8087f8f179ca05cef8b6ee0cfaf:1/1$</string>
            <key>textureFileName</key>
            <string>animationReplaceCard.png</string>
        </dict>
    </dict>
</plist>
