<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{42,41}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,34},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>bg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{50,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,63}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>caiShen.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,297},{42,41}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>caiShen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,211},{44,41}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,34},{44,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>caiShen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,254},{42,41}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>gamesetBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,296}}</string>
                <key>sourceSize</key>
                <string>{442,296}</string>
            </dict>
            <key>gamesetBtn1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,340},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>gamesetBtn1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,444},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>gamesetBtn2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,300},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>gamesetBtn2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>gamesetBtn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,54},{155,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{155,52}</string>
            </dict>
            <key>mf_currentMjBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{70,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,102}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playRes.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d8734d41cad3ff9aa6b8773b36a1cf0:1/1$</string>
            <key>textureFileName</key>
            <string>playRes.png</string>
        </dict>
    </dict>
</plist>
