<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>replace_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{58,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,75}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>replace_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{56,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>replace_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>replace_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,154},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,73}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>replace_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,79},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,73}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>replace_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,156},{60,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,73}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>replace_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{56,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{56,73}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>replace_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,73}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>repalceCardRes.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b70bc4cab01dbd3c3aeaad40a00c9a4:1/1$</string>
            <key>textureFileName</key>
            <string>repalceCardRes.png</string>
        </dict>
    </dict>
</plist>
