<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FiveBei.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,92},{78,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,28}}</string>
                <key>sourceSize</key>
                <string>{78,28}</string>
            </dict>
            <key>FiveBei_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,92},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>FiveOneOne.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,485},{100,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
            <key>FiveOneOne_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,62},{102,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,28}}</string>
                <key>sourceSize</key>
                <string>{102,28}</string>
            </dict>
            <key>ModeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,90},{99,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,50}}</string>
                <key>sourceSize</key>
                <string>{99,50}</string>
            </dict>
            <key>ModeBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,32},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ModeClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,122},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>ThreeCaiDiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,32},{124,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,28}}</string>
                <key>sourceSize</key>
                <string>{124,28}</string>
            </dict>
            <key>ThreeCaiDiao_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,32},{126,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,28}}</string>
                <key>sourceSize</key>
                <string>{126,28}</string>
            </dict>
            <key>ThreeOneOne.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{100,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
            <key>ThreeOneOne_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,62},{102,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,28}}</string>
                <key>sourceSize</key>
                <string>{102,28}</string>
            </dict>
            <key>fiveZiMo.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{126,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,28}}</string>
                <key>sourceSize</key>
                <string>{126,28}</string>
            </dict>
            <key>fiveZiMo_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{128,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,28}}</string>
                <key>sourceSize</key>
                <string>{128,28}</string>
            </dict>
            <key>pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{708,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,481}}</string>
                <key>sourceSize</key>
                <string>{708,481}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>typeSel.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f28e3bd594ffb3393c6d615a25b8a84b:1/1$</string>
            <key>textureFileName</key>
            <string>typeSel.png</string>
        </dict>
    </dict>
</plist>
