<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bankerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,224},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,317},{44,41}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,34},{44,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>bg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,159},{50,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,63}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>btn_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,300},{95,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{95,88}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,317},{91,84}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{91,84}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,387},{95,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{95,86}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,390},{87,88}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{87,88}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{91,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{91,88}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>btn_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{91,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,103}}</string>
                <key>sourceSize</key>
                <string>{91,103}</string>
            </dict>
            <key>btn_tingCancle.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,300},{85,103}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,103}}</string>
                <key>sourceSize</key>
                <string>{91,103}</string>
            </dict>
            <key>caiShen.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,271},{44,41}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,34},{44,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>gamesetBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,296}}</string>
                <key>sourceSize</key>
                <string>{442,296}</string>
            </dict>
            <key>gamesetBtn1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,442},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>gamesetBtn1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,403},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>gamesetBtn2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,403},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>gamesetBtn2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,363},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>gamesetBtn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{155,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{155,52}</string>
            </dict>
            <key>playerStatus_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,224},{18,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>playerStatus_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,244},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playRes.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03688f4bc0014771b991a860969569fc:1/1$</string>
            <key>textureFileName</key>
            <string>playRes.png</string>
        </dict>
    </dict>
</plist>
