<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>btnGoonN.png</key>
<dict>
<key>frame</key>
<string>{{488,641},{160,68}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{160,68}}</string>
<key>sourceSize</key>
<string>{160,68}</string>
</dict>
<key>dianpao.png</key>
<dict>
<key>frame</key>
<string>{{0,641},{159,113}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{159,113}}</string>
<key>sourceSize</key>
<string>{159,113}</string>
</dict>
<key>gameEndBg.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{960,640}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{960,640}}</string>
<key>sourceSize</key>
<string>{960,640}</string>
</dict>
<key>hu.png</key>
<dict>
<key>frame</key>
<string>{{0,857},{113,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{113,128}}</string>
<key>sourceSize</key>
<string>{113,128}</string>
</dict>
<key>huangzhuang.png</key>
<dict>
<key>frame</key>
<string>{{321,641},{166,98}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{166,98}}</string>
<key>sourceSize</key>
<string>{166,98}</string>
</dict>
<key>lose.png</key>
<dict>
<key>frame</key>
<string>{{0,755},{160,101}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{160,101}}</string>
<key>sourceSize</key>
<string>{160,101}</string>
</dict>
<key>win.png</key>
<dict>
<key>frame</key>
<string>{{160,641},{160,105}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{160,105}}</string>
<key>sourceSize</key>
<string>{160,105}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>gameEnd_0.png</string>
<key>size</key>
<string>{1024,1024}</string>
<key>TextureFileName</key>
<string>gameEnd_0.png</string>
</dict>
</dict>
</plist>
