<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cp_facelight.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,197},{72,193}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,193}}</string>
                <key>sourceSize</key>
                <string>{74,195}</string>
            </dict>
            <key>cp_facenomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{72,193}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,193}}</string>
                <key>sourceSize</key>
                <string>{74,195}</string>
            </dict>
            <key>cp_line01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{60,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,3}}</string>
                <key>sourceSize</key>
                <string>{60,3}</string>
            </dict>
            <key>cp_sp9_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,34}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>cp_talklight.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,193}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,193}}</string>
                <key>sourceSize</key>
                <string>{74,195}</string>
            </dict>
            <key>cp_talknomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,195}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,195}}</string>
                <key>sourceSize</key>
                <string>{74,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chatPop.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:686fdc70a459afd8e3b64a798ca631bc:1/1$</string>
            <key>textureFileName</key>
            <string>chatPop.png</string>
        </dict>
    </dict>
</plist>
