<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_to.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{747,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{747,59}}</string>
                <key>sourceSize</key>
                <string>{747,59}</string>
            </dict>
            <key>button11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,63},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>button11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>button9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>button9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>waitPass.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,133},{148,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,31}}</string>
                <key>sourceSize</key>
                <string>{148,31}</string>
            </dict>
            <key>waitStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{192,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{192,38}}</string>
                <key>sourceSize</key>
                <string>{192,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baseRes.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aae059569494f67b6b7ce491ca8c541c:1/1$</string>
            <key>textureFileName</key>
            <string>baseRes.png</string>
        </dict>
    </dict>
</plist>
