<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,188},{56,58}}</string>
                <key>offset</key>
                <string>{-47,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,108},{56,58}}</string>
                <key>sourceSize</key>
                <string>{380,250}</string>
            </dict>
            <key>dp_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,692},{306,242}}</string>
                <key>offset</key>
                <string>{37,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{306,242}}</string>
                <key>sourceSize</key>
                <string>{380,250}</string>
            </dict>
            <key>dp_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,812},{290,216}}</string>
                <key>offset</key>
                <string>{28,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,26},{290,216}}</string>
                <key>sourceSize</key>
                <string>{380,250}</string>
            </dict>
            <key>dp_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1164},{244,138}}</string>
                <key>offset</key>
                <string>{9,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,90},{244,138}}</string>
                <key>sourceSize</key>
                <string>{380,250}</string>
            </dict>
            <key>dp_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{244,136}}</string>
                <key>offset</key>
                <string>{9,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,92},{244,136}}</string>
                <key>sourceSize</key>
                <string>{380,250}</string>
            </dict>
            <key>dp_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1030},{244,138}}</string>
                <key>offset</key>
                <string>{9,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,100},{244,138}}</string>
                <key>sourceSize</key>
                <string>{380,250}</string>
            </dict>
            <key>dp_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1170},{224,126}}</string>
                <key>offset</key>
                <string>{19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,102},{224,126}}</string>
                <key>sourceSize</key>
                <string>{380,250}</string>
            </dict>
            <key>dp_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1142},{224,126}}</string>
                <key>offset</key>
                <string>{19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,102},{224,126}}</string>
                <key>sourceSize</key>
                <string>{380,250}</string>
            </dict>
            <key>dp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,652},{214,182}}</string>
                <key>offset</key>
                <string>{-45,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,61},{214,182}}</string>
                <key>sourceSize</key>
                <string>{380,250}</string>
            </dict>
            <key>dp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{316,216}}</string>
                <key>offset</key>
                <string>{-25,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,34},{316,216}}</string>
                <key>sourceSize</key>
                <string>{380,250}</string>
            </dict>
            <key>dp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,442},{348,248}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{348,248}}</string>
                <key>sourceSize</key>
                <string>{380,250}</string>
            </dict>
            <key>dp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,400},{358,250}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{358,250}}</string>
                <key>sourceSize</key>
                <string>{380,250}</string>
            </dict>
            <key>dp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{358,250}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{358,250}}</string>
                <key>sourceSize</key>
                <string>{380,250}</string>
            </dict>
            <key>dp_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,374},{374,250}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{374,250}}</string>
                <key>sourceSize</key>
                <string>{380,250}</string>
            </dict>
            <key>dp_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,190},{374,250}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{374,250}}</string>
                <key>sourceSize</key>
                <string>{380,250}</string>
            </dict>
            <key>dp_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,408},{372,250}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{372,250}}</string>
                <key>sourceSize</key>
                <string>{380,250}</string>
            </dict>
            <key>lj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1260},{202,200}}</string>
                <key>offset</key>
                <string>{-99,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{202,200}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>lj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,964},{264,156}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,52},{264,156}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>lj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,840},{264,156}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,52},{264,156}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>lj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{264,156}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,52},{264,156}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>lj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,936},{246,204}}</string>
                <key>offset</key>
                <string>{-77,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{246,204}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>lj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,190},{384,216}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{384,216}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>lj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{384,214}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{384,214}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>lj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,188},{398,210}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{398,210}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>lj_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{394,180}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{394,180}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>lj_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,190},{380,182}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,38},{380,182}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>lj_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1006},{264,156}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,52},{264,156}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>lj_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,848},{264,156}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,52},{264,156}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>zim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{530,186}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{530,186}}</string>
                <key>sourceSize</key>
                <string>{540,220}</string>
            </dict>
            <key>zim_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,998},{244,130}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,53},{244,130}}</string>
                <key>sourceSize</key>
                <string>{540,220}</string>
            </dict>
            <key>zim_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1282},{232,134}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,53},{232,134}}</string>
                <key>sourceSize</key>
                <string>{540,220}</string>
            </dict>
            <key>zim_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1252},{232,136}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,52},{232,136}}</string>
                <key>sourceSize</key>
                <string>{540,220}</string>
            </dict>
            <key>zim_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1122},{232,158}}</string>
                <key>offset</key>
                <string>{-19,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,53},{232,158}}</string>
                <key>sourceSize</key>
                <string>{540,220}</string>
            </dict>
            <key>zim_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,1390},{210,126}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,53},{210,126}}</string>
                <key>sourceSize</key>
                <string>{540,220}</string>
            </dict>
            <key>zim_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1260},{210,126}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,53},{210,126}}</string>
                <key>sourceSize</key>
                <string>{540,220}</string>
            </dict>
            <key>zim_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,836},{210,126}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,53},{210,126}}</string>
                <key>sourceSize</key>
                <string>{540,220}</string>
            </dict>
            <key>zim_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{528,186}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{528,186}}</string>
                <key>sourceSize</key>
                <string>{540,220}</string>
            </dict>
            <key>zim_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{518,186}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{518,186}}</string>
                <key>sourceSize</key>
                <string>{540,220}</string>
            </dict>
            <key>zim_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,2},{418,184}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,21},{418,184}}</string>
                <key>sourceSize</key>
                <string>{540,220}</string>
            </dict>
            <key>zim_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,652},{316,186}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,18},{316,186}}</string>
                <key>sourceSize</key>
                <string>{540,220}</string>
            </dict>
            <key>zim_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,660},{332,186}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,18},{332,186}}</string>
                <key>sourceSize</key>
                <string>{540,220}</string>
            </dict>
            <key>zim_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,626},{338,184}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,20},{338,184}}</string>
                <key>sourceSize</key>
                <string>{540,220}</string>
            </dict>
            <key>zim_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1130},{238,128}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,53},{238,128}}</string>
                <key>sourceSize</key>
                <string>{540,220}</string>
            </dict>
            <key>zim_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1122},{244,128}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,53},{244,128}}</string>
                <key>sourceSize</key>
                <string>{540,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animationGameEnd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:759749f47896597cfb5ba02feed7ae96:1/1$</string>
            <key>textureFileName</key>
            <string>animationGameEnd.png</string>
        </dict>
    </dict>
</plist>
